[2019-10-24 11:37] andyb-esdm commented on #87
@JordanPinder Thanks for that. We'll make the change locally then get you up to date (potentially with help from DDS team). Will be in touch soon!

[2019-10-24 15:09] andyb-esdm commented on #87
@HelenwoodsJNCC @JordanPinder
@SimonAnnetts has updated the API and database schema and I've updated the mapper. So default order for visible layers is now implemented when the map first loads.

There's a new column in the Layer table called LayerDefaultOrder. This is a numeric value that defaults to 0. When visible layers are loaded from the api, the mapper will sort all visible layers in ascendi

[2019-10-24 15:41] jonparsonsjncc commented on #87
Hi Andy

I will pick this up with the team

Jon

From: Andy Brewer <notifications@github.com>
Sent: 24 October 2019 16:10
To: jncc/web-mapper-core <web-mapper-core@noreply.github.com>
Cc: Jon Parsons <Jon.Parsons@jncc.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [jncc/web-mapper-core] Support contract (#87)

@HelenwoodsJNCC<https://eur03.safelinks.protection.outlook.com/?url=https%3A

[2019-11-06 14:38] andyb-esdm commented on #87
Hi @mattdebont
The API uses code-first migrations. This means the application updates the database schema (if necessary) when it starts up. So, ideally, the login/user on the connection string in the application configuration (appsettings.json) will have alter database rights on the database. I believe that connection string will be called 'JNCCWebApiDatabase' in the appsettings and you can get th

[2019-11-14 15:21] HelenwoodsJNCC opened #93 "Highlighting features"
We briefly discussed this in issue #87 but we would like to revisit this issue now some of the smaller support contract issues are closed.

As a reminder we would like to be able to highlight a feature when it is clicked on in the mapper (i.e. those features which are shown in the FeatureInfo window). @andyb-esdm @JamesPe did you ever determine if this was a possibility using WMS or is there a req

[2019-11-14 15:35] HelenwoodsJNCC opened #94 "Hierarchical filtering"
We briefly discussed this in issue #87 but we would like to revisit this issue now some of the smaller support contract issues are closed.

As a reminder we would like to be able to allow filter selections to include all habitats are finer detail (i.e. child habitats). For example, filtering by A4.1 should return A4.11, A4.12, A4.13 etc. @andyb-esdm you mentioned this would probably need a databas

[2019-11-14 16:20] JamesPe commented on #93
I have done similar in the past but I really can't recommend it.  Somehow you have to identify the polygon on the image that you have selected and then get geoserver to apply a different styling to it (probably requires it bring brought in as a new WMS layer ontop of everything else).  So it definitely requires map requery and refresh.

Compared to WFS where you just highlight the polygon that alr

[2019-11-15 10:34] andyb-esdm commented on #93
@HelenwoodsJNCC @JamesPe
Yes this is a bit tricky with a WMS.

- You could do a separate WMS request with a CQL_FILTER of the bounding box of your click and overlay it on the map (using a different legend). This is James suggestion above.
- GetFeautreInfo can also return features in GeoJSON format, which we could overlay as a vector layer. Unfortunately, it's low resolution (see image below) so it

[2019-11-19 10:18] andyb-esdm commented on #94
@HelenwoodsJNCC Sorry for the delay in my reply.
Yes. I think the database change would be limited to a parent field in the lookup table, referencing the parent habitat. Then we'd build a tree from the data in a new filter component. The user would need to be able to select/deselect nodes and (optionally) all of their children.

- For the filtering itself, the filter control would add all the sele

[2019-11-21 09:39] helen-lillis commented on #94
@andyb-esdm regarding the second bullet point - this shouldn't be a problem. It only goes from A1-A8.

[2019-11-21 10:21] andyb-esdm commented on #94
@helen-lillis Thanks. That's good to know. Ideally, the hierarchy wouldn't be dependent upon the code itself, but that option might prove to be simplest and most practical.

[2019-11-22 10:14] HelenwoodsJNCC commented on #93
@andyb-esdm @JamesPe thanks both. Sounds like we would need to develop this using WFS. We don't currently have WFS layers enabled on the MPA mapper, @JordanPinder @helen-lillis are the EMODnet layers available as WFSs?

[2019-11-29 10:43] JordanPinder commented on #93
@HelenwoodsJNCC @helen-lillis @andyb-esdm @JamesPe morning all! Yes the EMODnet GeoServers have WFS enabled but only on our "public" workspaces (i.e. https://ows.emodnet-seabedhabitats.eu/emodnet_open/wfs, https://ows.emodnet-seabedhabitats.eu/emodnet_open_maplibrary/wfs), whereas we have all public and view only data held on our WMS workspaces (https://ows.emodnet-seabedhabitats.eu/emodnet_view/w

[2019-12-05 14:55] jonparsonsjncc commented on #87
Hi @andyb-esdm wondering if you are free for a call to discuss this

[2019-12-10 09:52] HelenwoodsJNCC commented on #94
@andyb-esdm we are happy to proceed with the implementation of this.

[2019-12-10 09:55] andyb-esdm commented on #94
@HelenwoodsJNCC Okay. Thanks. I'll schedule it in (and let you know).

[2019-12-10 10:01] HelenwoodsJNCC commented on #93
@andyb-esdm - your option 3 above (GetFeature request) sounds like a good balance to me @JordanPinder @helen-lillis do you agree or would you rather option 4? Is there anything we need to do at our end for this other than have the WFS enabled?

A couple of other questions:
Would this work on the top layer only or potentially all the layers that are switched on?
Are there a lot of changes required

[2019-12-10 10:25] andyb-esdm commented on #93
@HelenwoodsJNCC
I think what we need to do is get all of the WMS layers at the pixel that the user clicks (the mapper already does that) and then call the equivalent GetFeature for the WFS equivalents as well as GetFeatureInfo on the WMS.
Joe, a colleague of mine, has done something similar retrieving equivalent features and using them as a highlight.
When we get the features back, we would add th

[2019-12-10 13:18] HelenwoodsJNCC commented on #93
Thanks @andyb-esdm. Im just wondering how best to set up the highlight layer? I'm guessing we just set up a new selection layer in the api table using the WFS url and create a highlighted style? But we won't be able to specify a layer name in the api table as this will be variable depending on which layers are turned on. Apologies if i'm missing something obvious!

[2019-12-10 13:20] andyb-esdm commented on #93
@HelenwoodsJNCC Sorry I was using the royal 'we', which has confused things. JNCC just need to make the WFS services available from geoserver. The highlight layer will be a client side map layer in the mapper itself (my problem).

[2019-12-10 13:21] HelenwoodsJNCC commented on #93
@andyb-esdm phew, thanks for clarifying!

[2019-12-12 07:47] jonparsonsjncc commented on #87
Hi @andyb-esdm
after our catch up last week - wondering if you are ready to do a push today to test everything out
let me know
thanks

[2019-12-12 09:44] helen-lillis commented on #93
Hi @HelenwoodsJNCC I have no preference!

[2019-12-12 11:24] #18 closed

[2019-12-12 11:24] #33 closed

[2019-12-12 11:25] #52 closed

[2019-12-12 12:21] andyb-esdm commented on #87
HI @jonparsonsjncc tried calling you and have emailed.

[2019-12-12 14:58] hughlewiswright commented on #93
Helen is on leave from tomorrow so I'll try to cover in her absence if something crops up (with Jordan's help)

[2019-12-18 09:08] jonparsonsjncc commented on #87
@andyb-esdm @mattdebont
Now the permissions have been set and the process works
we will lock down these permissions again for security
@andyb-esdm let us know when you need to run the process again and we will put the permissions back
hope this resolves this ticket and we are all happy to close it

[2019-12-18 09:08] #87 closed

[2020-01-08 16:11] HelenwoodsJNCC commented on #93
Hi @andyb-esdm just checking in to see if you need anything further from us before you proceed?

[2020-01-08 16:17] andyb-esdm commented on #93
HI @HelenwoodsJNCC Yes. We need WFS layers enabled on the MPA server.  I can pick this up with someone who manages the layers if you like.
@JamesPe does this solution sound okay to you?
https://github.com/jncc/web-mapper-core/issues/93#issuecomment-563968070

[2020-01-08 16:23] HelenwoodsJNCC commented on #93
Hi @andyb-esdm I think the plan was to test this using a set of Emodnet layers which are already WFS enabled - right @JordanPinder? Not all of the MPA layers can be WFS enabled and we haven't yet divided them up.

[2020-01-08 16:26] andyb-esdm commented on #93
@HelenwoodsJNCC Sorry I didn't pick up on that from the earlier comments. In that case, I can test against the EMODnet layers.

[2020-01-10 08:03] HelenwoodsJNCC commented on #94
@andyb-esdm great thanks. Just let us know if you need anything from us.

[2020-01-24 10:19] andyb-esdm commented on #93
@HelenwoodsJNCC I did some prototyping work on highlighting clicked features yesterday.

1. For EMODnet at least, the WMS are organised into layer groups on geoserver. This is so tiles of appropriate resolutions can be displayed at different zoom levels. So it's the layer group - not a specific layer - in the mapper's layer configuration. GetFeature for WFS needs a specific layer. So I think we ne

[2020-01-24 10:28] andyb-esdm commented on #93
Hmm. It does matter what resolution WFS we use. I can't select these red polygons because they aren't there in the underlying 800m generalised layer.

![image](https://user-images.githubusercontent.com/31621682/73062322-064ccd80-3e94-11ea-9fac-11bb8c7007bc.png)

But it works exactly right with full resolution

![image](https://user-images.githubusercontent.com/31621682/73062412-401dd400-3e94-11ea-

[2020-01-24 12:09] GMDuncan commented on #93
hi @andyb-esdm . Sorry, I'm coming into this halfway so I'm fairly certain it'll have been answered previously, but I'm intrigued as to why this isn't being handled with a duplicate WMS call with added filter parameters.

Pulling out a single polygon based on a click should... I think be handleable but the INTERSECTS([geom_column], [intersect_geometry) filter. So for the layer that is being "selec

[2020-01-24 12:35] andyb-esdm commented on #93
You're a bit late to the party @GMDuncan ;)

We did originally consider this approach but settled upon a single WFS highlight layer (see discussion at top of this issue and https://github.com/jncc/web-mapper-core/issues/87#issuecomment-518169937).
But given the complexities we've hit with WFS, it might be worth revisiting using WMS with the already applied filter and a point intersect clause.
This

[2020-01-24 13:11] GMDuncan commented on #93
Completely agree with EMODnet multiple layers being a bit of an issue!

Also, picking holes in my own thoughts here - one problem I can see is that I think GeoServer puts a buffer around a getfeatureinfo request by default (something like 2 or 5 pixels?).
As the CQL intersects method above uses an (unbuffered) point, it may be that you get feature info back without a corresponding highlight if you

[2020-01-24 15:20] helen-lillis commented on #93
If you set it to only select the layer on top, could you just clarify how that would work, considering that different layers will have different extents? Would it:
a) select whatever feature is on top at the selected location, or
b) only try to select from the layer that is on top in the layer order, even if it doesn't have any polygon at that location?

Ideally it would be (a), as (b) would be co

[2020-01-24 15:31] andyb-esdm commented on #93
There's a method on the map called forEachLayerAtPixel and we use it for GetFeatureInfo. It tests which layers have a colour value at the pixel. So the first layer you get would be the top layer with a feature (a) ... I think!
I haven't actually tested to see if it's the top layer first so I shouldn't assume that. But we do know the layer order in the active layers array so that could be worked ou

[2020-01-27 08:11] HelenwoodsJNCC commented on #93
Thanks for digging into this. I am happy for you to keep working on this @helen-lillis would you agree? Do you think it is worth digging into the WMS option or has Graeme managed to talk himself/you out of it?

I agree it's a bit confusing that the feature info pane returns everything but the highlighting will only be the top layer. However since that top entry in the feature info pane corresponds

[2020-01-27 09:10] helen-lillis commented on #93
Yes happy to keep going, thanks for the response Andy.

[2020-01-27 09:25] andyb-esdm commented on #93
@helen-lillis @HelenwoodsJNCC Okay. You can have any styling you want for WFS. Or, if we opt to go WMS, then I think you can create a style on geoserver (again anything you want). I'll continue the conversation with @GMDuncan before I start on it again.

[2020-01-27 10:55] GMDuncan commented on #93
Happy to book in a quick slot at some point to discuss @andyb-esdm if you want (though I'm really not very up to speed with current web mapping tech - I know just about enough to go "oo that looks interesting" and then generally find out it's the wrong option ;) )

[2020-01-28 14:36] JordanPinder commented on #55
Hi @JamesPe , sorry to come back to this so late in the year! I've just got a couple queries about WPS.

Within EMODnet there is an increasing need to facilitate the "seamless" dissemination of data to end users. Currently we don't provide WPS to users given it's often intensive computational requirements, but to meet this objective we may need to provide WPS in some instances.

I was wondering if

[2020-01-28 14:41] JamesPe commented on #55
Hi @JordanPinder - I'm afraid I have never used WPS in geoserver - sorry.

I can ask around amongst our devs in case anyone else has - but I don't think it's something we've used.

Could you give us an example of what you are actually trying to achieve ?

[2020-01-28 15:16] JordanPinder opened #95 "Mapper layer search"
Hi guys,

Just wanted to check the possibility of getting a (hopefully) minor addition to the mappers.

We'd be interested in adding a "Layer search" option to allow users the ability to search for all layers within each mapper, click a matching result and turn that layer on.

I imagine it would have similar functionality to the gazetteer with text matching, although such functionality might only

[2020-01-28 15:27] andyb-esdm commented on #95
Hi @JordanPinder
Yes. We could use the same type of control as the gazetteer but set its data source to the list of layers in the configuration, then make the layer active on click. I guess that might look right above the layer hierarchy in the left panel.
I don't think that would take more than a few hours but I will estimate it properly when I next look at the code. That will be this week when w

[2020-01-30 15:23] JordanPinder commented on #95
Yup pretty much what we had in mind :) let me know what you come across.

[2020-01-30 15:24] JordanPinder opened #96 "BBox search and download"
Back again!

Just a couple others I missed off - the ability to search for layers and download data by a user-defined bounding box.

I imagine downloading data might be similar to using WFS intersect filter that was discussed in the [hierarchical filtering issue](https://github.com/jncc/web-mapper-core/issues/93#issuecomment-578071150), but obviously would need to have a consistent "geom" column a

[2020-01-30 15:55] JordanPinder commented on #55
@JamesPe I guess it would mainly be focused on geometric processing (i.e. clipping, intersect two different layers etc.), but also potentially process chaining.

[2020-02-12 15:06] andyb-esdm commented on #93
@HelenwoodsJNCC @GMDuncan @JordanPinder @helen-lillis
Hi all, I tried the WMS approach yesterday.
When you click on the map, the code checks through all the layers under that click, selects the top one and then creates a new layer source for a highlight layer. This source is filtered by a cql_filter which filters geometries that intersect the point you click as @GMDuncan suggested.

This worked we

[2020-02-12 15:39] andyb-esdm commented on #93
Hang on. Writing all that prompted me to look again. We hadn't set the srid on our test layer. I changed it to this:

![image](https://user-images.githubusercontent.com/31621682/74350301-72dd2d00-4dad-11ea-9abe-a1794a7dcbc1.png)

And it works! This returns a tile that is filter by cql_filter and viewParams.

http://jnccdev-geo.esdm.co.uk/geoserver/emodnet/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetM

[2020-02-12 15:59] andyb-esdm commented on #93
Correction from @SimonAnnetts
You don't have to clone the layers themselves - just layer groups. One with standard styling and one with the highlighted styling and a predictable suffix e.g. _highlight.
For individual layers, just create a new layer group containing it with the original name and the _highlight suffix (plus new highlight styling).

Alternatively we could have something in the layer

[2020-02-14 03:36] Lufias505 opened #97 "QGIS ERROR WFS LAYER"
Hi.

I want to ask for help. Recently, I just add my data in geoserver (.shp) then I want to export it into QGIS. But when I try to do that using WFS layer, suddenly this error pop-up:-

![qgis error](https://user-images.githubusercontent.com/61037258/74499266-1f3e2100-4f1e-11ea-8657-a5aba3e40daf.jpg)

"Layer BantingSepang:N84E40_ROAD_BACKPACK: Download of features for layer BantingSepang:N84E40_R

[2020-02-14 10:26] #97 closed

[2020-02-14 15:21] helen-lillis commented on #93
@HelenwoodsJNCC are you able to respond to this? I think this is more for the MPA mapper than EMODnet so I suppose it's up to you to balance up the benefits vs the potential faff of having to duplicate layer groups every time we add or update a layer.

[2020-02-14 16:48] GMDuncan commented on #93
Just a last-ditch probably stupid question to avoid layer/group duplication.... No idea if it's sensibile, but thought I'd write it down in case I forget it...

Would it be possible to use geoserver's environment parameters to do this? for example if you're requesting a layer highlighted, **as well as the filter** you would do something like:

`&env=highlight:yes`

Then in every SLD (which should

[2020-02-16 16:54] GMDuncan commented on #93
Passing through this in the URL

`&env=highlight:True
`
Seems to work in combination with all the CQL above and the following SLD rule at the bottom of the style.

`        <se:Rule>
          <se:Name>Selected Feature</se:Name>
          <ogc:Filter xmlns:ogc="http://www.opengis.net/ogc">
            <ogc:PropertyIsEqualTo>
					<ogc:Function name="env">
					   <ogc:Literal>highlight</ogc:Litera

[2020-02-17 09:04] HelenwoodsJNCC commented on #93
@helen-lillis the MPA mapper only has two layer groups and these are both pretty small so it wouldn't be a major issue for us to duplicate the data if required. Are there many EMODnet layer groups? Although perhaps this isn't necessary given @GMDuncan comments above - @andyb-esdm what do you think of the above?

[2020-02-17 09:31] helen-lillis commented on #93
Yes I think so. @JordanPinder can confirm.

[2020-02-24 17:35] HelenwoodsJNCC commented on #93
@andyb-esdm just to confirm would the hightlighting features option be the default for all layers? or is it something we could turn on/off in the api?

[2020-02-24 17:48] andyb-esdm commented on #93
@HelenwoodsJNCC sorry for not replying quickly to earlier comments. I haven't investigated (read understood @GMDuncan's comment). We can definitely make this configurable. We could do it on the MapInstance configuration of the api or the config files in assets. I think it would be better as an extra column on the mapinstance table and available over the api.

[2020-03-03 09:33] HelenwoodsJNCC commented on #93
@andyb-esdm happy to have this option added into the api. Just to confirm since it will only be the top layer that is highlighted, there isn't any way of flagging which record is highlighted in the Get feature info pop-up is there?

[2020-03-03 09:41] andyb-esdm commented on #93
@HelenwoodsJNCC Okay. We'll tweak the API.
There should be a way to highlight the top layer in the feature info because each is made as a separate request so you get a separate bit of html back for each. I'll have a look at options when I finish this feature off.

[2020-03-30 14:36] andyb-esdm commented on #93
@HelenwoodsJNCC Just a quick update. I have the highlighting working okay today. Needed to take into account users switching layers on and off and reordering them. I still need to provide you with the api option to use it and we need to test against our development '_highlight' layers and groups. Oh and a bit of documetation too!
I'll speak to @SimonAnnetts this week to get this finished off on th

[2020-03-30 14:58] HelenwoodsJNCC commented on #93
Thanks for the update @andyb-esdm, looking forward to having a play around with it. Hope you are keeping well!

[2020-04-02 10:36] SimonAnnetts commented on #93
AllowLayerHighlight field added to the MapInstance table. This comes out in the JSON as allowLayerHighlight. Visible here: http://jnccdev-api.esdm.co.uk/api/mapinstance/emodnet

I'll create some highlighted layers on our test geoserver now for demo and testing purposes.

[2020-04-03 11:04] JordanPinder opened #99 "Update mapper font and font size"
Hi Andy,

The EMODnet project is needing us to adhere to some very specific visual identify guidelines. One of the things they've picked up is that our mapper is not in the font and font size as specified by the project (below).

![image](https://user-images.githubusercontent.com/30415162/78246807-a6048880-74e1-11ea-9e1c-b54346291f6d.png)

Would it be possible to get the font of the EMODnet mapper

[2020-04-03 11:54] andyb-esdm commented on #99
Hi @JordanPinder Yes. I can do that.

[2020-04-20 14:52] HelenwoodsJNCC commented on #93
Hi @andyb-esdm @SimonAnnetts should I be seeing the highlighting on your test instance: https://jnccdev-map.esdm.co.uk/?

[2020-04-20 14:56] andyb-esdm commented on #93
@HelenwoodsJNCC Sorry I haven't pushed the changes! Will check it all works and let you know when available (today).

[2020-04-20 14:58] HelenwoodsJNCC commented on #93
@andyb-esdm Thanks!

[2020-04-20 16:46] andyb-esdm commented on #93
@HelenwoodsJNCC It's deployed now. Sorry about that.
1. Our highlight styling leaves a bit to be desired but you can choose your own by creating layers/groups with the _highlight suffix. All layers where highlighting is allowed must have a duplicate with _highlight by the way.
2. It also highlights the layer in the getfeatureinfo panel. This isn't particularly lovely at the moment either (a red ba

[2020-04-28 08:45] HelenwoodsJNCC commented on #93
Thanks @andyb-esdm. A few thoughts on the above:
1.  The duplicate _highlight is this a full duplication of data plus a highlight style? I presume this doesn't need adding to the api in any way it just gets called when clicked?
2. With the GetFeatureInfo highlight could we try adding text to say 'selected' and possibly have horizontal red lines at the top and bottom of the selected rather than alo

[2020-04-28 09:04] SimonAnnetts commented on #93
@HelenwoodsJNCC
You do not need to duplicate single layers for highlighting. Just create a new layer group with the name of the original layer and the suffix '_highlight', and add the original layer to this group. Then you can override the style of the layer in the layer list in the group to say 'green'.

For a layer that is a layer group already, unfortunately you do need to create a new layer gr

[2020-04-28 09:17] andyb-esdm commented on #93
1. Thanks @SimonAnnetts
2. Okay I'll try that
...
4. Okay. I'll do that next.

[2020-05-12 07:42] HelenwoodsJNCC commented on #93
@SimonAnnetts thanks for the clarification. That is simple enough to implement,  How are the other changes coming along @andyb-esdm ?

[2020-05-12 13:45] andyb-esdm commented on #93
@HelenwoodsJNCC I'm working on a generic hierarchical filter control/tree (#94) that we can use for the mapper (and in another project). Next time I update the test site, I'll update the font to Opens Sans too (#99).

[2020-05-14 15:48] JordanPinder commented on #95
Hi @andyb-esdm, seems this dropped off my radar! Just wondering if you managed to look into this?

[2020-06-15 09:32] andyb-esdm commented on #99
@JordanPinder can you direct me to the style guide in the screenshot for this issue please? I think you told me before but I don't  have it to hand. Thanks.

[2020-06-15 09:39] andyb-esdm commented on #95
@JordanPinder started work on this now.

[2020-06-15 13:34] JordanPinder commented on #99
[EMODnet_Visual_IdentityGuidelines.pdf](https://github.com/jncc/web-mapper-core/files/4780540/EMODnet_Visual_IdentityGuidelines.pdf)
I can't remember whether I sent it as an email so I've attached it here :) let me know if you need anything else.

[2020-06-15 14:21] andyb-esdm opened #102 "Updating jncc web mapper dependencies"
@HelenwoodsJNCC @JordanPinder @GMDuncan

I've created this issue to cover the library updates I said I would do for this round of work.
I've updated Angular (the main javascript framework we are using) to the latest version and its dependencies. That went fine.
I also tried updating OpenLayers to v6.3.1, which is the latest version (we're currently using 4.6.5).
The update itself went okay in that

[2020-06-15 16:13] andyb-esdm commented on #95
@JordanPinder This is implemented now and I've deployed to https://jnccdev-map.esdm.co.uk/ for testing.
There is a search box at the top of the left hand layers panel. It autocompletes on layer name. It will zoom you to the layer extent when you select a layer.

[2020-06-16 09:14] andyb-esdm commented on #99
@JordanPinder @HelenwoodsJNCC

I've replaced Montserrat font with Open Sans throughout - unfortunately this isn't something configurable in the customisable CSS currently. But I don't think it changes the look of the site too much. Let me know if MPA mapper _does_ want to stick with Montserrat and I'll change the CSS structure.
All caps in the titles of the panels leaves the letter spacing a bit c

[2020-06-16 09:20] andyb-esdm commented on #94
@HelenwoodsJNCC @GMDuncan
Could you send me a real habitat hierarchy that I can build a tree from for the filter control? It would be good to have something 'real'. Thanks.

[2020-06-16 09:28] GMDuncan commented on #94
What format/structure would you like it in?

[2020-06-16 09:31] andyb-esdm commented on #94
Hi @GMDuncan Thanks.
'Ideally' an ID, Code, ParentID and Description
But I can handle Code, ParentCode, Description
Text, Excel, JSON are fine.
Once I have a tree building from it, we can discuss how it will work with regards to the filters.

[2020-06-16 09:35] HelenwoodsJNCC commented on #95
@andyb-esdm seems to be working for me - zooms to the correct layer and turns it on. Does the search box use information from the layers api table?

[2020-06-16 09:36] andyb-esdm commented on #95
@HelenwoodsJNCC Hi - yes. After the layers are loaded from the API configuration, it populates the dropdown with them. So it's different for each map instance. Searching is by the name field.

[2020-06-16 09:52] GMDuncan commented on #94
Try this one.

[eunis_hierarchy2.txt](https://github.com/jncc/web-mapper-core/files/4785829/eunis_hierarchy2.txt)

[2020-06-16 09:53] JordanPinder commented on #95
Looks great, thanks @andyb-esdm. I'm happy for it to go to production, are you @HelenwoodsJNCC ?

[2020-06-16 10:00] HelenwoodsJNCC commented on #95
@JordanPinder @andyb-esdm - Yes I am happy for it to go to production too. Thanks Andy!

[2020-06-16 10:03] andyb-esdm commented on #95
Okay. Thanks.

[2020-06-16 10:04] andyb-esdm commented on #94
@GMDuncan Looks perfect. Thanks for your quick response.

[2020-06-18 15:00] JordanPinder commented on #99
Thanks @andyb-esdm - personally I'd prefer size 12 font as it's a little clearer and less noisy, is it possible to keep size 12?

@HelenwoodsJNCC just double checking whether you need/want any of these font changes on the MPA mapper? If not then don't worry :)

[2020-06-18 15:06] andyb-esdm commented on #99
@JordanPinder I agree but the original issue was to change font and font-size. The EMODnet guidance said minimum 14px. I'm happy to change it back if we can get away with it!

It is easier to stick with Open Sans with both mappers (Montserrat is only used for the headings). Otherwise I'll need to change how the customisable css works (which I'm happy to do if you need it).

[2020-06-18 15:09] andyb-esdm commented on #99
for info
![image](https://user-images.githubusercontent.com/31621682/85038057-0b315700-b17e-11ea-83ec-d647e2e8366c.png)

[2020-06-24 13:50] #66 closed

[2020-06-24 17:45] andyb-esdm commented on #94
I've bound the EUNIS classification to a test tree filter control and created a test panel for it (thanks @GMDuncan for the data). It's pretty large so still needs some styling to fit in with the filter controls - or perhaps this should pop up. I'll speak to @SimonAnnetts about representing the hierarchy in the database and returning it via the API. We also need to decide how this will work with t

[2020-07-20 11:30] andyb-esdm commented on #99
It looks much better at 12px. I've reverted that change.

[2020-07-22 13:06] HelenwoodsJNCC commented on #93
@andyb-esdm just wondering if you had had a play around with implementing point 2 above?

[2020-07-22 13:08] HelenwoodsJNCC commented on #99
@JordanPinder sorry your question passed me by. We don't need any specific font changes for the MPA mapper. Is this issue resolved?

[2020-07-22 13:58] andyb-esdm commented on #93
@HelenwoodsJNCC Sorry do you mean indicating the layer that is highlighted in GetFeatureInfo? I added a red border to the layer. It isn't ideal really is it?
![image](https://user-images.githubusercontent.com/31621682/88185201-909ba180-cc2b-11ea-8b9c-f9a490b59bca.png)

[2020-07-22 14:05] HelenwoodsJNCC commented on #93
@andyb-esdm I think the plan was to try and make it a bit more obvious which was the selected by: adding text to say 'selected' at the top and possibly have horizontal red lines at the top and bottom of the selected rather than along the left hand side?

[2020-07-22 14:18] andyb-esdm commented on #93
@HelenwoodsJNCC I hit a bit of a problem with upper and lower borders because the getfeatureinfo content overflows the container that it's in. So borders and background colours stop short of the html that comes back with getfeatureinfo. Why I didn't add a selected layer title, I don't know though. I've added that. Here's a screenshot to illustrate the issue:
![image](https://user-images.githubuser

[2020-07-22 14:19] andyb-esdm commented on #93
I wonder if I can get the container to stretch too ... maybe I didn't try hard enough.

[2020-07-22 14:43] andyb-esdm commented on #93
I can. The side effect of this is that the overflow creates scrollbars for each FeatureInfo that overflows. Borders are still shortened but a background colour applies across the whole container. Would something like this be okay? If so - what colour?!
![image](https://user-images.githubusercontent.com/31621682/88190285-01de5300-cc32-11ea-9e85-6e26ae0ff201.png)

[2020-07-22 14:46] andyb-esdm commented on #93
For feature info that doesn't overflow - this seems to work quite well.
![image](https://user-images.githubusercontent.com/31621682/88190652-6f8a7f00-cc32-11ea-828a-7d125549fa23.png)

[2020-07-22 14:55] andyb-esdm commented on #93
@HelenwoodsJNCC I've deployed this change to https://jnccdev-map.esdm.co.uk/ so you can take a look.

[2020-07-22 15:20] andyb-esdm commented on #102
@HelenwoodsJNCC I don't think it's a good idea to update to OL 6 because of the two issues mentioned above. So please close this if you are happy with the other updates.

[2020-07-22 15:21] andyb-esdm commented on #99
@HelenwoodsJNCC @JordanPinder All fonts now Open Sans and default to 12px.

[2020-07-23 10:46] andyb-esdm commented on #94
@GMDuncan @HelenwoodsJNCC
@SimonAnnetts and I have discussed the  approach for this again.
Changes to the database and API are straightforward.
The filter table will support a new Type (e.g. 'tree' or 'hierarchy')
The lookup table will need a new optional foreign key column ParentId that references LookupId
The API will expose the filter type so that the mapper knows it needs to present the filter

[2020-07-23 11:17] GMDuncan commented on #94
I suppose firstly question mainly for @HelenwoodsJNCC @JordanPinder is this actually a behaviour that you'd want?

Would an alternative which would make the underlying SQL easier, but might increase the complexity of the UI code, be to disable items below a parent when it is selected? Or equally if you unselect an item, the deselection propagates up the ancestors? I suppose built into this @andyb-

[2020-07-23 11:25] andyb-esdm commented on #94
@GMDuncan Currently if you select a parent node, all children etc. are selected too. If you deselect a node, all of its children are deselected but parents/sibliings are unaffected. This is done with a custom function called 'checkNodeAndChildren'. We could equally well have 'checkNodeAndDisableChildren' since the behaviour is under our control. This would only allow the user to select a node and

[2020-07-23 12:33] HelenwoodsJNCC commented on #93
@andyb-esdm - I think it looks much clearer like this. Can we possibly change the header to 'Selected Feature'. I'm almost tempted to say make it a similar colour to the colour used to highlight the feature but maybe paler e.g. Hex:ccffd8 or does that just look hideous?

[2020-07-23 12:35] HelenwoodsJNCC commented on #93
@andyb-esdm or could go down the yellow route as users might be more familiar with this for selections in ArcMap/QGIS

[2020-07-23 12:35] #95 closed

[2020-07-23 12:37] #16 closed

[2020-07-23 12:37] andyb-esdm commented on #93
@HelenwoodsJNCC Have you settled on a colour for the highlighted feature in the map? (You set that as the default style on the _highlight layergroups}. If so, then I can copy that for the background. Yellow would be fine :)

[2020-07-23 12:37] #75 closed

[2020-07-23 12:42] HelenwoodsJNCC commented on #93
@andyb-esdm sorry I forgot that we can set the highlight colour ourselves. Lets go with yellow then. Thanks

[2020-07-23 12:43] #69 closed

[2020-07-23 14:12] andyb-esdm commented on #93
@HelenwoodsJNCC you might change your mind when you see it ... This is a trivial thing to change though so we can tweak this if necessary while I work on other features.

![image](https://user-images.githubusercontent.com/31621682/88296597-d1acb800-ccf6-11ea-984d-787b39240377.png)

[2020-07-23 15:21] GMDuncan commented on #94
Yes that seems sensible to me (though i'm not up-to-date with any nuances).

So selecting A1 would, in effect show any habitats that are A1 or more "detailed" e.g. A1.1, A1.11, A1.2, A1.3 etc. Then in the mapper's business logic, the checked item is fed through to the CQL query. As only A1 is checked and everything else is unchecked (or disabled) this would as you say become a LIKE 'A1*' statement

[2020-07-23 15:32] andyb-esdm commented on #94
@GMDuncan
Yes that's how it would be if selecting a top node meant you included children. I guess this is a business decision more than a technical one though.
Also talked about limiting the number you could select but that would be jarring to the user I suspect.
Posting (instead of getting) the WMS is possible but I think that would be complicated and affect the rest of the application.

We wonde

[2020-07-29 09:43] andyb-esdm commented on #96
@JordanPinder @HelenwoodsJNCC
I've got bounding box downloads working in principle. You can click on an icon on the layer, draw a bounding box and get a shapefile download for the features that intersect it. This is done by setting the output format on a WFS request to shape-zip and adding an intersects filter as was trialled in the highlight features issue.
However, I've just read (and experience

[2020-07-30 10:39] #37 closed

[2020-07-30 10:39] #55 closed

[2020-07-30 10:41] #81 closed

[2020-07-30 10:41] #90 closed

[2020-07-30 10:42] #91 closed

[2020-07-30 10:46] #99 closed

[2020-07-30 10:51] HelenwoodsJNCC commented on #93
Ok thanks @andyb-esdm

[2020-07-30 10:51] #93 closed

[2020-08-05 09:36] andyb-esdm commented on #96
@HelenwoodsJNCC @JordanPinder
Shall we go ahead and make the database configuration change for bbox downloads (a column for the downloadable layer in the group)? Then we can deploy to the esdm test server and you can see what you think.

[2020-08-05 10:22] JordanPinder commented on #96
@andyb-esdm apologies for the delay.

I'm happy with adding a configuration column, makes it nice and simple from our end.

As the datasets are quite large I think some form of restriction would be needed. The maximum area to download seems appropriate, also some GeoServer restriction could be useful as well?

With regards to the features downloaded, this is a quirk I've also come across using WFS

[2020-08-05 10:30] andyb-esdm commented on #96
@JordanPinder No problem!

I think this can 'self-configure'. That is, if the downloadLayer column is populated then show a button on the active layers that allows the user to download by bounding box. Else no button (or download). This way we can implement the functionality for both EMODnet and MPA mappers but it will only be available if you decide to populate that column for specific layers.

A

[2020-08-11 10:24] JordanPinder commented on #96
@andyb-esdm I agree with that approach, seems like the simplest to implement it.

For data limits I think we can go with your suggestion for restriction download to a max area for the time being and try that on test site if that's OK?

Also just a logistic question, do you know if this work is being covered by last years support contract?

[2020-08-11 10:44] andyb-esdm commented on #96
@JordanPinder okay - i'll set the limit to something 'arbitrary' that we can tweak. I'll let you know when it's on the test site.
Yes, this is currently covered by last year's contract.

[2020-08-25 07:17] HelenwoodsJNCC opened #107 "Distance/Area tool"
Hi @andyb-esdm, we are wondering how simple it would be to add a tool to the mappers allowing users to draw a line/polygon to measure a distance or area?

[2020-08-26 08:23] andyb-esdm commented on #107
Hi @HelenwoodsJNCC
There's a nice example of this in the OpenLayers documentation for the version we use (4.6.5). It should return accurate distances and areas by calculating these on a sphere. I don't think it would take very long to adapt this for the mapper.

https://openlayers.org/en/v4.6.5/examples/measure.html

[2020-08-28 08:25] HelenwoodsJNCC commented on #107
@andyb-esdm, sounds good to me @JordanPinder are you happy for this to be actioned? I imagine the tool button could go on the bottom right tool bar near the zoom to coordinates button.

[2020-09-25 14:33] HelenwoodsJNCC commented on #107
@andyb-esdm We are happy to proceed with this. Let us know if you have any questions or when you are ready to test something out.

[2020-09-29 08:11] andyb-esdm commented on #107
@HelenwoodsJNCC okay - I'll fit it in in the next week.

[2020-10-13 15:25] andyb-esdm commented on #107
@HelenwoodsJNCC thought I should update you on this so you know I've been working on it.
The measure tool launches from the toolbar and you can draw lines or polygons from it to measure distances and areas. So it's progressing okay.
Hit a bit of a snag, which is when you click on the map it gets feature info from the layers by default. So you get the side window pop up with feature info - which is

[2020-10-14 12:21] andyb-esdm commented on #107
@HelenwoodsJNCC @JordanPinder
This is implemented now and on the ESDM test site. There is a new button on the toolbar in the bottom right that activates the measure tool. The implementation is similar to the OpenLayers example except that activating the tool puts the map into measure mode (stopping get feature info for instance) and deactivating it puts the map back into 'normal' mode.
I'm not ver

[2020-10-14 12:53] HelenwoodsJNCC commented on #107
@andyb-esdm thanks for the update - I have just had a play around and think it looks great. My only two comments on styling are:
Would it be better if the measure tool popped up in around the same place (or just below) as the zoom to coordinate function? Also if we styled it to look a bit more like the coordinate function could we have a clear button to remove previously drawn areas rather than ha

[2020-10-14 13:35] andyb-esdm commented on #107
@HelenwoodsJNCC Yes. I think those would be easy enough to do. Length, area, clear in a row and the control the same width as zoom to coordinate.

[2020-10-14 16:12] andyb-esdm commented on #107
@HelenwoodsJNCC I've moved the measure tool and adjusted the width (the full width of the zoom to coordinate was too wide). I've also implemented clear functionality. Deployed to test site.

[2020-10-23 08:28] HelenwoodsJNCC commented on #107
@andyb-esdm - Looks good to me, and easier to use this way too. @JordanPinder is on leave at the moment but can check it once he is back and then we should be ready to deploy all the recent developments.

[2020-11-11 11:35] HelenwoodsJNCC opened #108 "Filter tool improvements"
Hi,

Im wondering if it's possible to make a few hopefully simple improvements to the filtering functionality to improve the user experience:
1. When you click on the filter button the pop-up window closes so the user knows something has happened
2. Where there are multiple filter options on a layer is it possible to order the filters? Currently the order of them seems to change - it would be usef

[2020-11-11 14:44] JordanPinder commented on #107
@HelenwoodsJNCC @andyb-esdm apologies, this slipped off my radar. Just had a browse and that tools look nice and simple to use :) happy for them to be deployed.

[2020-11-24 13:25] HelenwoodsJNCC commented on #107
@andyb-esdm can you let us know when you are able to do the deployment? Thanks

[2020-12-01 09:39] HelenwoodsJNCC commented on #108
@andyb-esdm @SimonAnnetts - any thoughts on this?

[2020-12-01 14:29] andyb-esdm commented on #108
@HelenwoodsJNCC sorry for the delay in our reply.
1. This should be easy to change
2. We can add a SortOrder column to the filter table and send a sorted list of filters back to the map.
See #107 for scheduling the work

[2020-12-01 14:32] andyb-esdm commented on #107
@HelenwoodsJNCC Just discussed with @SimonAnnetts about scheduling a deployment and work on #108
We can fit this in next week (say, Thursday). However, I think we'll need to coordinate with @jonparsonsjncc for the deployment since there will be some database updates.
We also need to consider how we finalise #94 and #96 but I can exclude them from the user interface for a deployment next week.

[2020-12-02 07:19] jonparsonsjncc commented on #107
Hi Andy

Hope you are well

This is timely as we wanted to have a call with you to talk through the deployment process – as we are currently building our new “self-healing” geo server environment which will be created through a terraform script and we wanted to look at the deployment process in detail as part of this.

Would you have half an hour for a quick meeting with our dev team to quickly ta

[2020-12-02 16:14] andyb-esdm commented on #107
@jonparsonsjncc I've sent you an email about scheduling a meeting. Speak soon.

[2020-12-10 15:40] andyb-esdm commented on #108
@HelenwoodsJNCC This is implemented now. We're going to discuss deployment later this afternoon with JNCC IT team.

[2020-12-11 11:28] HelenwoodsJNCC opened #109 "Mapper deployment"
Issue to discuss the process, timings and responsibilities for deployment of updates to the JNCC staging mappers.

[2020-12-16 12:06] HelenwoodsJNCC commented on #108
Hi @andyb-esdm, obviously I can't test the filter ordering but the simple apply-close functionality seems to be working fine.

[2020-12-16 12:08] andyb-esdm commented on #108
@HelenwoodsJNCC Simon and I tested this 'live' (he changed the order in the database and then we refreshed the page). So we're pretty confident it works. It uses a similar mechanism to ordering the layers.
If you have any issues when staged we can fix it then - but we should be okay (famous last words ...).

[2021-02-19 15:05] GMDuncan opened #110 "TOC Layer Ordering based off LayerId not LayerOrder EMODnet Seabed Habitats live portal"
The "LayerOrder" field in the Layers table doesn't seem to be respected on the EMODnet Seabed Habitats live site when building the table of contents/layer list, instead, I think LayerId is being used for ordering?

Not sure if this is an fix awaiting deployment or a new issue, as I've only just "returned" to EMODnet :)

Any thoughts @andyb-esdm ?

[2021-02-19 17:26] HelenwoodsJNCC commented on #110
I have just checked and it works fine on the MPA mapper. @andyb-esdm is it possible the fix (see #33) was only added to the MPA mapper branch of the code and not the Emodnet one?

[2021-02-22 13:44] andyb-esdm commented on #110
@HelenwoodsJNCC @GMDuncan Yes. I don't think there has been a deployment to EMODnet for a very long time. @JordanPinder requested some changes to fonts etc before we could deploy but I don't think we ever did.

[2021-02-22 13:57] GMDuncan commented on #110
Thanks @andyb-esdm

[2021-03-09 08:04] #110 closed

[2021-06-08 12:31] SimonAnnetts opened #119 "Update Web-Api to dotnet core 3.1"
There might be some issues around finding the right nuget package versions and JSON libraries.

I will be sticking with Newtonsoft.Json as it supports serialising models that have a circular or semi circular structure. This is something that in core 3.1 the new MS System.Text.Json does not support yet.

[2021-06-08 13:56] SimonAnnetts commented on #119
only basic testing of the API and crud pages done so far.

[2021-06-08 13:59] SimonAnnetts commented on #119
Our test server will need updating to the dotnet core 3.1 SDK before I can push the build to that.

[2021-06-10 11:20] SimonAnnetts commented on #119
Actually, I will be building a new dev server for this in our London data-centre (the existing dev server is in France). The implications of this will be that we will no longer be able to push code updates from our dev server to yours, but I think we agreed at the last meeting that this was no longer necessary because you'd be building from source with a CI process connected to Github ??

[2021-06-10 11:54] mattdebont commented on #119
Do we have an idea on how we are working with branches on this r.e. MPA mapper / Emodnet mapper splits

[2021-06-10 12:41] HelenwoodsJNCC commented on #119
@SimonAnnetts just to confirm we are happy for this to go ahead under this years support contract. If you can just let us know once  the updates are done and they are ready to be deployed.

[2021-06-11 17:30] andyb-esdm commented on #119
@mattdebont there are two branches of interest
master - which is where all core functionality is implemented and represents the EMODNet deployment
analytics - this includes all master functionality (I merge it in) plus the google analytics scripts on index.html for the MPA mapper

[2021-06-11 17:41] andyb-esdm commented on #119
@HelenwoodsJNCC I was asked to update the Angular framework too so I'll jump on to this issue too if that's okay.
I've upgraded Angular from v9 to v11 (via v10 as recommended) and tested in ie11 (still works!)
The latest version is v12 but ie11 support starts to become deprecated here and ie11 will not be supported in v13. I don't want to risk that right now given the problems we had with ie11 dur

[2021-06-14 18:38] GMDuncan commented on #119
@andyb-esdm Happy for you to spend the extra hour.

[2021-06-22 07:17] GMDuncan commented on #119
Hi @andyb-esdm just checking how these updates are getting on.

[2021-06-22 09:20] andyb-esdm commented on #119
@GMDuncan API has been updated to .net core 3.1 and angular updated to v11
I haven't spent that hour updating the two components that I should (the slider and select). I think @SimonAnnetts needs to upgrade our staging server to 3.1 too.
Are you waiting on us for this? If so, I'll coordinate with Simon and find time to finish off in the next few days.

[2021-06-22 09:50] GMDuncan commented on #119
@andyb-esdm we're hoping to do a deployment to live by end of June if possible (including the new geoserver), and it'd be good to roll everything out together.

If it's possible to get this done shortly, it'd be grand :)

[2021-06-24 07:03] jonparsonsjncc commented on #119
Hi Andy

Could you let us know when the code is updated and pushed into the repo - as we have to then update the docker container

Thanks

Jon

Jon Parsons
Technical Delivery Manager
(DIP DigM)
JNCC, Monkstone House, City Road, Peterborough, PE1 1JY
Tel: 01733 562626, Direct Dial: 01733 866827, Mobile: 07526 497077
Email: ***@***.******@***.***>
My working times are: Monday to Friday 8.45am - 5pm

[2021-06-29 07:41] jonparsonsjncc commented on #119
Hi @andyb-esdm @SimonAnnetts
Just a quick check to see where we are with the upgrade
I notice in the thread you mention a staging server - we are presuming this is your staging server as we have totally redeveloped our staging environments
I also notice you mentioned that the code was updated - could you push this in to the master branch without needing to upgrading the server - if you could that

[2021-06-29 11:41] andyb-esdm commented on #119
@jonparsonsjncc Very sorry for the delay in my reply.
You're right, we are referring to the staging server. It doesn't affect your environment but we need to do that to test against the new API.
The code has been updated to .net core 3.1 and angular 11. I'm still to update the autocomplete and slider components. But that's a minor issue and isn't strictly needed (they worked okay when I tested loc

[2021-07-06 09:51] HelenwoodsJNCC commented on #119
@SimonAnnetts can you give an update on the above?

[2021-07-06 10:28] SimonAnnetts commented on #119
The changes I made are complete subject to testing against the mapper. I have left the changes in a feature branch while we update our staging server to dotnet core 3.1.
I've been away on leave for two weeks which is why I've not made any progress on this.
Once our server is updated then Andy can properly test his mapping code against the new dotnet core 3.1 API (I don't expect there to be any iss

[2021-07-07 07:31] HelenwoodsJNCC commented on #119
@SimonAnnetts ok great thanks. If you can let myself and @jonparsonsjncc know how it goes tomorrow, that would be great.

[2021-07-08 09:35] HelenwoodsJNCC commented on #119
@andyb-esdm will it be a simple enough job to test your mapping code against the new dotnet core? We are looking to do a deployment asap.

[2021-07-08 10:26] andyb-esdm commented on #119
@HelenwoodsJNCC We're doing it today. Sorry for the delay but Simon is a lot more familiar with the infrastructure.
Bear in mind there are two branches:
master - the 'vanilla' mapper that you use for EMODnet
analytics - the mapper with google scripts added for MPA
I take it you will use our vscode task scripts to know how to compile the angular app. Let me know if you need any further details.
We'

[2021-07-08 10:48] HelenwoodsJNCC commented on #119
@andyb-esdm thanks!

[2021-07-08 10:54] SimonAnnetts commented on #119
So the test server we have is now running dotnet core 3.1 and the updated web-api is running well on there now.

http://jnccdev-api.esdm.co.uk/api/MapInstance/emodnet

I'll now merge my feature branch into devel so that Andy can test against the mapper.

[2021-07-08 10:55] SimonAnnetts commented on #119
sorry that should have read merge into master ....

[2021-07-08 11:43] andyb-esdm commented on #119
@HelenwoodsJNCC both the master and analytics branches are now up-to-date and have been pushed to github. I did some quick testing around the main areas of functionality and all seems good.
Let us know how your deployment goes ...

[2021-07-08 11:53] HelenwoodsJNCC commented on #119
Great, thanks @andyb-esdm @SimonAnnetts. Will let you know how things go at this end.

[2021-07-21 13:29] HelenwoodsJNCC commented on #119
@andyb-esdm @SimonAnnetts - all seemed to go ok with the deployment here. No issues so far.

[2021-07-21 13:29] #119 closed

[2021-07-21 13:30] andyb-esdm commented on #119
@HelenwoodsJNCC That's great. Thanks for letting us know.

[2021-10-06 13:13] SimonAnnetts opened #125 "Move ESDM development server to new datacentre and upgrade everything"
Operating system upgrade to Ubuntu 20.04.03
Dotnet core to 3.1
Postgresql to version 14
Geoserver to 2.19.2

Backup database and users on old server and restore on new.
Backup geoserver workspaces and restore on new.

Make sure that we can still push code to this new server and demonstrate the Emodnet and MPA mappers and APIs are working.

[2021-10-07 08:39] SimonAnnetts commented on #125
Completed.
jnccdev-api.esdm.co.uk and jncc-map.esdm.co.uk are now running from a new server.

[2021-12-09 12:16] GMDuncan opened #126 "Minor issue - "Add external layers" dialogue box exposes URL of development mapper"
See image, the example given in the Add External Layers box uses a URL string indicating the development mapper.
Could this be changed to something more generic?

(Affects both EMODnet and MPA mappers)

[2021-12-09 12:25] GMDuncan opened #127 "EMODnet mapper: EMODnet Human Activities layers not populating in "Add External Layers" dialogue box"
When selecting the "EMODnet Human Activities" option from the predefined OGC endpoints, and clicking "Get layers", the response is "No layers available from this source".

URL used is:
https://ows.emodnet-humanactivities.eu/wms

Manually adding a getCapabilities suffix and visiting the following URL _appears_ to result in a properly formed GetCapabilities response:
https://ows.emodnet-humanactivit

[2022-01-12 09:41] andyb-esdm commented on #126
Not quite sure what to put as a generic url!
How about https://ows.geoserver-url.com/wms ?
If not, can you suggest something?

[2022-01-12 09:50] andyb-esdm commented on #127
The method to get the external layers adds a querystring to the configured url as below:
`
const capabilitiesUrl = url + '?SERVICE=wms&REQUEST=GetCapabilities&VERSION=1.3.0';
`
I've just tested this in the browser and it returns the server capabilities in the same way as your example. I'll test by updating the url in the configuration and see if I get some layers back.

[2022-01-12 09:52] andyb-esdm commented on #126
I've gone with that. Very quick to change if you would like something different ...

![image](https://user-images.githubusercontent.com/31621682/149117153-0acee79f-111b-46c3-be70-328f1853b964.png)

[2022-01-12 09:56] andyb-esdm commented on #126
updated both master (emodnet) and analytics (mpa) branches

[2022-01-12 10:03] andyb-esdm commented on #127
I'm getting a CORS error when requesting GetCapabilities from the mapper. Do you know if they have configured their geoserver (presumably) for CORS? I would have thought so otherwise most (JavaScript) mappers wouldn't work with it.

![image](https://user-images.githubusercontent.com/31621682/149118885-6d91b0a9-dc54-4df4-a21e-4a536b002f11.png)

[2022-01-12 10:09] GMDuncan commented on #126
Thanks that works for now!

[2022-01-12 10:10] GMDuncan commented on #127
Ah it **is** a CORS issue! Thanks!! Apologies for some reason I didn't pick that up...

I'll let them know to fix it from their side :)

[2022-01-12 10:10] andyb-esdm commented on #126
Super quick to change if you'd like something else ...

[2022-01-12 10:12] andyb-esdm commented on #127
Great. Sometimes these things are reported as CORS errors in the browser when they're not. But since the error is explicitly stating the lack of the Access-Control-Allow-Origin header, it almost certainly is in this case.

[2022-01-12 16:01] #127 closed