[2019-01-17 10:29] andyb-esdm opened #1 "Setup dev/test environments"

[2019-01-17 10:30] andyb-esdm opened #2 "Develop skeleton openlayers mapper functionality, configuration & test deployment"

[2019-01-17 10:30] andyb-esdm opened #3 "Build custom configurable layer control"

[2019-01-17 10:30] andyb-esdm opened #4 "Handle getFeatureInfo requests for info popup"

[2019-01-17 10:31] andyb-esdm opened #5 "Permalinks"

[2019-01-17 10:31] andyb-esdm opened #6 "Legend"

[2019-01-17 10:31] andyb-esdm opened #7 "Basic filtering - simple field with lookup"

[2019-01-17 10:31] andyb-esdm opened #8 "Advanced filtering"

[2019-01-17 10:32] andyb-esdm opened #9 "Styling"

[2019-01-17 10:32] andyb-esdm opened #10 "Adding other OGC services"

[2019-01-17 10:32] andyb-esdm opened #11 "Gazetteer"

[2019-01-17 10:33] andyb-esdm opened #12 "Download data"

[2019-01-17 10:33] andyb-esdm opened #13 "Insertion into Umbraco as Iframe"

[2019-01-17 10:33] andyb-esdm opened #14 "UAT and bug fixing"

[2019-01-17 10:33] andyb-esdm opened #15 "Performance testing"

[2019-01-17 10:33] andyb-esdm opened #16 "User and technical manual and one day training course"

[2019-01-17 16:37] andyb-esdm commented on #3
#15

[2019-01-17 16:45] andyb-esdm opened #17 "Provide initial feedback on geoserver and postgres tuning as currently on staging geoserver"

[2019-01-17 16:46] andyb-esdm commented on #17
@JordanPinder will be able to provide more information if needed.

[2019-01-23 16:23] SimonAnnetts commented on #13
Hi @ulric-wilson
Here is the url that you can put in the iframe within your CMS:
http://jnccdev-map.esdm.co.uk/
or
https://jnccdev-map.esdm.co.uk/

The map is talking to a skeleton web-api at http://jnccdev-api.esdm.co.uk/ and is requesting the two items in the Map Instances box on the map. We've set the CORs policy on the web-api to allow access from any domain.
Please let me know (or send me a l

[2019-01-23 20:12] ulric-wilson commented on #13
Simon
Mapper appears in basic fixed size iframe on page http://jncc.defra.gov.uk/default.aspx?page=7718 It seems to be rendering fine but can you test it has the functionality you expect?

thanks

Ulric Wilson
Co-Team Leader, Digital and Data Solutions
Tel: 01733 866853, Mob: 07741 901730

From: Simon Annetts <notifications@github.com>
Sent: 23 January 2019 16:23
To: jncc/web-mapper-core <web-mapp

[2019-01-29 12:05] andyb-esdm opened #18 "Base map selection and configuration"
**Database/API:** base maps available for each map instance can be OpenStreetMaps, GoogleMaps, Bing etc. plus any base mapping configured for GeoServer.

The mapper will need to work exclusively in Web Mercator (EPSG: 3857) to support external base mapping so the GeoServer services will need to be configured for this.

**UI:** Base map selection control that is configured from the map instance con

[2019-01-29 12:13] andyb-esdm opened #19 "Scale Bar"
Scale Bar will leverage OpenLayers ScaleLine control.

[2019-01-29 12:15] andyb-esdm opened #20 "Display coordinates"
Suggest this should be in decimal degrees since it is universal. We'll need to use reprojection from EPSG: 3857 to EPSG:4326 for this but I think these two projections are available in base OpenLayers projection settings.

[2019-01-29 12:18] andyb-esdm opened #21 "Map instance configuration: centre and zoom level"
Initial extent of the map instance. This could either be centre and zoom level or a predefined extent. Map extent, even when zoomed to a set extent, depends on the window aspect ratio (OpenLayers will always try to fit a zoomed to extent into the view). So probably more intuitive to go with center and zoom.

**Database/API:** appropriate columns and endpoints on the map instance configuration

**U

[2019-01-29 12:19] andyb-esdm opened #22 "Bounding box zoom"
Bounding box approach to zoom in/out. User selects tool and drags a 'marquee' and the map zooms in/out based on the extent of the marquee.

[2019-01-29 12:22] andyb-esdm opened #23 "Zoom to layer extent"
Control next to each layer to zoom to its extent.

The extent returned by WMS GetCapabilities isn't always ideal for zooming (but not sure if this is simply due to server-side configuration of the layer. So we could implement this as a configurable extent against the layer configuration.

Discuss with JNCC

**Database/API:** potentially have this configurable in the database and part of layer conf

[2019-01-29 12:29] andyb-esdm opened #24 "Restyle layers based on available GeoServer styles"
This will work from GetCapabilities that contains a styles array.

**UI:** read styles array and present dropdown of available styles next to layer. When user selects a style, the layer is re-requested with the style set in the WMS request.

Note will need to parse xml response to JSON probably (xml2json?) or can we get response back in different formats?

[2019-01-29 12:30] andyb-esdm opened #25 "Layer opacity control"
Database/API: is there a requirement for the layer opacity to be configurable?

Discuss with JNCC

**UI:** slider control to adjust layer opacity.

[2019-01-29 12:32] andyb-esdm opened #26 "Layer control - expandable"
Should be able to hide/show all but the header of the layer control.
Most controls will sit inside a container that will give this functionality (see current demo).
This still needs a bit of refactoring to make sure it's a reusable component.

[2019-01-29 12:34] andyb-esdm opened #27 "Grouped Layers"
Layers need to be grouped against subject area and this needs to be configurable.
We will only support layer groups that are 2-deep (you can have groups within groups). That is, no layer group can be the child of another layer group.

**Database/API:** schema to support mapinstance layer groups that have layer children.

**UI:** Group layers by the layer groups that are expandable.

[2019-01-29 12:36] andyb-esdm opened #28 "Display layer metadata provided by GeoServer"
UI: control next to layer to display layer metadata (as a popup?). This metadata comes from GeoServer GetCapabilities. May need to discuss with JNCC the role of GeoNetwork.

[2019-01-29 12:38] andyb-esdm opened #29 "Data download links"
**Database/API:** include a download url for each layer configuration that can take you to a download page or point directly at a zip file so that the user can download the layer data.

**UI:** if url present in configuration, display a link or button next to the layer that opens the download page in another tab or directly downloads the data file.

[2019-01-29 12:40] andyb-esdm opened #30 "Switch layers off and on"
**Database/API:** layer configuration must include a 'visible' property to indicate whether the layer should be initially visible when the map instance loads.

**UI:** checkbox or switch to change layer visibility next to each layer

[2019-01-29 12:42] andyb-esdm opened #31 "Reorder layers within groups"
The user can drag/drop layers within a layer group to change the display order.
The cannot drag/drop layers between groups.

Should layer groups be re-orderable?
Ask JNCC

[2019-01-29 12:44] andyb-esdm opened #32 "Allow users to add external vector and raster layers"
Users should be able to add layers to the map from external sources.
Needs more design:

- How will mapper detect whether the layer is vector or raster. Should the user specify or should the mapper search for wfs/wms in the url?
- What sort of urls are acceptable - will the need to be trimmed if there's already bbox, projection etc. in the string.
- What if the url is invalid?

[2019-01-29 12:47] andyb-esdm opened #33 "Display WMS legend from GeoServer"
We will naively display the legend from GetLegendGraphic from GeoServer in a popup (or other appropriate way). We're not sure how configurable the legend graphic is in GeoServer.

**UI:** user clicks control next to layer and mapper requests legend graphic and displays in a control e.g. popup

[2019-01-29 13:00] andyb-esdm opened #34 "Simple layer filter"
User should be able to run simple filters against the attributes of the WMS.

**Database/API:** layers should have configuration for filters with an attribute name matching the layer name and a data source for any list for filtering. Possibly if this data source is free text then the data source will be null. Will need some further design.

**UI:** Button to allow user to filter the layer via a di

[2019-01-29 13:02] andyb-esdm opened #35 "Flag filtered layers"
Layers that have been filtered should be flagged in the UI to indicate this. User should be able to remove the filter.

**UI:** icon to indicate a filtered layer that can be clickable to display the filter and clear it?

[2019-01-29 13:04] andyb-esdm opened #36 "Create filter lookup tables and endpoints"
Database/API: need to create filter lookups that can be associated with layer filtering configuration.

JNCC to assist with population of lookups.

[2019-01-29 13:07] andyb-esdm opened #37 "Complex filters"
These are filters that may not be filtering directly on the WMS attributes but via joins to related tables in the database e.g. show habitats that have these species associated with them.
Further specification and design needed here. Current suggested approach is to leverage GeoServer sql views, which have parameters that can be substituted at runtime. However, these are essentially different laye

[2019-01-29 13:11] andyb-esdm opened #38 "Permalinks"
A way for the user to create a link to the map with the current settings e.g. layers visible, filters applied.

Need client-side object to represent state of map and also need to finalise strategy. Currently two main options:
Querystring strategy - manipulate querystring to reflect the state of the map (but how does this work with map in an iframe?)
Save strategy: user can save a map to the databa

[2019-01-29 13:12] andyb-esdm opened #39 "Gazetteer"
Database/API: api endpoint for gazetteer requests based on partial match of user entered string.
JNCC will provide gazetteer data.

UI: autocomplete wired up to the api endpoint and on item select zoom to returned lat/long.

[2019-01-29 14:12] andyb-esdm opened #40 "Create configuration schema and API endpoints for mapper"
Proposed structure is hierarchical. Broadly:
MapInstance -> LayerGroups -> Layers -> Filters

Various LUT endpoints
and API to reflect this

MapInstance will include descriptive html, baselayers and a collection of layers
LayerGroups will have a configurable name (sortorder?)
Layers will have the url, display on/off by default, opacity etc.
Filters will be key value pairs between the layer attribu

[2019-01-29 15:53] HelenwoodsJNCC commented on #16
Provisional training date Thursday 25th April 2019

[2019-01-29 17:34] ulric-wilson opened #41 "AWS VM for EMODnet mapper website and API"
Requirement for AWS VM to host both the mapping website (that will be embedded into Umbraco iframe) and the webAPI site that will be used by mapper/filters.
- base VM on t3.micro instance (1GB ram, 2 vCPU)
- tag VM with Emodnet project tag (should already exist)
- ensure ESDM have access (James, Andy, Simon) as well as JNCC Devs

[2019-01-29 17:38] ulric-wilson opened #42 "Create AWS VM for MPA mapper website and API"
Requirement for AWS VM to host both the mapping website (that will be embedded into Umbraco iframe) and the webAPI site that will be used by mapper/filters.

- base VM on t3.micro instance (1GB ram, 2 vCPU)
- tag VM with MPAmapper project tag (should already exist)
- ensure ESDM have access (James, Andy, Simon) as well as JNCC Devs

[2019-01-30 13:05] JamesPe commented on #17
We are still waiting for access to the file service (not everything ix exposed via the web interface).

However we have looked at the Geoserver setup.  Initial comment would be that its quite complicated - presumably with the same layer simplified to various scales to improve performance.

For static datasets like this - caching can be a major benefit.  Caching seems to have been setup for various

[2019-01-30 13:58] andyb-esdm commented on #31
JNCC say nice to have but not essential - report back on if possible

[2019-01-30 14:02] andyb-esdm commented on #23
Yes. Make this configurable in the database.

[2019-01-30 14:05] andyb-esdm commented on #25
Yes make opacity configurable. Default 0.8.

[2019-01-30 15:12] SimonAnnetts commented on #41
We will need SSH access to this from 5.196.45.195 (our staging server) to a local unprivileged user account (I have assumed for the rest of this document that the user is called 'esdm' as it is on our server, but let me know if different). We will need you to add this public key to ~/.ssh/authorized_keys so we can login using public/private key pair.:
[code]
We will be connecting using SFTP or SSH

[2019-01-30 15:13] andyb-esdm opened #43 "Specify and finalise scope for complex filters"
linked to #37

[2019-01-30 15:14] andyb-esdm commented on #43
Preparation for implementation in Sprint 3

[2019-01-30 15:15] andyb-esdm opened #44 "Finalise specification for permalinks"
Linked to #38

[2019-01-30 15:16] andyb-esdm opened #45 "Finalise specification for adding external layers"
Linked to #32

[2019-01-30 15:18] andyb-esdm commented on #29
@JordanPinder can you confirm that the specification here is just for a url for download? Clicking on the download link will take you to a new tab with the downloads available in a separate website.

[2019-01-30 15:20] andyb-esdm commented on #28
@JordanPinder to confirm that this actually just a configurable link to a separate metadata website that will open in a new tab.

[2019-01-30 15:21] andyb-esdm commented on #39
The gazetteer table will be in the mapper database.
JNCC will be able to provide the gazetteer data.

[2019-01-30 15:33] SimonAnnetts opened #46 "Database requirement for web-api"
We need a separate database on the server running the emodnet_staging database initially.

If possible:
Database name JNCCWebApi
Owner: jncc-web-api (for creating tables/indexes etc)
Read user: jncc-web-api-read (for select priv only on all tables in db)
Write User: jncc-web-api-write (select/update/insert/delete privs on all tables in db)

sorry if I've assigned this to the wrong person!

[2019-01-30 15:48] JordanPinder commented on #29
@andyb-esdm for the EMODnet mapper it is a simple url link to the download data page as we require users to fill in the details before downloading. An [example is this link](https://www.emodnet-seabedhabitats.eu/access-data/download-data/?linkid=1) which has EUSeaMap pre-selected.

The MPA mapper seems to be a direct download for some layers - @HelenwoodsJNCC can you just confirm that?

[2019-01-30 15:55] JordanPinder commented on #28
@andyb-esdm yes for EMODnet that is the case - all metadata records should point to the GeoNetwork URLs. Additionally the GeoServer layers have the metadata link pointing to GeoNetwork URL too for the link, and the GeoServer layer "abstract" is usually copy/paste directly from the GeoNetwork metadata record.

The MPA mapper seems to use a similar URL approach, but this brings up a pop-up box for a

[2019-01-30 15:58] andyb-esdm commented on #28
@JordanPinder - thanks for this.
It looks like we should be able to get the metadata url from the layer.
I guess then it's for JNCC to decide if they would prefer a popup or a new tab? The metadata can be quite long as we saw (and is already nicely formatted on the dedicated page).

[2019-01-30 16:00] andyb-esdm commented on #29
@JordanPinder Thank you. I don't think a link to a page or a link to a file will make much difference from the point of view of the mapper. If it's a page, we can have it open in a new tab. If it's a file, then you should automatically get a prompt in your browser to download it.

[2019-01-30 16:03] JordanPinder commented on #28
@andyb-esdm I'd be in favour of opening it in a new page as it does reduce the clutter/noise on the page, @HelenwoodsJNCC what do you think?

[2019-01-30 16:04] JordanPinder commented on #29
@andyb-esdm ah wonderful! If it's not an issue having both then that's grand.

[2019-01-30 16:20] andyb-esdm commented on #29
@JordanPinder We'll test this and confirm asap.

[2019-01-31 09:00] HelenwoodsJNCC commented on #29
@JordanPinder @andyb-esdm I can confirm the MPA mapper has some download links that are simple url links to other data download pages, and others that are a direct download of zipped files. From reading the above that doesn't seem to be a problem though.

[2019-01-31 09:03] HelenwoodsJNCC commented on #28
@JordanPinder @andyb-esdmIm happy enough for it to be a new tab rather than a pop-up window.

[2019-01-31 09:04] andyb-esdm commented on #28
@HelenwoodsJNCC thanks - we'll do that then.

[2019-01-31 09:04] andyb-esdm commented on #29
@HelenwoodsJNCC Yes. Pretty confident that won't be an issue.

[2019-01-31 12:46] SimonAnnetts commented on #40
I have defined a preliminary schema and have created various API endpoints to expose the (test) data in the database.
I have documented it as best as I can here:
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints
and would appreciate any/all comments!

[2019-01-31 19:00] JamesPe commented on #37
Some preliminary thoughts / investigations ahead of call to discuss.  (Note links are onto our internal dev copy of GeoServer so won't be generally visible)

**Using SQL filters in Geoserver**

Nice overview of the process here
[https://docs.geoserver.org/stable/en/user/data/database/sqlview.html ]

You can have pretty much any SQL statement in there you want and can add parameters that are substi

[2019-02-04 13:22] paul-gilbertson commented on #41
Can you see if you can login to ec2-63-34-227-23.eu-west-1.compute.amazonaws.com ?

[2019-02-04 14:07] SimonAnnetts commented on #41
Yes I can login using SSH. Thanks!
I thought the server would be Ubuntu 16.04, but it seems to be 18.04. This is probably not an issue as long as we can still have dotnet-sdk and apache installed.

[2019-02-04 15:46] paul-gilbertson commented on #41
Apache set up with the virtual hosts, api.emodnet-seabedhabitats.eu and prelive.mapper.emodnet-seabedhabitats.eu. Prelive will be dropped when we switch mapper.

SSL certificates being sorted.

[2019-02-05 11:43] paul-gilbertson commented on #41
OK, dotnet-sdk-2.2 and apache2 are both configured. I will do the systemd when the app is on there, and sort SSL when it arrives.

63.33.194.195 should also be accessible and api.mpa.jncc.gov.uk and mapper.mpa.jncc.gov.uk will be pointing there soon.

[2019-02-05 12:00] paul-gilbertson commented on #42
63.33.194.195 should also be accessible and api.mpa.jncc.gov.uk and mapper.mpa.jncc.gov.uk will be pointing there soon.

[2019-02-05 12:00] #42 closed

[2019-02-05 12:01] paul-gilbertson opened #47 "SSL Certificates for Mappers and APIs"
Add SSL certs to the two VMs Apache installs.

[2019-02-05 12:02] paul-gilbertson opened #48 "Add systemd watchdog configurations for APIs"

[2019-02-05 12:04] paul-gilbertson commented on #41
Closing ticket, remaining steps dissolved to new tickets

[2019-02-05 12:04] paul-gilbertson commented on #48
From ESDM:

We will also need a systemd service file to start the dotnet application. Something like this in /etc/systemd/system/jncc-web-api.service :

[code]
Don't enable it yet as we need to upload some files to make it work, but when you do:

[code]

[2019-02-05 12:48] SimonAnnetts commented on #21
centre and zoom added to MapInstance table and are provided in the information returned by the /api/MapInstance/{name} endpoint

[2019-02-05 12:50] SimonAnnetts commented on #36
table called Lookup exists and has API endpoint /api/Lookup/{category}
See documentation at https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-02-05 13:36] SimonAnnetts commented on #46
can you confirm that the host I need to point the api at is:
jncc-spatial.c9k3pg5plo3u.eu-west-1.rds.amazonaws.com
and also can you create the database 'emodnet_web_api'  for me please if it's not already there and make sure that I can see it with the 'esdm_emodnet_read_user' which you previously set up for us?
At the moment I have no access with the 3 new users that have been created, but this is

[2019-02-05 16:50] SimonAnnetts commented on #23
database now has centre and zoom per layer and the api returns these. I think centre/zoom was in preference to extent as was mentioned in issue #21 so I have done it this way for consistency.

https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-02-06 13:03] paul-gilbertson commented on #46
DB server is correct. Your esdm_emodnet_read_user account has read-only access to emodnet_web_api now. emodnet_web_api has read-write access.

[2019-02-06 13:36] SimonAnnetts commented on #37
Equivalent external links that are visible:
http://jnccdev-geo.esdm.co.uk/emodnet/wms?service=WMS&version=1.1.0&request=GetMap&layers=emodnet:eusm2016_200&styles=&bbox=-4047295.25,2907255.5,4693708.0,1.272164E7&width=684&height=768&srs=EPSG:3857&format=image/jpeg

http://jnccdev-geo.esdm.co.uk/emodnet/wms?service=WMS&version=1.1.0&request=GetMap&layers=emodnet:Test&styles=&bbox=-3485692.38922186,3

[2019-02-06 13:42] paul-gilbertson commented on #46
Firewall rules altered to allow API/Mapper servers to connect

[2019-02-06 14:08] JamesPe commented on #5
Some existing functionality requires the provision of a filter on the URL e.g. https://www.emodnet-seabedhabitats.eu/access-data/launch-map-viewer/?mapInstance=MESHAtlanticMap&mapZoomToId=GB001532&mapZoomToField=GUI&mapZoomToLayer=AllMappingAreas,MESHSurveysPoly,UnprocessedImageAreas .  Whilst agreed its not in the spec if it fell out of the Permalink work that would be useful.  Current thinking w

[2019-02-06 14:31] SimonAnnetts commented on #46
Hi @paul-gilbertson
I still cannot see the emodnet_web_api schema when logged in as esdm_emodnet_read_user :(

Also the web-api application can now connect to the postgres instance but I'm getting this error:
'PostgresException: 28000: no pg_hba.conf entry for host "63.34.227.23", user "emodnet-web-api", database "emodnet_web_api", SSL off'

[2019-02-06 16:05] paul-gilbertson commented on #46
Can you use SSL? It is required by standard.

[2019-02-06 16:09] SimonAnnetts commented on #46
Let me check the config. It might need a certificate or a CA if your postgres is using self signed.

I'll get back to you - probably tomorrow now

[2019-02-06 16:34] SimonAnnetts commented on #46
Ok, SSL is set but now getting:

28P01: password authentication failed for user "emodnet-web-api"
I'm using the password Lynn sent me.

[2019-02-06 17:19] paul-gilbertson commented on #46
Try now... is working for me.

[2019-02-07 09:42] SimonAnnetts commented on #46
I'm still having problems. I would like to eliminate if it is an issue with dotnet and the characters used in the password. Can you
apt install postgresql-client-common
for me please so I can try and login via the command line postgresql client 'psql' ?
thanks

[2019-02-07 09:46] paul-gilbertson commented on #46
Done

[2019-02-07 09:57] paul-gilbertson commented on #46
psql -h jncc-spatial.c9k3pg5plo3u.eu-west-1.rds.amazonaws.com -U emodnet_web_api "sslmode=require"
with the current password works from that box. Do you need a less 'symbol filled' password set?

[2019-02-07 09:59] SimonAnnetts commented on #46
I've just figured out what I'm doing wrong!
Duh....
Sorry for wasting your time... I had the username wrong.
I've got another issue now from dotnet entity framework migration not being able to create the database tables, but I need to investigate that further.

[2019-02-07 10:15] SimonAnnetts commented on #46
ok this one is:
Npgsql.PostgresException: 3F000: no schema has been selected to create in
So I check what schemas are visible and which are searched for:

[code]
When you create a new table, it will need to be placed under one of these schemas. So if we have a create table posts (...), how does postgres know what schema to put it under?

Postgres checks your search_path for a default.
[code]
I thi

[2019-02-07 10:53] paul-gilbertson commented on #46
You are right, missing permission. Fixed.

[2019-02-07 11:04] SimonAnnetts commented on #46
Yep, can see the public schema now:
[code]
The dotnet application now starts correctly and creates the tables that it needs.

[2019-02-07 11:09] SimonAnnetts commented on #41
If I go to ec2-63-34-227-23.eu-west-1.compute.amazonaws.com I get the default ubuntu webpage.
63.33.194.195 is not accessible directly (a good thing :)
api.mpa.jncc.gov.uk and mapper.mpa.jncc.gov.uk still have no DNS so cannot test if the VirtualHost containers in the apache config are working.

[2019-02-07 11:55] paul-gilbertson commented on #41
which protocols for mod_proxy do you need?

[2019-02-07 12:13] SimonAnnetts commented on #41
Apache only needs to talk to the dotnet application over HTTP at 127.0.0.1:5000
To then outside world apache can serve this proxied application via HTTP or HTTPs

I noticed that in my example configs above, the virtual host container for the proxy on port 443 is proxying to the wrong port (says 127.0.0.1:5002) should be 127.0.0.1:5000. I forgot to edit that one in the example.

[2019-02-07 12:27] paul-gilbertson commented on #41
OK, have loaded mod_proxy and mod_proxy_http.

[2019-02-07 12:53] SimonAnnetts commented on #41
thanks.
Trying to access http://api.mpa.jncc.gov.uk
just hangs. It should proxy through to the jncc-web-api application running on localhost:5000

I have an instance of the web-api running currently.

Do the virtual host containers that do the reverse proxies have the right server name 'api.mpa.jncc.gov.uk' in them and is there any firewall blocking access perhaps?

[2019-02-07 13:50] paul-gilbertson commented on #41
I think you are on the EMODnet box, not MPA... so it is http://api.emodnet-seabedhabitats.eu/  That said, not sure it is working properly. Looking deeper into the Proxy config...

[2019-02-07 15:21] paul-gilbertson commented on #41
Works now. For future reference, VirtualHost needs to map to *:80 and difference on ServerName

[2019-02-07 15:37] SimonAnnetts commented on #41
Ok, that works now on http://api.emodnet-seabedhabitats.eu/
but not on
https://api.emodnet-seabedhabitats.eu/
So should the map part of the application go onto
http://map.emodnet-seabedhabitats.eu/ ??
We can't use http://mapper.emodnet-seabedhabitats.eu/ as that points to the existing map site.

[2019-02-07 15:53] paul-gilbertson commented on #41
As per above: Apache set up with the virtual hosts, api.emodnet-seabedhabitats.eu and prelive.mapper.emodnet-seabedhabitats.eu. Prelive will be dropped when we switch mapper.

[2019-02-07 15:58] SimonAnnetts commented on #41
ok
prelive.mapper.emodnet-seabedhabitats.eu
works too and goes to my test Hello World page, but still no https on either site.

[2019-02-07 16:19] paul-gilbertson commented on #41
Working on the SSL certificates

[2019-02-11 09:59] JamesPe opened #49 "Provide file access to JNCCs staging geoserver"
This was raised on 23/01 via email - but I think may have been forgotten.

Simon suggested - "The best way to get file access to their staging server is for them to allow SSH access from our dev server to theirs. I can then setup a SSHFS link to their server and make part of their file tree mounted into part of ours (which can then be shared via samba). "

"There quite a lot of things that require

[2019-02-11 10:47] paul-gilbertson commented on #49
Same SSH key as API?

[2019-02-11 10:50] JamesPe commented on #49
I guess so - but Simons not in till tomorrow to check with

[2019-02-11 11:13] SimonAnnetts commented on #49
Yes.... same SSH key.

[2019-02-11 12:15] paul-gilbertson commented on #41
See #47

[2019-02-11 12:15] #41 closed

[2019-02-11 12:44] paul-gilbertson commented on #49
Done, same user and key. Ping this ticket if you need any elevated privs.

[2019-02-12 10:22] andyb-esdm commented on #13
HI @LynnHeeley could you arrange to get the JavaScript to resize the iframe on window resize so we can check that the map resizes correctly too? Let me know if you need more details.

[2019-02-12 12:04] SimonAnnetts commented on #47
I still cannot connect to https://prelive.mapper.emodnet-seabedhabitats.eu/
http://prelive.mapper.emodnet-seabedhabitats.eu/ works.
Is there a firewall on port 443 ?

[2019-02-12 12:29] SimonAnnetts commented on #49
ssh esdm@jncc-spatial.c9k3pg5plo3u.eu-west-1.rds.amazonaws.com

just hangs. Is there a firewall preventing TCP port 22 access from 5.196.45.195 ?

[2019-02-12 12:58] ulric-wilson commented on #13
Added CSS to resize iframe as JS had issues I couldn’t quickly fix

Ulric Wilson
Co-Team Leader, Digital and Data Solutions
Tel: 01733 866853, Mob: 07741 901730

From: Andy Brewer <notifications@github.com>
Sent: 12 February 2019 10:22
To: jncc/web-mapper-core <web-mapper-core@noreply.github.com>
Cc: Ulric Wilson <Ulric.Wilson@jncc.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [jncc/w

[2019-02-12 13:02] andyb-esdm commented on #13
Hi @ulric-wilson
I had read (or heard) that you couldn't use CSS to resize an iframe, which is why I suggested some js/jQuery but obviously you can - good to know this.
Thanks for doing it so quickly. It works too!

[2019-02-12 14:02] ulric-wilson commented on #13
From here https://benmarshall.me/responsive-iframes/

Ulric Wilson
Co-Team Leader, Digital and Data Solutions
Tel: 01733 866853, Mob: 07741 901730

From: Andy Brewer <notifications@github.com>
Sent: 12 February 2019 13:02
To: jncc/web-mapper-core <web-mapper-core@noreply.github.com>
Cc: Ulric Wilson <Ulric.Wilson@jncc.gov.uk>; Mention <mention@noreply.github.com>
Subject: Re: [jncc/web-mapper-core

[2019-02-12 14:34] andyb-esdm commented on #31
I've approached the layer control and list of active layers in a different way, similar to the [Global Forest Watch map](https://www.globalforestwatch.org/map).
So no need to reorder the layer selector. Just reorder the active layers. You can do this by dragging and dropping the 'drag handle' next to each active layer.
Will discuss this (and styling in general) at next meeting.

[2019-02-12 14:40] SimonAnnetts commented on #48
systemd can be enabled now as the web-api works on the AWS server.

[2019-02-12 14:43] andyb-esdm commented on #30
Layers can now be switched off and on (where they are displayed in the active layers control - see #31 ).
Will discuss styling at next meeting.

[2019-02-12 14:43] andyb-esdm commented on #27
Layer groups and subgroups now supported.
Will discuss styling at next meeting.

[2019-02-12 14:44] andyb-esdm commented on #26
All container controls now expandable but still need to discuss overall styling.

[2019-02-12 15:06] andyb-esdm opened #50 "Implement graceful error handling if mapinstance doesn't exist (any API endpoint)"
Currently there's no error handling implemented for non-existent api endpoints. Develop a general strategy for handling and reporting these.

[2019-02-12 15:44] JordanPinder commented on #49
@LynnHeeley @paul-gilbertson when possible can someone look into this please? It was flagged earlier in the project management meeting

[2019-02-12 15:46] JordanPinder commented on #47
@LynnHeeley @paul-gilbertson same for this issue - I also get the same problem @SimonAnnetts mentioned.

[2019-02-12 17:24] SimonAnnetts opened #51 "Geoserver config changes required for CORs"
Hi

There are changes that need to be made on your staging geoserver (and later on your production one too).
This is so that WMS images can be displayed on the mapper site which is using a different domain name.

The map at http://prelive.mapper.emodnet-seabedhabitats.eu/ is now using the web-API hosted at http://api.emodnet-seabedhabitats.eu/api/MapInstance
The api is querying your postgres datab

[2019-02-13 10:06] andyb-esdm opened #52 "Finalise and implement styling and layout"
Discuss styling and layout with JNCC.
Implement styling.

[2019-02-13 13:09] #27 closed

[2019-02-13 13:10] #26 closed

[2019-02-13 13:11] andyb-esdm commented on #19
Basic ScaleLine implemented. Styling etc. for next sprint.

[2019-02-13 13:11] #19 closed

[2019-02-13 13:11] #31 closed

[2019-02-13 13:38] LynnHeeley commented on #39
Andy can you remind us of the data /fields that are needed for this. Jordan will get to it early next week.

[2019-02-13 14:21] andyb-esdm commented on #44
Discussion with JNCC means it is likely we will use the querystring strategy that represents the difference between the map instance and the current state of the map.
The mapper will need to be able to parse this and set the map to the settings in the querystring.
Still need to determine how/whether this querystring appears in the hosting page/escapes the iframe (alternatively the permalink should

[2019-02-13 14:30] andyb-esdm commented on #39
@LynnHeeley
@SimonAnnetts will provide you with required schema.
Do you need any other data sources for the gazetteer (e.g. public APIs like geonames)? Or is this likely to be irrelevant since they only cover terrestrial areas.

[2019-02-13 14:32] andyb-esdm commented on #45
I guess we're likely to copy the way this is done on EMODnet here?

[2019-02-13 14:45] JamesPe commented on #37
Above approach was agreed with JNCC

[2019-02-13 15:20] andyb-esdm commented on #39
@JordanPinder
Columns required: name, longitude (x), latitude (y), zoom

[2019-02-13 15:24] andyb-esdm commented on #32
WMS only from external sources

[2019-02-13 15:43] paul-gilbertson commented on #47
Both api and prelive have SSL. Prelive is using 'letsencrypt' free 90 day cert.

[2019-02-13 15:55] paul-gilbertson commented on #49
Geoserver is on ec2-34-243-56-82.eu-west-1.compute.amazonaws.com

[2019-02-13 16:12] SimonAnnetts commented on #49
ok thanks Paul.
I realised my mistake and just logged in just now with
ssh staging.ows.emodnet-seabedhabitats.eu

So we need write access to the /data/geoserver/workspace/emodnet directory, but these are all owned by tomcat:tomcat. Would adding esdm to the tomcat group be enough?

[2019-02-13 17:35] paul-gilbertson commented on #49
Added, and added group write permission to those files.

[2019-02-14 10:31] SimonAnnetts commented on #49
This is now working, although of course any files or directories we create in the filesystem there will be owned by esdm:esdm, but they will have the permissons 0775/0664 so should be visisble to tomcat user running geoserver.

[2019-02-14 10:31] #49 closed

[2019-02-14 11:35] paul-gilbertson commented on #48
This has been enabled.

[2019-02-14 11:35] #48 closed

[2019-02-14 12:13] SimonAnnetts commented on #47
This is now working. Thanks.

[2019-02-14 12:13] #47 closed

[2019-02-14 12:17] SimonAnnetts commented on #48
this is now working, thanks

[2019-02-14 15:20] paul-gilbertson commented on #47
MPA certs also done

[2019-02-15 16:49] andyb-esdm commented on #22
Implemented

[2019-02-15 17:11] andyb-esdm commented on #25
Implemented

[2019-02-15 17:11] #25 closed

[2019-02-15 17:46] andyb-esdm commented on #23
Implemented

[2019-02-15 17:46] #23 closed

[2019-02-17 17:07] andyb-esdm commented on #33
@JamesPe
http://jnccdev-geo.esdm.co.uk/emodnet/wms?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=25&HEIGHT=25&LAYER=eusm_msfd
Gives me a legend for MSFD at all resolutions in the group i.e. it repeats itself several times
I can specify a single resolution layer like this:
http://jnccdev-geo.esdm.co.uk/emodnet/wms?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=25&HEIG

[2019-02-17 17:32] JamesPe commented on #33
Not sure that's been decided yet need to do some tests with them.  In hoping we can get rid of multiple layers.  Failing that I guess we need to extend API to include layer for legend.

I think we can assume legends are the same for all layers in a group.

Unless we can ask for legend 1 but never seen that

On 17 Feb 2019 17:08, Andy Brewer <notifications@github.com> wrote:

@JamesPe<https://githu

[2019-02-17 17:57] andyb-esdm commented on #33
Thanks. Good idea. A legend layer configuration property makes sense if the grouped layers need to remain.

[2019-02-17 18:27] andyb-esdm commented on #33
@SimonAnnetts should you add a nullable column LegendLayer (or similar) to the layer configuration table and api?
If populated, this would be used in the GetLegendGraphic request. If null, the mapper client would fall back to the layer's layerName property.

[2019-02-18 17:13] paul-gilbertson commented on #51
@mattdebont are we hosting geoserver within tomcat on staging?

[2019-02-19 08:30] SimonAnnetts commented on #33
This sounds like a sensible solution and I will implement it as you proposed.

[2019-02-19 09:06] SimonAnnetts commented on #46
Hi
The web-api on ec2-63-34-227-23.eu-west-1.compute.amazonaws.com can no longer talk to the database server on jncc-spatial.c9k3pg5plo3u.eu-west-1.rds.amazonaws.com. The connection times out. This is the same with the psql command line client too.

[2019-02-19 09:07] andyb-esdm commented on #33
@SimonAnnetts - thanks - I've already added a property legendLayerName to the ILayerConfig interface in the mapper. So it should just naturally hydrate if data is received.

[2019-02-19 09:08] SimonAnnetts commented on #33
Rolled out to our staging server, but their staging server seems to be broken this morning (it can't connect to the database). I have added a reference to one of the layers in a layer group into the test layer data.

[2019-02-19 09:15] SimonAnnetts commented on #33
documentation updated:
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-02-19 11:21] paul-gilbertson opened #53 "Redirect HTTP to HTTPS on mapper and api, exclude old TLS"
@SimonAnnetts FYI, doing this soon.

[2019-02-19 11:30] SimonAnnetts commented on #44
Some initial thoughts:

If a small amount of javascript could be placed onto the page that holds the Iframe. e.g. on this page:
http://jncc.defra.gov.uk/default.aspx?page=7718, then we could implement permalinks on the mapper that correctly reference the parent.
A permalink might then become something like:
http://jncc.defra.gov.uk/default.aspx?page=7718&permalinkdata=xxxxxxxxxxxxxxxxxxxxxxxxxx

T

[2019-02-19 11:37] paul-gilbertson commented on #51
@SimonAnnetts can you test this? I think it is working...

[2019-02-19 11:40] SimonAnnetts commented on #51
I cannot test atm...
The web-api has died on ec2-63-34-227-23.eu-west-1.compute.amazonaws.com because it can no longer talk to the database. Please see issue #46
This means that the web-map has no data.

[2019-02-19 11:43] SimonAnnetts commented on #51
systemd seems to be trying to restart the web-api (as it should), but it fails to connect to the db

[2019-02-19 11:50] SimonAnnetts commented on #39
@JordanPinder
I will create the table using Entity Framework Migrations via the web-api today

[2019-02-19 12:53] mattdebont commented on #46
Hi Simon could you check again for me, think I have it sorted, its was a DNS resolution problem as before it was resolving externally now it should be resolving internally

[2019-02-19 13:39] SimonAnnetts commented on #46
Yes, that is working now. Thank you!

[2019-02-19 13:39] #46 closed

[2019-02-19 13:42] SimonAnnetts commented on #51
Database access resumed..... now when I test - the staging geoserver does not seem to have CORs set still.

Image requests are still giving me this error in my webrowser:

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://staging.ows.emodnet-seabedhabitats.eu/emodnet/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true

[2019-02-19 13:47] SimonAnnetts commented on #39
table 'Gazetteer' now created in the same database as the rest of the web-api tables.

Schema updated in documentation:
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-02-19 14:08] SimonAnnetts commented on #39
API documentation updated in
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-02-19 14:12] SimonAnnetts commented on #39
@andyb-esdm will you need to specify a limit on the number of results to return?

[2019-02-19 14:12] JordanPinder commented on #39
@SimonAnnetts thanks for this Simon! Useful for me to see the configuration, should have the EMODnet gazetteer finished soon.

[2019-02-19 15:00] andyb-esdm commented on #24
@JamesPe @SimonAnnetts
Hit a bit of a snag with styles and layer groups.
Simon created a style 'green', which simply fills all polygons green. He had to do this as an additional style against each layer in the layer group eusm2016 (there are four of them).

I can request an individual layer in the layer group and specify the style like this: (layer: eusm2016_full, style: green)
http://jnccdev-geo.

[2019-02-19 15:18] SimonAnnetts commented on #24
Stop using layer groups on geoserver and just use the full resolution layer, but try and enable the tile caching for the lower zoom levels? Would have to cache tiles in all available styles then too of course....

[2019-02-19 15:22] JamesPe commented on #24
This is certainly the aim - though need to do some testing with JNCC.  Create cache at full resolution and then use a single full layer for filtered results.
Of course if there is a cached layer - the whole concept of alternative styles is a bit odd.

I think Geoserver expects you to create another GroupLayer if you want to change the style

[2019-02-19 15:27] JamesPe commented on #24
@andyb-esdm @SimonAnnetts  -  I think this is what Geoserver expects you to do:
http://jnccdev-geo.esdm.co.uk/geoserver/emodnet/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=eusm2016_green&WIDTH=256&HEIGHT=256&CRS=EPSG%3A3857&STYLES=green&BBOX=2504688.542848654%2C7514065.628545966%2C5009377.08569731%2C10018754.171394622
It works - but clearly requires more

[2019-02-19 15:33] JamesPe commented on #24
I think we should stick with what geoserver offers - so if its a single layer WMS we can apply another offered geoserver style.
If its a layer group and another style is really wanted on it then JNCC need to create a new layer group and apply teh new style to it and add it in the mapper as a new layer

[2019-02-19 15:45] SimonAnnetts commented on #24
@andyb-esdm So possibly then at the moment if the layerName  != legendLayerName, because layerName is actually a group then offer no alt styles. A real single layer should have layerName == legendLayerName and might then have multiple styles that can be chosen.  This sounds a bit convoluted though, and maybe we need a boolen isLayerGroup in the layer JSON instead? Or I change the styleName attribu

[2019-02-19 16:02] paul-gilbertson commented on #51
According to my tests, all is fine now. Please retry.

[2019-02-19 16:27] SimonAnnetts commented on #51
Ah I can see the problem.... the WMS service is tied down by IP restrictions. For some reason the web browser says it's a CORS issue when in actual fact it's getting a 403 from the WMS server!
It works fine if I VPN into the ESDM office and appear to come from that IP address.
Is it possible to add 87.127.21.54 (me) and 88.97.15.14 (James) as we work from home?

[2019-02-19 16:30] paul-gilbertson commented on #51
Done. Please retry, and close if successful

[2019-02-19 16:32] SimonAnnetts commented on #51
thanks

[2019-02-19 16:32] #51 closed

[2019-02-19 16:36] SimonAnnetts commented on #36
closing this as work completed. Please open a new issue if bugs found.

[2019-02-19 16:36] #36 closed

[2019-02-19 16:38] SimonAnnetts commented on #13
closing this as work completed. Please open a new issue if bugs found.

[2019-02-19 16:39] #13 closed

[2019-02-19 16:39] SimonAnnetts commented on #1
closing this as work completed. Please open a new issue if bugs found.

[2019-02-19 16:39] #1 closed

[2019-02-19 16:40] SimonAnnetts commented on #2
closing this as work completed. Please open a new issue if bugs found.

[2019-02-19 16:40] #2 closed

[2019-02-19 16:44] SimonAnnetts commented on #40
closing this as work completed. Please open a new issue if changes are required to the schema as it stands now.

[2019-02-19 16:44] #40 closed

[2019-02-19 16:59] andyb-esdm commented on #20
Implemented but will keep under review for styling and layout.

[2019-02-19 16:59] #20 closed

[2019-02-19 17:00] andyb-esdm commented on #33
This is implemented i.e. functional but needs styling/layout applied.

[2019-02-19 17:09] JordanPinder commented on #39
@SimonAnnetts just been looking at this a little more - if I'm correct OpenLayers has zoom to extent functionality which only requires the bounding box coordinates of an area, and I _think_ this also selects a zoom scale depending on the screen. Not sure if that'd be feasible to implement?

[2019-02-19 17:11] andyb-esdm commented on #39
@JordanPinder Yes you can do map.getView().fit(myExtent);

[2019-02-19 17:19] paul-gilbertson commented on #53
Done

[2019-02-19 17:19] #53 closed

[2019-02-19 17:34] andyb-esdm commented on #21
implemented

[2019-02-19 17:34] #21 closed

[2019-02-19 17:44] JordanPinder commented on #39
@andyb-esdm grand, so would that eliminate the need for a zoom level per the database schema?

[2019-02-19 17:46] andyb-esdm commented on #39
@JordanPinder Presumably you want to put an extent into the database schema instead e.g. minx, miny, maxx, maxy. Or just have the map zoom to a point? A point doesn't have an extent so we would need a default zoom level. Sorry if I misunderstand.

[2019-02-20 09:51] SimonAnnetts commented on #50
Thinking about this one a little bit - currently for the mapInstance API endpoint if you request something that doesn't exist you will be returned a 404 error. Should this just be an empty object instead?
The Lookup endpoint and Gazetteer endpoints return empty arrays if the query returns nothing.

[2019-02-20 12:21] andyb-esdm commented on #35
It sort of does this at the moment but will keep issue open until simple filters issue completed!

[2019-02-20 12:26] JordanPinder commented on #39
@andyb-esdm Sorry for not clarifying properly! Yes, openlayers would use the min max x y and zoom to the extent, which I imagine would be ideal as it reduces the need for a zoom scale, but that would mean altering the schema to include the extent columns. Alternatively we could also use the current approach zooming to a point and setting the zoom scale. Either approach is fine with me as I have th

[2019-02-20 14:26] andyb-esdm opened #54 "Create example external stylesheet for JNCC to style mapper and getfeatureinfo templates"

[2019-02-20 14:34] andyb-esdm commented on #22
Once only use for zoom in and out to bounding box

[2019-02-20 14:51] andyb-esdm commented on #24
Hi @JordanPinder @HelenwoodsJNCC
Can you make a decision on the necessity of this feature based on the technical limitations and sprint review dicussion?

[2019-02-20 15:08] JamesPe opened #55 "Geoserver optimisation"
To work on optimisation of geoserver - both in terms of building map caches and looking at optimising the vector data being used for the laters

[2019-02-20 15:09] JamesPe commented on #55
@JordanPinder  can we arrange a time to have a preliminary chat about this next week?  Mon am or pm - I have another meeting at 12

[2019-02-20 15:50] andyb-esdm commented on #39
Sorry I didn't answer this, Simon. What did you do for squirrels? That worked well.

[2019-02-20 15:52] andyb-esdm commented on #39
@JordanPinder well we can do either with equal effort. Let Simon know what you would like and I'll ensure the map behaves appropriately. Thanks very much.

[2019-02-20 16:04] JordanPinder commented on #39
@SimonAnnetts any thoughts on this?

[2019-02-20 16:40] andyb-esdm commented on #39
I imagine some of the gazetteer entries will be regions (e.g. celtic sea) so an extent would make more sense.
If you do switch to extent, please provide separate fields.

[2019-02-20 17:06] SimonAnnetts commented on #39
Yes, you will always get them as separate fields in the JSON (as you do the map centres now), but in the DB it might be easier to manage them as one field containing an extent '[minX, minY, MaxX, maxY]' which I parse for you into separate values.
This is how the LayerCentre and MapCentre work now..

But I need a decision.... is it zoom or extent??? :)

[2019-02-21 12:11] JamesPe opened #56 "Set a maximum tile zoom level for a map instance"
Looking at some of your data I think this makes sense to prevent user from zoomin in too far.  e.g. looking at eusm2016 the blocks that its made up from appear to be about 100m across.  This suggests that tile level 12 is probably the maximum it makes sense to goto.
Obviously you would want to check the resolution of other data being presented on the map.
This is important - not only for the look

[2019-02-22 10:01] HelenwoodsJNCC commented on #56
This is likely to be more relevant to layers on the emodnet mapper than the MPA mapper but It makes sense to me to limit the zoom. @JordanPinder what do you think?

[2019-02-22 10:30] JordanPinder commented on #56
I agree with limiting the resolution but I would need to check the fine-scale layers, i.e. habitat maps from survey.

[2019-02-22 10:34] JamesPe commented on #56
It will be a configurable setting for the map so you can adjust it.  We just need to add the setting. @andyb-esdm @SimonAnnetts

[2019-02-22 14:35] JordanPinder commented on #39
As Andy mentioned the entries will mainly be regions, so probably better to go with extent. Will get you the sample sent across now.

[2019-02-25 10:18] andyb-esdm commented on #34
@JordanPinder @HelenwoodsJNCC @JamesPe

I've implemented the simple filter as a multi-select against lookup tables associated with the layer in the configuration. You can potentially have several lookups for each layer.
In the simple case with one lookup, this translates as an 'IN' query against a layer attribute. For example the screenshot would run the following filter:
select everything from th

[2019-02-25 10:26] JordanPinder commented on #24
Hi @andyb-esdm, firstly thanks to you guys for looking into this! Helen and I are happy for this feature to be dropped - it's more of a nice-to-have, and given the complexity in implementing it it doesn't seem to be worth the effort.

[2019-02-25 10:28] HelenwoodsJNCC commented on #34
@andyb-esdmfrom an MPA mapper perspective the simple filtering could be entirely driven by lookup tables, but we would need multi selects on all the simple filters.  @JordanPinder what about for EMODnet?

[2019-02-25 10:31] andyb-esdm commented on #24
Okay. Thanks for letting me know. It was horrible parsing the GetCapabilities xml in JavaScript anyway  :)

[2019-02-25 10:32] andyb-esdm commented on #24
Closed - not required.

[2019-02-25 10:32] #24 closed

[2019-02-25 10:46] JordanPinder commented on #34
@andyb-esdm I think the current mapper only allows single select filtering on EUNIS values because it's currently done in regex - allowing multi selects in regex simply takes too long.

Similar to the MPA mapper, multi select filtering would be needed on all the simple filters. I don't think free text filtering would be needed for EMODnet - lookups should be fine.

[2019-02-25 10:49] andyb-esdm commented on #34
@JordanPinder @HelenwoodsJNCC
Thanks for answering so quickly. Using CQL and the IN expression makes it very straightforward to do multi selects so we might as well have them everywhere. I'll polish it up a bit and release it to the test environment today.

[2019-02-25 11:37] andyb-esdm commented on #52
@JordanPinder
I've created a file called map-styles.css in the assets/css folder. This will be where you can edit and style the classes that I create.
This is how it looks so far to give you some idea.

![image](https://user-images.githubusercontent.com/31621682/53334768-9afc2380-38f1-11e9-85e0-0356567836e3.png)

So, for example, if you change .bg-primary to, say, red then all the elements in the

[2019-02-25 11:38] andyb-esdm commented on #52
Forgot to mention. This is also where you can put classes to style your GetFeatureInfo templates. We'll provide some guidance for this.

[2019-02-25 11:44] JordanPinder commented on #52
@andyb-esdm grand, thanks Andy! Looks nice and straightforward :)

[2019-02-26 09:49] andyb-esdm commented on #54
The external stylesheet has been created. Need to populate it now. See #52

[2019-02-26 10:33] HelenwoodsJNCC commented on #52
How simple would it be to make the active layer menu movable? i.e. users can drag it to an alternate location?

[2019-02-26 13:11] JamesPe commented on #55
Discussed various options and strategies on caching - summary in blog post here https://www.esdm.co.uk/configuring-geoserver-global-web-cache-gwc

[2019-02-26 13:13] JamesPe opened #57 "Create some real map layers"
Following on from the session on caching it would be useful to have some "real" layers setup that we can configure against the map.
Now we have discussed caching it would make sense if at least some of these included a cache and perhaps only one layer (as opposed to the group family)

[2019-02-26 13:15] JamesPe opened #58 "Create some getFeatureInfo templates for the real layers you are creating"
Create some styled info popups.   Basic guide in attached doc
[BeginnersGuideToGeoserverTemplates.docx](https://github.com/jncc/web-mapper-core/files/2905581/BeginnersGuideToGeoserverTemplates.docx)

Would make sense if these were the same layers you setup here https://github.com/jncc/web-mapper-core/issues/57

[2019-02-26 13:18] JamesPe opened #59 "getFeature Info style"
We need a decision on whether you would like this to be a modal popup (as in emodnet mapper) or a panel at the bottom on the current version of the new mapper

[2019-02-26 13:32] andyb-esdm commented on #57
It would also be good to have some real filters. Currently we have a working lookup for EUNIS but I haven't been able to test multiple filters on a layer yet. Can provide details to whoever will do it.

[2019-02-26 13:42] JordanPinder commented on #59
@JamesPe popup window would be my preference - @HelenwoodsJNCC what about you?

[2019-02-26 14:07] HelenwoodsJNCC commented on #59
@JamesPe @JordanPinder pop-up would be my preference too.

[2019-02-26 14:09] andyb-esdm commented on #59
Popup it is then. It will look a little like the filter popup with an internal scrollable window if there are multiple layers.

[2019-02-26 14:09] HelenwoodsJNCC commented on #59
Great thanks

[2019-02-26 14:27] HelenwoodsJNCC commented on #30
@andyb-esdm The Annex A spec included the ability to toggle all layers in a group on/off simultaneously - is this something that can be easily implemented? Apologies for not flagging this earlier.

[2019-02-26 15:51] andyb-esdm commented on #30
@HelenwoodsJNCC okay - I must have missed that - sorry - a switch against each layer (and sublayer) group?

[2019-02-26 16:16] HelenwoodsJNCC commented on #30
@andyb-esdm yes, if possible.

[2019-02-26 17:30] andyb-esdm commented on #59
@JordanPinder @HelenwoodsJNCC
At the moment, just clicking on the map gets the feature info. Should this be a toggle-able  tool on the toolbar or activated by right click? Or are you happy with the current behaviour?

[2019-02-27 08:01] HelenwoodsJNCC commented on #59
@andyb-esdm I think it is fairly intuitive at the moment, and I think it might get forgotten about as a tool on the side. @JordanPinder do you feel strongly either way?

[2019-02-27 09:21] andyb-esdm commented on #59
@HelenwoodsJNCC Thanks. Just wanted to check before I finalise this.

[2019-02-27 09:55] JordanPinder commented on #59
@HelenwoodsJNCC @andyb-esdm I agree, current setup is nice and simple - moving to a toolbar may mean it's forgotten.

[2019-02-27 11:02] JamesPe commented on #37
A little more detail on the above now we are implementing.

And example SQL filter layer could be:
SELECT * FROM public.eusm2016_200 WHERE hab_type IN (%code%)

This would require input in the form of:
&viewparams=code:'A5.15'\,'A5.37'

However we have realised that often the parameters supplied could potentially be lookup driven (as with the simple filters).  e.g. the above example is simply pick

[2019-02-27 11:05] HelenwoodsJNCC commented on #37
@JamesPe All sounds sensible to me.

[2019-02-27 12:23] JordanPinder commented on #37
@JamesPe Fine with me as well. Would this filtering also provide multiple filtering conditions (e.g. and / or etc.)?

[2019-02-27 12:31] JamesPe commented on #37
@JordanPinder  - Basically yes - the caveat being depending on what you specified in the SQL for the geoserver layer.

The above example allows ORs if multiple codes are provided, but I presume you really mean different attributes.

You could setup a Geoserver layer that said:
SELECT * FROM public.eusm2016_200 WHERE (hab_type IN (%code%) OR substrate=%substrate%) AND Area>%area%

Then the user wou

[2019-02-27 12:33] JordanPinder commented on #37
@JamesPe yup that's fine, just double checking for my own reference.

[2019-02-27 16:31] SimonAnnetts commented on #39
API documentation updated in
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

The gazetteer data from the spreadsheet is also loaded into the DB.

[2019-03-04 09:26] LynnHeeley opened #60 "Permissions for JNCC"
1.	I’m having a couple problems with permissions on the new account setup a few weeks ago.
I’m trying to access a table called “habitatmaps” within the emodnet_staging database under the “wp5” schema. This table was created under the previous PostGIS account (i.e. jncc_emodnet_admin), and my new account doesn’t have the correct permissions to alter it. I think I was allowed blanket permissions to

[2019-03-04 12:41] andyb-esdm commented on #37
@SimonAnnetts I think our layer config might not be right. Each filter in a layer's filters has the isComplex attribute. But you can't mix and match simple and complex filters on one layer. I think we need to indicate the filter type at the layer level.
For now though I am just checking that all filters have isComplex = true before using the alternative filter parameter syntax.

[2019-03-04 12:41] #43 closed

[2019-03-04 17:45] andyb-esdm commented on #37
All implemented as far as I can take it at the moment. Will need to test with some real filters (simple and complex) before UAT.

[2019-03-04 17:46] andyb-esdm commented on #35
Implemented by highlighting filter icon red.

[2019-03-04 17:47] andyb-esdm commented on #30
Implemented

[2019-03-04 17:48] andyb-esdm commented on #29
Implemented

[2019-03-04 17:48] andyb-esdm commented on #28
Implemented

[2019-03-04 17:49] andyb-esdm commented on #18
I've only implemented three hard-coded base layers so far: OSM, Bing and OpenTopoMap

[2019-03-04 18:11] andyb-esdm commented on #22
Implemented - you only zoom once for each click of the control

[2019-03-06 09:45] SimonAnnetts commented on #45
Hi @JordanPinder @HelenwoodsJNCC
When adding external WMS layers, do you want to be able to pre-define some of these layers like you do on the existing mapper by having a database table read by the web-api to provide a selectable list, as well as the text box for an external WMS URL?
If so, should the list of external WMS layers be defined per map instance, or just be a global list that is availab

[2019-03-06 09:58] SimonAnnetts commented on #37
@andyb-esdm
I have set up the map  layer called 'Test' in the test web-api data which is a SQL view layer. It has two filters currently, one is a lookup of EunisHabitats , the other a free text input. Both use the attribute 'code' which will be substituted into the view's SQL query:
[code]
The multi select filter appears to work fine in that the query contains data like
viewparams=code:'A5.15'\.'A

[2019-03-06 10:10] HelenwoodsJNCC commented on #45
@SimonAnnetts Yes we would like to be able to pre-define some of the layers, preferably per map instance. For the MPA mapper we will likely have the EMODnet WMS listed but this is obviously redundant in it's own instance.

[2019-03-06 13:27] SimonAnnetts commented on #37
For testing purposes, I created a new layer called 'Test1' on our geoserver. It's a SQL view with the SQL:
[code]
I added the layer 'Test1' to the web-api config with the name 'Test Layer with Complex Filters(2) (Test)' and defined two filters. One is a Lookup of EunisHabitats and returns the attribute 'code' in a geoserver query. The other is a Text filter that returns the attribute 'substrate'.

[2019-03-06 13:45] SimonAnnetts commented on #45
Thanks @HelenwoodsJNCC.
@andyb-esdm -
I wonder if we could just leverage the existing layers table and add a field IsExternal to signify that the layer does not usually appear in the ALL LAYERS list and that the WMS url and name etc are just shown in a popup list when the user clicks on the 'Add external WMS layer' link? (along with the text box for users to add their own WMS url)
Of course these

[2019-03-06 13:49] andyb-esdm commented on #45
Yes, that would work. Makes me wonder though, why have them displayed separately. You could have just an 'external layers' layer group in the ALL LAYERS list from the outset with these listed inside. Then, if the user adds any custom external layers, they could be added to this group.

[2019-03-06 14:08] SimonAnnetts commented on #45
True..... I was just following the way that the existing mapper does it, but you are right, it could just be another LayerGroup sorted by Order to be last. Where would you put the Add External WMS link and it's text box though? A link within the Layer Group area and a UI popup for input? Once the external WMS is input a further choice of layers returned from the getcapabilities would need to be di

[2019-03-06 15:32] andyb-esdm commented on #45
Okay. That sounds like an idea.
@HelenwoodsJNCC @JordanPinder
We're suggesting that pre-configured external layers are presented in a 'special' layer group on the mapper (calll external layers or similar) and a control on that group to add custom external layers (you get a popup similar to current EMODnet).
@SimonAnnetts if we did this we would need to identify the layergroup as an external layer

[2019-03-06 16:23] SimonAnnetts commented on #45
@andyb-esdm
So yes, I would add a field to the LayerGroup table - 'IsExternal'. This tells you that this is the LayerGroup that externally supplied WMS layers should go, and that it needs to provide the link/button for users to select external layers. Pre-defined external layers (received via the web-api) are just child layers of this layer group, but are only visible if added from a list.
I think

[2019-03-06 16:39] SimonAnnetts commented on #45
Having looked aat it a bit more.... the current mapper does not list external layers individually though, only external WMS sources and it queries for layers, so maybe we do need another table for WMS sources rather than specify external layers individually in the layers table?

[2019-03-06 16:41] andyb-esdm commented on #45
Okay. Sounds like another table would be neater.

[2019-03-07 10:27] JordanPinder commented on #60
@LynnHeeley @mattdebont is this still on your radar guys? The configuration for the EMODnet layers needs doing today/tomorrow so need access granting to emodnet_web_api.

[2019-03-07 11:51] JordanPinder commented on #45
@andyb-esdm @SimonAnnetts yes, current mapper just sources the WMS and then lists all individual layers within the WMS. I think this approach is still required, but the ability to list pre-defined layers is also needed - by pre-defined this is referring to listing a specific layer from a WMS source, from an EMODnet perspective this would be used for the main data products from each EMODnet portal

[2019-03-07 12:07] andyb-esdm commented on #45
@JordanPinder whenever you ask a client this or this? The always answer why not both ;) No problem. Thanks.

[2019-03-07 12:28] HelenwoodsJNCC commented on #45
@JordanPinder @SimonAnnetts @andyb-esdm MPA mapper works much the same way as Jordan describes above, so the approach makes sense to me.

[2019-03-07 12:42] SimonAnnetts commented on #45
So if I read this right, we need an extra table to hold WMS sources - this table is a child of MapInstance so that these external sources can be different per map instance. The mapper will do a getCapabilities request of the user's chosen WMS source and show the user the list of all the layers that will get added to the mapper. (Same functionality as existing mapper). The user cannot choose which

[2019-03-07 12:57] HelenwoodsJNCC commented on #45
@SimonAnnetts yes I am happy with that.

[2019-03-07 14:11] JordanPinder commented on #45
@SimonAnnetts as am I :)

[2019-03-07 16:05] SimonAnnetts commented on #45
Changes made to our test server database, web-api updated and documentation updated at https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-03-07 16:50] SimonAnnetts opened #61 "Dot Net Core environment on your web-api server via systemd"
I'm running into issues running database migrations when updating the web-api and the database schema on your server.
@paul-gilbertson is it possible to change the environment variable that is set in the systemd config for the web-api from:
[code]
to
[code]
so that I can see the stack traces when it fails. We can change it back when development is complete.
For some reason the web-api cannot inser

[2019-03-07 17:00] SimonAnnetts commented on #60
@LynnHeeley @mattdebont @JordanPinder
I seem to have permission problems now too.
The emodnet_web_api user has lost Delete permissions and possibly insert permissions on the tables:
Map, LayerGroups, Layers and ExternalWmsUrls

The web-api needs this to insert and delete test data from the database. Once we finish testing we can switch to the readonly user.

[2019-03-07 17:23] SimonAnnetts commented on #60
@LynnHeeley @mattdebont @JordanPinder
Ah I see the problem:
The web-api created a new table: 'ExternalWmsUrl' but the permissions look wrong so my code to populate the DB is failing.
Here are the permissions on other tables:
[code]

and here is the permission on the newly created table:

[code]

[2019-03-11 09:24] andyb-esdm commented on #45
@SimonAnnetts @JordanPinder @HelenwoodsJNCC @JamesPe
Hit a bit of a snag with external layers over the weekend - CORS. The example external server does not have CORS set up and so the mapper can't access the wms service. I think this is going to be an issue for many external services. So maybe we need a proxy controller on the api that we can route requests for external services?

![image](https:/

[2019-03-11 10:04] paul-gilbertson commented on #61
Actioned. Please test, then close.

[2019-03-11 13:03] JordanPinder commented on #55
I've set off a test caching for the full detailed EUSeaMap (on staging GeoServer as "emodnet:eusm2016_caching_test") - seeding will apparently take ~4 hours or so, tiled to zoom level 12.

I've changed the disk quota to 50GB for the time being - @paul-gilbertson do you have an idea what the max memory allocation is for the geoserver boxes?

[2019-03-11 16:46] paul-gilbertson commented on #55
Machines are t2.medium, so 4GB.

[2019-03-12 08:32] #61 closed

[2019-03-12 08:39] SimonAnnetts commented on #45
Seems to be working for me? (on this particular layer anyway)
![Screenshot_2019-03-12_08-38-10](https://user-images.githubusercontent.com/725219/54185985-37055d80-44a2-11e9-8030-efc5e6f432ee.png)

[2019-03-12 09:08] andyb-esdm commented on #45
@SimonAnnetts How strange - it works from localhost for me this morning too. No amount of 'empty cache and hard reload' would fix it on Sunday. I'll test with the other external data sources today.

[2019-03-12 11:51] JordanPinder commented on #55
@paul-gilbertson we may need to think about increasing memory on the machines - if both the EMODnet & MPA data are being hosted on the same GeoServer instances then there's going some pretty large memory requirements.

For reference I cached the main EMODnet layer last night at zoom scales 3 to 12 and it takes up ~1.8GB.

[2019-03-12 11:54] andyb-esdm commented on #32
Refer to #45 - sorry I've been commenting on the wrong issue.
I'm pretty sure we have CORS problems still (despite the fact the Belgian layers started working today). I'm still getting errors for the other external layer sources.

[2019-03-12 13:58] SimonAnnetts commented on #60
This is working now. The permissions have changed.

[2019-03-12 14:02] SimonAnnetts commented on #60
@JordanPinder
Not sure if you are still having issues with permissions when trying to populate the database.

If it's of any help to you I have created some very basic (and temporary) web pages that let you put data into the database. There's no authentication or protection for them or anything like that, so we can't use them in production without further work, but it might speed up how you get so

[2019-03-12 14:08] JordanPinder commented on #60
@SimonAnnetts permissions were granted yesterday so seems to be working. Thanks for the web page, that's exactly what I was needing to compare the layer configuration! Should have most things pulled in by tomorrow afternoon.

[2019-03-12 14:12] SimonAnnetts commented on #60
Great. and we can remove the test data very easily.... all the names of things end with '(Test)' ;)

[2019-03-12 14:14] andyb-esdm commented on #60
@JordanPinder does that buy me a bit more time to add polish to the mapper in the morning?

[2019-03-12 14:16] JordanPinder commented on #60
@andyb-esdm of course! Polish away :)

[2019-03-12 14:18] andyb-esdm commented on #60
@JordanPinder Thanks very much :)

[2019-03-12 17:23] andyb-esdm commented on #38
Quite a bit more to do on this but permalinks somewhat working.
Change layers, baselayer, move around and click the permalink icon.
This updates the url, which you can copy and paste into another window/browser and see that it recreates the map.
e.g. https://jnccdev-map.esdm.co.uk/?zoom=5&center=-3.508,52.305&layerIds=159,160&baseLayerId=1
TODO:
•	Get this working in the iframe context. Simon will

[2019-03-12 18:10] JordanPinder commented on #38
@andyb-esdm I agree with creating something that's simple to handle, so a bitly approach and popup would be good.

Storing wise, it should store the parameters used to display a specific map view - filters, lat/lon, zoom scale, basemap, layers etc.

[2019-03-13 17:13] LynnHeeley opened #62 "Enable access to emodnet-web-api"

[2019-03-13 17:16] LynnHeeley opened #63 "Create rsync utility for transferring raster data from local to staging to live"
For both Emodnet and MPA mapper, plus guidance on use

[2019-03-13 18:12] JordanPinder commented on #60
@LynnHeeley just tried using a blanket copy statement in the emodnet_web_api database and I'm getting another permissions issue using the following:

COPY public.Layer FROM 'file/path/to/Layer.csv' WITH (FORMAT csv);

Says I need to be a superuser?

I'm assuming this is me being a bit dense so apologies if I've missed something.

[2019-03-14 10:35] mattdebont commented on #60
@JordanPinder COPY requires you to have the file on the remote machine, which you do not have access to so what you are seeing is a filesystem error.

You will need to use a psql /copy command to do this, more infor here: https://til.codes/using-postgres-copy-command-to-copy-data-from-one-server-to-another/ or do the import in a different way here

[2019-03-14 16:50] HelenwoodsJNCC commented on #30
When layers are switched on they are displaying in the small inset map as well as the main map - Can we turn that off.

[2019-03-14 16:51] andyb-esdm commented on #30
@HelenwoodsJNCC Yes I think we can. I'll investigate.

[2019-03-15 11:24] HelenwoodsJNCC opened #64 "Additional layer info"
@andyb-esdm Would it be possible to integrate the info contained within the MetadataDescription of the Layers api table somewhere, just to give the user more info about the layer without having to click on the metadata link. This info appears on the current mappers when you hover over the ? button beside each layer name. @JordanPinder i think we discussed having it appear when you hovered over the

[2019-03-15 14:31] HelenwoodsJNCC commented on #14
@andyb-esdm we are planning to do a lot of user testing Monday/Tuesday next week. @JordanPinder has nearly got all the config sorted. Any chance you could re-deploy to our prelive version today so we have the most up-to-date changes?

[2019-03-15 15:39] JordanPinder commented on #33
@andyb-esdm @SimonAnnetts implemented some real layers and groups on the [staging mapper](https://prelive.mapper.emodnet-seabedhabitats.eu/), but getting an issue with the getLegend requests - request just seems to hang and not pull through. Do you get a similar problem?

[2019-03-15 15:50] JordanPinder opened #65 "CORS"
Hi

Issue loading layers outside Peterborough office. Seems to be a CORS problem, e.g.:

Access to image at 'https://staging.ows.emodnet-seabedhabitats.eu/emodnet/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng8&TRANSPARENT=true&LAYERS=eusm2016_caching_test&TILED=TRUE&WIDTH=256&HEIGHT=256&CRS=EPSG%3A3857&STYLES=&BBOX=-2348145.5089206137%2C7200979.560689885%2C-2191602.474992573%2C73

[2019-03-15 16:06] HelenwoodsJNCC commented on #33
@andyb-esdm @SimonAnnetts seems to be associated with the following error message:
Cross-Origin Read Blocking (CORB) blocked cross-origin response https://staging.ows.emodnet-seabedhabitats.eu/emodnet/wms?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LEGEND_OPTIONS=fontAntiAliasing:true;fontColor:0x5A5A5A&LAYER=eusm_all with MIME type text/xml. See https://www.chromest

[2019-03-15 16:24] JordanPinder commented on #33
@andyb-esdm @SimonAnnetts ignore this - I misinterpreted the "LegendLayerName" column, I thought this was in reference to the style name itself, not the layer name.

Nothing wrong with this, seems to work fine :)

[2019-03-18 09:34] HelenwoodsJNCC commented on #34
@andyb-esdm @JordanPinder I found a bit of a bug today. If you activate a filter on a layer, then turn the layer off and back on again. The filter is remembered on layer data but it isn't indicated with the filtered icon and the ticked boxes are cleared on the filter pop-up tool. We would like to retain the fitlered status but it is important that the filter tool and indicator retain the info as w

[2019-03-18 09:38] JamesPe commented on #34
Thanks Helen, Andy has the day off today - but is in again tomorrow.  That doesn't sound too complicated a bug to fix

[2019-03-18 11:41] JordanPinder commented on #45
@andyb-esdm @SimonAnnetts this is hopefully a simple one to amend - is it possible to get the "Add external layer" link included under the "External Layers" group? Currently it seems to be a little confusing for people when they're adding layers, viewing etc.

[2019-03-18 15:56] LynnHeeley opened #66 "Finalise staging and Live environments for MPA and Emodnet - Matt"
EC2 instance needs to be replicated

[2019-03-18 17:12] HelenwoodsJNCC commented on #38
@andyb-esdm feedback from the UAT - could the permalink appear in a pop-up box rather than just change the url at the top, otherwise it isn't clear what has actually happened. Also could the tool tip be made more descriptive/user friendly as people might not be clear what permalink means. e.g. share map link

[2019-03-19 08:16] HelenwoodsJNCC commented on #33
@SimonAnnetts @andyb-esdm we have had a bit of feedback about the legend window.  Firstly if you already have a GetFeatureInfo request open and then click on the get legend option it doesn't seem to do anything. I think the legend is actually appearing behind but this isn't clear, and the most recently clicked should ideally move to the front. There was also a comment asking if the legend can be f

[2019-03-19 08:24] HelenwoodsJNCC commented on #29
@andyb-esdm Can we make it so there is always a download button but it is greyed out if not data download link is available? Then we can have a tool tip stating 'Not currently downloadable'.

[2019-03-19 08:25] HelenwoodsJNCC commented on #35
@andyb-esdm Can the tooltip be changed if a filter is active to say something like 'layer currently filtered'?

[2019-03-19 08:38] HelenwoodsJNCC commented on #39
@andyb-esdm @SimonAnnetts a few comments from the UAT regarding this issue:
- Can we implement partial string matching - this would be particularly useful if the groupings are shown e.g. so you could type exclusive and bring up all the exclusive economic zone matches.

- I think we need to update the default description in the box, at the minute users think it looks like a total free text option w

[2019-03-19 08:39] HelenwoodsJNCC commented on #18
@andyb-esdm just to check is there a copyright statement requirement for Bing maps?

[2019-03-19 08:43] HelenwoodsJNCC commented on #45
@andyb-esdm @SimonAnnetts I presume we can't get legend and feature info from the external sources? Users find this a bit confusing so if we can't might be better to disable these options for external layers.

[2019-03-19 08:46] HelenwoodsJNCC commented on #9
@andyb-esdm @SimonAnnetts Can we add a small bit of text to the bottom of the mapper somewhere that states 'Map maintained by JNCC'?

[2019-03-19 08:51] HelenwoodsJNCC commented on #30
@andyb-esdm Currently when there are lots of layers switched on the active layers list goes off the bottom of the screen, would it be possible to be able to scroll down to see the ones at the bottom? Also, when this happens, if you drag the active layers panel the box locks to the top of the screen.

[2019-03-19 09:01] HelenwoodsJNCC commented on #37
@andyb-esdm @SimonAnnetts this is more general filtering feedback from the UAT:
- When the filter box is open users would like to be able to interact with the page without having to click to exit the filtering window first. Can we make it so if they click somewhere else the filter window closes?
- Users would also like a clearer message that the filtering has done something and be alerted if there

[2019-03-19 10:14] GMDuncan opened #67 "GetFeatureInfo feature_count"
Mapper calls to getFeatureInfo requests do not specify a feature_count value in the querystring, Geoserver's default feature_count is 1, meaning that in layers which have overlapping features, only the topmost gets returned.

Noticed through the WP4 points layer which has duplicate points (one for each classification system).

Is it possible to have this either controllable through the mapper admi

[2019-03-19 10:33] GMDuncan commented on #59
Something (angular?) seems to be pulling through the title text in the getfeatureinfo header ("Geoserver GetFeatureInfo output") as text within a div at the top of the Feature Info panel.  Is there any way to prevent this?

[2019-03-19 11:56] andyb-esdm commented on #67
Didn't know about this. If it isn't something you would want to change can we set it to a high constant e.g. 50 so we know we will always get 'everything'? Alternatively, it could be in the map config of the api or in the json config file config.prod.json on the server.
Shall we try it with a constant first to see if that's enough?

[2019-03-19 11:57] andyb-esdm commented on #67
I've added feature_count = 50 by default. I've pushed to live. So you may need to refresh your browser.

[2019-03-19 12:00] andyb-esdm commented on #65
You may find this is due to browser caching.
When I'm in development mode, (localhost) I get CORS errors because I have cached tiles from downloaded when testing jnccdev-map.esdm.co.uk/
Try this to see if it's the case with you:
open developer tools in chrome (presumably) F12
right click on the refresh button in the top url bar
select 'empty cache and hard reload'

[2019-03-19 12:01] andyb-esdm commented on #64
Yes. We could display it when you hover over the metadata button?

[2019-03-19 12:03] andyb-esdm commented on #59
It wasn't angular it was andyb ;)
I was displaying the whole returned document as the innerhtml of the div for each feature info.
I've now used the DOMParser to extract just the body from the getfeatureinfo response and use that as the innerhtml.
Please test.

[2019-03-19 12:10] andyb-esdm commented on #37
First one is fine - it's altering the behaviour of the popup. I deliberately enforced the close button for this one, though, because I could imagine someone carefully selecting a lot of filter values and accidentally clicking off the dialog before applying the filter! But I will implement as you describe.

I don't know how to detect if filtering has done anything with a WMS since you are just gett

[2019-03-19 12:13] andyb-esdm commented on #30
@HelenwoodsJNCC
1. The inset map isn't as easy to change as I'd hoped. If I understand the documentation, to do this properly, I would need to create a whole new map with just the base layer set and keep it in sync with the main map. I'll try some things with the overview map control but I'm not too optimistic - sorry.

2. Active layers list - an oversight from me here - apologies - I'll restrict

[2019-03-19 12:13] HelenwoodsJNCC commented on #64
The only issue I see it that users might want the additional info when deciding if they want to use the layer i.e. before they turn on the layer and it moves into the active layer pane with the metadata button. I think we discussed moving some of the buttons i.e. metadata and download into the all layers pane which would work with the above.

[2019-03-19 12:14] HelenwoodsJNCC commented on #59
I have just tested and the text no longer appears.

[2019-03-19 12:15] JamesPe commented on #37
I don't think the second one is possible as you say you only get back an image.  The only way round it is to have a matching WFS service setup and to query that to get a count.  That all becomes a lot of fiddle - and makes setting up / maintaining the map layers is much harder.

Its also of questionable value as the filtered object could be on some part of the map not currently visible

[2019-03-19 12:20] andyb-esdm commented on #9
@HelenwoodsJNCC Sure. I think that would sit quite nicely in the bottom right with the controls.

[2019-03-19 12:20] andyb-esdm commented on #35
@HelenwoodsJNCC Yes. That's no problem.

[2019-03-19 12:23] andyb-esdm commented on #39
@HelenwoodsJNCC @JordanPinder

Agree on point one.

For point two, we could house the search box in a container with some explanatory text and a title. But I quite like the minimal effect. So instead I can change the placeholder text. Please let me know what you would like.

[2019-03-19 12:23] andyb-esdm commented on #29
@HelenwoodsJNCC okay.

[2019-03-19 12:24] andyb-esdm commented on #64
Oh I see what you mean - sorry! I'll do something with the layers panel.

[2019-03-19 12:24] HelenwoodsJNCC commented on #37
OK thanks, we didn't know if it was possible. I think it just means we will have to think carefully at our end about how we implement our filters to try and avoid running into the zero results returned.

[2019-03-19 12:53] andyb-esdm commented on #64
@HelenwoodsJNCC  I've added a question mark icon and tooltip to display the metadataDescription field of the layer configuration.

[2019-03-19 13:01] andyb-esdm commented on #29
@HelenwoodsJNCC implemented. Please test.

[2019-03-19 13:24] HelenwoodsJNCC commented on #64
@andyb-esdm I like it, thanks.

[2019-03-19 13:25] HelenwoodsJNCC commented on #29
Seems to be working fine.

[2019-03-19 13:31] andyb-esdm commented on #64
@HelenwoodsJNCC Oops - there was a little bug. If there was no metadata description, you still got the icon and an empty tooltip. This applied only to external layers on our configuration. Now fixed.

[2019-03-19 13:35] SimonAnnetts commented on #39
@HelenwoodsJNCC @JordanPinder @andyb-esdm
If we are going to make the gazetteer return results for everything that contains the search string rather than everything that starts with the search string, should we limit the results, or only start searching after say 3 letters have been typed in the search box. Other wise just typing the letter E for example would likely return nearly everything in th

[2019-03-19 13:37] HelenwoodsJNCC commented on #39
@SimonAnnetts asking users to type three letters sounds reasonable enough to me.

[2019-03-19 13:40] SimonAnnetts commented on #39
If @JordanPinder is in agreement too then @andyb-esdm shall I implement that server side? Only return results if the query string is 3 characters or greater? That will provide a level of protection for performing lookups on the database if it's enforced in the web-api.

[2019-03-19 13:46] JordanPinder commented on #39
@SimonAnnetts @andyb-esdm yes please, limiting to 3 characters is fine with me!

[2019-03-19 13:53] GMDuncan commented on #67
Can confirm this is pulling through max 50 records now. Thanks.

[2019-03-19 13:53] SimonAnnetts commented on #39
Just pushed that change to jnccdev-map.esdm.co.uk -please test and if happy then I can push to your staging server also.

[2019-03-19 13:56] SimonAnnetts commented on #39
I've spotted a bug already..... having nothing in the box returns everything! This is due to there being an endpoint called /api/gazetteer/ .  I will remove this endpoint!

[2019-03-19 14:00] GMDuncan commented on #59
Looks fine here too. I'm not sure if it's changed now that just the body is loaded, or my brain has gone on to ultimate nitpick mode, but it seems like the padding inside of the featurinfo panel has disappeared (or was never there and I'm imagining things...)

Would it be possible to add a little bit of padding (5-10px) to the inside of the panel just to stop the featureinfo text from sitting righ

[2019-03-19 14:03] SimonAnnetts commented on #39
ok bug fixed.

[2019-03-19 14:03] andyb-esdm commented on #59
Certainly can do that. I wouldn't have thought the change to body only would have affected this but will pad a little in the pane.

[2019-03-19 14:14] andyb-esdm commented on #39
Autocomplete has a few UX considerations.

For example, we found that the minimum 3 letter search term has been difficult for users in other projects (e.g. CMSi) because a lot of people speculatively search to see what's available. Your chances of getting hits when you don't know what's there are a lot lower if you have a minimum length.

A lot of people wanted to see what begins with a certain le

[2019-03-19 14:23] GMDuncan commented on #37
A possible alternative solution could be to use Geoserver's countMatched legend option  ([For example](https://staging.ows.emodnet-seabedhabitats.eu/emodnet/wms?REQUEST=GetLegendGraphic&VERSION=1.3.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LEGEND_OPTIONS=fontAntiAliasing:true;fontColor:0x5A5A5A;countMatched:true&LAYER=habitat_point_eunis) ) but it would mean refreshing the legend every time someone mo

[2019-03-19 14:31] JamesPe commented on #37
I have done similar in the past - but that will does potentially significantly slow down the whole mapping considerably in my experience (depending on the layers used)

[2019-03-19 14:33] GMDuncan commented on #37
Aye, seems to be a significant slow down indeed.

[2019-03-19 14:34] JamesPe commented on #37
Yes - just about OK with small simple layers - but as soon as the layer gets complex delay becomes unacceptable IMO

[2019-03-19 14:50] LynnHeeley commented on #65
this is a staging server - is locked down to specific IPs. no issue. closed.

[2019-03-19 14:50] #65 closed

[2019-03-19 14:51] HelenwoodsJNCC commented on #39
@andyb-esdm I see what you mean if people don't know what they can search for. So you are suggesting we should go for no minimum search length, prioritise those that start with the search string, and limit the results. Could return say top 10 matches?

[2019-03-19 14:52] SimonAnnetts commented on #39
OK, can we open this question up again to see if this has changed the requirement on the gazetteer? I'm happy to try and implement whatever is specified.
@andyb-esdm so you are suggesting -
- no minimum length of search term
- limit number of results
- order by the 'startswith' result matches first, then the 'contains' results matches afterwards
?
@HelenwoodsJNCC @JordanPinder
any comments please?

[2019-03-19 14:56] andyb-esdm commented on #39
Something like that would be a better experience I think. There's already some client side control e.g. a small delay to the request (250ms) so that someone typing in more than one character won't generate multiple requests to the api. Also, it will only generate requests when the search term has changed client-side.

[2019-03-19 14:59] HelenwoodsJNCC commented on #39
I am happy to go with Andys experience on this, and just limit the number of results returned. @JordanPinder do you have a strong preference?

[2019-03-19 15:20] SimonAnnetts commented on #39
@andyb-esdm
Something like this in LINQ seems to work:
[code]
but still testing it....
@HelenwoodsJNCC @JordanPinder
If we limit the results, do we pick a value here and now and hard code it or should it be configurable somewhere - either in the web-api config file, or in the database, say in mapInstance ?

[2019-03-19 16:14] LynnHeeley opened #68 "Create MPA Geoserver instance"

[2019-03-19 17:11] andyb-esdm commented on #39
@SimonAnnetts The constraint here is how many to display in the drop down let's say 20!

[2019-03-20 13:09] JordanPinder commented on #39
@SimonAnnetts @andyb-esdm 20 sounds like an appropriate amount, but having it configurable would be great - ideally in the database itself if that's possible?

[2019-03-21 10:17] SimonAnnetts opened #69 "Access to basic CRUD pages for database management"
Currently the web-api has a very basic set of CRUD pages which can be used to populate the database with map instance and layer data etc. We used these for testing and development.

The URL is https://api.emodnet-seabedhabitats.eu/Index1

The interface has not been worked on in any way to make it more useable - for example the Layers list page has so many fields that the page is too wide etc.

**T

[2019-03-21 15:30] JordanPinder commented on #67
@andyb-esdm I think a high-constant would be fine as I can't imagine this would need changing in the future. @HelenwoodsJNCC do you agree?

[2019-03-21 15:32] HelenwoodsJNCC commented on #67
@andyb-esdm @JordanPinder yes, a high constant is fine.

[2019-03-21 15:33] JordanPinder commented on #64
Closing as issue is resolved.

[2019-03-21 15:33] #64 closed

[2019-03-21 15:33] JordanPinder commented on #60
Closing as issue resolved.

[2019-03-21 15:33] #60 closed

[2019-03-21 15:33] JordanPinder commented on #67
Grand, closing :)

[2019-03-21 15:33] #67 closed

[2019-03-21 15:34] #22 closed

[2019-03-21 15:40] JordanPinder commented on #54
Closing, refer to #52.

[2019-03-21 15:40] #54 closed

[2019-03-21 15:41] JordanPinder commented on #52
@andyb-esdm just checking whether guidance you mentioned has been produced? If so I'll close this issue.

[2019-03-21 15:53] andyb-esdm commented on #52
@JordanPinder
No I haven't. Plus there's more work to do on styling. There always is :) I suspect this will be the last issue to close!
I'll label this as ready for testing when I'm happy with everything, thanks.

[2019-03-21 15:54] JordanPinder commented on #34
@andyb-esdm @JamesPe let me know when this can be closed, or feel free to close when it's implemented.

[2019-03-21 15:55] andyb-esdm commented on #34
@JordanPinder @HelenwoodsJNCC
Haven't fixed the bug yet so keep this open.

[2019-03-21 15:59] JordanPinder commented on #29
Issue resolved, closing.

[2019-03-21 15:59] #29 closed

[2019-03-21 16:00] JordanPinder commented on #28
Resolved, closing.

[2019-03-21 16:00] #28 closed

[2019-03-25 09:52] andyb-esdm commented on #56
This still needs to be implemented

[2019-03-25 09:55] andyb-esdm commented on #39
Made the placeholder text more clear. It now says 'Search for marine regions ....'

[2019-03-25 09:56] andyb-esdm commented on #38
updated permalink tooltip to 'share map link'

[2019-03-25 10:00] andyb-esdm commented on #38
need to finalise permalink behaviour

[2019-03-25 10:11] andyb-esdm commented on #35
Implemented

[2019-03-25 10:17] andyb-esdm commented on #34
Now fixed.

[2019-03-25 11:10] #59 closed

[2019-03-25 11:23] #39 closed

[2019-03-25 11:25] #35 closed

[2019-03-25 11:26] #34 closed

[2019-03-25 15:05] LynnHeeley opened #70 "Replicate the emodnet_web_api schema in the mpa_web_api database"
changes will be completed by 27th. schedule 28/29th

[2019-03-25 15:07] JordanPinder commented on #55
@paul-gilbertson getting some issues with caching - one of the cached layers seems to have emptied and is not reseeding. Trying to [preview the layers](https://staging.ows.emodnet-seabedhabitats.eu/gwc/demo/emodnet:eusm2016_caching_test?gridSet=EPSG:4326&format=image/png8) results in an empty screen and returns an error of "No such workspace 'gwc/service'" when querying anywhere on the map.

Any i

[2019-03-25 15:10] LynnHeeley opened #71 "Check that contractor have read/write permissions for the mpa_mapper_api database."

[2019-03-26 12:41] SimonAnnetts commented on #18
Slight changes have been made to the BaseLayers table as these are now just WMS layers.
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-03-26 12:42] SimonAnnetts commented on #11
Gazetteer now has a configurable limit of returned records, which can be defined in appsettings.json

[2019-03-26 12:43] SimonAnnetts commented on #56
MapInstance now has a MaxZoom property.
https://github.com/jncc/web-mapper-core/wiki/Database-Schema-and-API-Endpoints

[2019-03-26 12:46] SimonAnnetts commented on #39
Gazetteer record limit is configurable in the appsettings.json
in the subsection:
[code]

[2019-03-26 14:57] JamesPe commented on #70
Helen would like to try and replicate the mapper for MPA this Thursday (28/4/19).  So Simon could you work with Helen and Paul in order to help them:
1) Replicate the API db
2) Replicate the API and point at new DB
3) Replicate the mapper files to the web server
4) Ensure that everything is joined up and talking to correct geoserver etc with CORs enabled

[2019-03-27 11:01] SimonAnnetts commented on #70
Can someone clarify for me please?

Is the MPA mapper and backend database running on the same hosts we have already or will they be on different servers?

If they are on different servers then can we have the same access from our staging server? Presumably if you are just copying the existing VM that hosts the web-api and web-mapper then the SSH keys should already be set up to allow us access (I

[2019-03-27 11:05] JamesPe commented on #70
MPA mapper website is on a different server I believe

It will use a different API database - but on the same copy of postgres
I imagine that needs a separate API installation - which I guess will be on the same server as the existing API

I think at this point we should be stepping back from doing the actual deployment (and therefore not needing access) but rather assisting JNCC staff to do their

[2019-03-27 12:07] HelenwoodsJNCC commented on #70
@SimonAnnetts @JamesPe The back-end MPA api database is on the same host as the Emodnet one, it just exists as a separate database. The MPA mapper website will be a different server. @paul-gilbertson can you comment to confirm and provide the hostname etc as required?

[2019-03-27 13:57] SimonAnnetts commented on #70
Given the new hostname for the MPA mapper/web-api server, I could easily deploy the current mapper and api to the server. It would just be a small tweak to the deploy script we use.
On first run on the new host, the web-api would auto generate the schema in the database (assuming the database is setup with right permissions and I have been given the database name, the web-api's username and passwo

[2019-03-27 14:01] SimonAnnetts opened #72 "Schema change to emodnet-web-api database and Backups"
Hi,

I'm about to make some minor schema changes to the web-api database. This will happen when we upload the latest web-api code version to your server - it will perform some database migrations.
There shouldn't be any data loss, but I don't want to take any risks!
Now that you have some real data in the database I would prefer to wait until you have a backup of the database. Can this be arranged

[2019-03-28 11:51] JordanPinder commented on #66
@paul-gilbertson Hi Paul, have you got any indication on when the live EMODnet mapper and config database will be completed?

[2019-03-28 11:57] JordanPinder commented on #55
@JamesPe @paul-gilbertson any ideas on the above comment?

[2019-03-28 12:04] JamesPe commented on #55
Not sure @JordanPinder  - but possibly:

I got the same error No such workspace 'gwc/service' on GeoServer v2.14.0. It was because I had disabled Global Services, so GeoServer was expecting a path like /geoserver/<workspace>/gwc/service/wmts?. Obviously 'gwc/service' was being parsed as the workspace name, thus giving this error.

To fix:

In the web interface > Settings > Global > Under OGC Servi

[2019-03-28 12:51] SimonAnnetts commented on #72
@JordanPinder can I go ahead and update the schema of this database before Paul copies it? You have real data in there that was for UAT, should it be backed up first? I'm not expecting it to be lost, but would feel safer if we had a copy.

[2019-03-28 12:52] JordanPinder commented on #72
@SimonAnnetts Sorry Simon!! Completely forgot to reply to this yesterday - I'll do a SQL dump of the database just in case, will let you know when it's fine to update the schema.

[2019-03-28 14:28] JordanPinder commented on #55
@JamesPe amazing, thanks James - we recently turned off global services, just turned it back on and caching is working again.

For reference [this thread](https://gis.stackexchange.com/questions/289401/geoserver-global-services-and-geowebcahe) might be useful - changing the Geowebcache endpoints needs to be done within the config file itself it seems. Will look into it further.

[2019-03-28 15:23] paul-gilbertson commented on #71
Permissions are present and correct.

[2019-03-28 15:23] #71 closed

[2019-03-28 15:28] paul-gilbertson commented on #70
@SimonAnnetts A set of MPA credentials were passed to you with the EMODnet ones. The mpa_web_api database is ready for you to use. Can you try deploying from your deploy script?

[2019-03-28 15:58] paul-gilbertson commented on #69
My preference is option 2 from the list above

[2019-03-28 17:07] JordanPinder commented on #72
@SimonAnnetts database copied - ran into issues with permissions on sequences, took a while to figure an alternative solution.

Feel free to update the schema!

[2019-03-28 17:11] SimonAnnetts commented on #70
Hi @paul-gilbertson
I have managed to deploy the mapper and the web-api to the MPA server, however systemd has not started the web-api (probably gave up because it wasn't there until now). Can you check that the service is enabled?
Also I can't find the database credentials I need for the MPA web-api !

[2019-03-28 17:12] paul-gilbertson commented on #66
March 29th

[2019-03-28 17:55] JordanPinder opened #73 "Schema mixed case conventions"
Apologies for the late notice with this one! I just noticed whilst doing some updates to the config database a couple niggly things around the use of mixed cases within the table and columns names.

Issue is that with the use of capital letters it means we have to call tables / columns verbatim with the use of double quotes everytime, for example:

UPDATE public."Layer"
SET "Url" = '//staging.ows.

[2019-03-28 18:19] andyb-esdm commented on #73
@JordanPinder one for @SimonAnnetts I think! :)

[2019-03-29 08:30] HelenwoodsJNCC commented on #70
@paul-gilbertson was there a specific user account set up to allow exegesis access to the mpa_web_api database? or did you just want to provide the mpa web api admin role to there existing user set up?

[2019-03-29 10:14] JordanPinder commented on #55
@JamesPe @paul-gilbertson  me again! The cache is building on the layer but now the issue is it will not stop building - came in this morning and it was apparently taking up 1.25TB, whereas it should only be ~2GB max.

I removed the layer and reuploaded from PostGIS, but now getting a disk quota issue (see attached).

![GeoServerError](https://user-images.githubusercontent.com/30415162/55225739-38

[2019-03-29 11:22] JamesPe commented on #55
Welcome to the joys of geoserver !
I've not seen that one before - but the suggestion sound sensible
Our experience with geoserver is that when its running ok - all is well - but when it starts going amiss its often easier to reset that element and rebuild - so that suggestion sounds sensible

[2019-04-02 08:33] HelenwoodsJNCC commented on #70
@SimonAnnetts do you have everything you need to set up the staging version of the MPA mapper? Or is there more info you need from @paul-gilbertson?

[2019-04-02 08:37] SimonAnnetts commented on #73
In theory we could change all the table names to lowercase. I would have to annotate the C# classes in the web-api, specifying the lowercase table names as table mapping options. I'm sceptical that EF core migrations would successfully migrate the database tables due to the table relationships and foreign keys (the tables and constraints would have to be renamed in the right dependent order).  We

[2019-04-02 08:37] SimonAnnetts commented on #72
Done!

[2019-04-02 09:00] SimonAnnetts commented on #70
I need confirmation that I can still use the same username to access the mpa_web_mapper database that is used to access to emodnet_web_mapper database as I don't think I have any other credentials on file.

I also need @paul-gilbertson to restart the web-api service via systemd as it is not running currently and systemd is not restarting it after I deploy to the server so we get a service unavaila

[2019-04-02 13:50] HelenwoodsJNCC commented on #71
@paul-gilbertson is this using the same login as for the emodnet mapper api database? See #70

[2019-04-02 15:01] paul-gilbertson commented on #70
This is now complete

[2019-04-02 15:21] SimonAnnetts commented on #70
Thanks Paul. I can confirm that the mpa web-api is now functioning and has populated the database.
I have filled it with test data initially, @HelenwoodsJNCC do you want the test data in there or shall  I clear it? The mpa mapper is looking for a mapinstance called MPA and the test data only provided emodnet so the mpa mapper is blank currently.

[2019-04-02 16:14] HelenwoodsJNCC commented on #70
@SimonAnnetts I have real data ready to upload so it doesn't matter too much about the test data. I will get this data loaded in asap. However I am now having trouble with permissions in the database I get the 'ERROR: permission denied for relation BaseLayer, SQL state: 42501' error when trying to view/edit the tables - @LynnHeeley could you get someone to grant me read/write permissions for the d

[2019-04-03 08:25] GMDuncan commented on #73
Hmm maybe leave this as a low-priority task for now and see how much time etc there is later on? I think it's less urgent and more of an ease-of-use aspect for Jordan accessing the database directly (having to precisely reference the relationships in quotes etc) more than anything. There are likely higher priority tasks more worthwhile of the time/funds.
What do you think @JordanPinder ?

[2019-04-03 08:36] HelenwoodsJNCC commented on #70
@SimonAnnetts can you grant permissions for the mpa_web_api tables etc. to the mpa_mapper_web_api_admin role? Currently they are locked to the mpa_web_api user.

[2019-04-03 08:59] JordanPinder commented on #73
@SimonAnnetts @GMDuncan yup no worries, as I mentioned it isn't a significant issue it's more for convenience than anything else - leave as it is :)

[2019-04-03 09:09] SimonAnnetts commented on #70
I do not have the permissions to do that. Unfortunately, when the web-api creates the database on first run, it can only give it permissions for itself to use, it can't grant permissions for others. I had this problem with the emodnet database too - see issue #60 .
I have removed the test data from the database.

[2019-04-03 09:15] HelenwoodsJNCC commented on #70
@SimonAnnetts no worries. @mattdebont can you help with getting the permissions sorted?

[2019-04-04 08:40] JordanPinder commented on #55
@paul-gilbertson have you had any chance to look further into this, specifically removing the diskquota.index.db file from the staging GeoServer VM?

[2019-04-04 13:23] HelenwoodsJNCC commented on #70
@SimonAnnetts @JamesPe I am still having permissions issues this end, but hopefully we should be sorted early next week to allow user testing to happen asap.

[2019-04-05 09:43] HelenwoodsJNCC commented on #70
@SimonAnnetts @JamesPe @andyb-esdm we now have data in the MPA api database but nothing is showing up on the mapper, I get
Failed to load resource: net::ERR_NAME_NOT_RESOLVED https://api.mpa.jncc.gov.uk/api/mapinstance/MPA
Could not load map instance config from API https://mapper.mpa.jncc.gov.uk/main.d33c277b31422467f677.js
messages in the console. Any ideas why this might be?

[2019-04-05 09:45] JamesPe commented on #70
This works for me - https://mapper.mpa.jncc.gov.uk/
Is that what you mean?

[2019-04-05 09:47] JamesPe commented on #70
![image](https://user-images.githubusercontent.com/10585763/55619200-23db6a00-5790-11e9-9977-6f3fdc896da3.png)
@HelenwoodsJNCC  are you not seeing this ?

[2019-04-05 09:49] HelenwoodsJNCC commented on #70
@JamesPe, no strangely enough we don't see any of the data layers - glad to see it's working for you though. Must be an IT issue at our end.

[2019-04-05 09:50] andyb-esdm commented on #70
@HelenwoodsJNCC @JamesPe
I was getting unauthorised response when I first connected but it worked when I connected to the exegesis vpn. Is this IP locked?

[2019-04-05 09:52] andyb-esdm commented on #70
By the way, nice to see some different data!
I think the active layers container needs a bit more thought though. I'm not keen on that scroll ...

[2019-04-05 09:54] HelenwoodsJNCC commented on #70
@JamesPe @andyb-esdm I think it's just taking a while for the changes IT made to work their way up to Aberdeen, seemingly it is working fine in Peterborough. Agreed it's nice to look at a slightly different map for a change!

[2019-04-05 09:57] JamesPe commented on #70
I think the API is unlocked - as you can call it I believe from your location I believe.
I would guess that maybe in the mapper you see the layer control but none of the layers on the map itself
That would suggest that geoserver is locked down to known IP addresses - and yours isn't one of them Helen - clearly for a public mapper this needs to be open

It works from my home fixed IP - but JNCC doe

[2019-04-05 09:59] JamesPe commented on #70
@HelenwoodsJNCC  - seeing as Andy isn't seeing it at home either - I would be suspicious that Peterborough is another known IP and Geoserver is locked.

This is a direct call to geoserver that should work (and return an image) - https://staging.ows.emodnet-seabedhabitats.eu/mpa_mapper/wms?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng8&TRANSPARENT=true&LAYERS=sac_mc&TILED=TRUE&WIDTH=2

[2019-04-05 09:59] andyb-esdm commented on #70
GetFeatureInfo a bit difficult with unfilled polygons - you have to click on the boundaries - in the past I have given them a very low opacity fill so they can be selected when you click on their interiors. Might be worth a try on one layer?

[2019-04-05 10:01] andyb-esdm commented on #70
Yes, I had to turn on ESDM VPN

[2019-04-05 10:11] HelenwoodsJNCC commented on #70
I can access the EMODnet prelive site using my Peterborough VM but seemingly not the MPA mapper site. I will speak to IT. @andyb-esdm good tip about the polygons I will tweak the styling. Good to see the group styles seem to be working ok.

[2019-04-05 10:13] andyb-esdm commented on #70
@HelenwoodsJNCC try it on one first to see if it will work. Yes, really liked what you did with the sand eels point data :)

[2019-04-05 10:19] andyb-esdm commented on #70
data look great against bing background too
![image](https://user-images.githubusercontent.com/31621682/55621178-b0882700-5794-11e9-860c-115e2440b41d.png)

[2019-04-08 11:28] HelenwoodsJNCC commented on #38
@andyb-esdm Quick Q. The current MPA mapper is used to create dynamic map images on some of our MPA pages e.g. map at the top of http://jncc.defra.gov.uk/page-6535, will is be possible do to something similar with the new mapper?

[2019-04-08 11:41] #70 closed

[2019-04-08 11:44] HelenwoodsJNCC commented on #52
@andyb-esdm @SimonAnnetts Any idea why the mpa mapper group layers are being ordered in terms of their LayerGroupId rather than their assigned Order?

[2019-04-08 13:16] HelenwoodsJNCC commented on #52
@andyb-esdm can we limit the reduce the horizontal limits of the map information box a bit? Currently for the MPA mapper it stretches most of the way across the map. Can you also remove the map-info works! comment above the top left corner.

[2019-04-09 08:56] andyb-esdm commented on #52
@HelenwoodsJNCC the incorrect sortorder is a bug - I'll fix it
I'll limit the width of the map-info control (and remove the default text too - sorry hadn't noticed it!)

[2019-04-09 09:02] andyb-esdm commented on #38
@HelenwoodsJNCC I wasn't aware you could do that with the previous version. That's using a proxy to return just the image from the wms - it isn't the mapper as such if that makes sense. It might be possible to query geoserver directly to do that. Will discuss how that works with @JamesPe  and get back to you.

[2019-04-09 09:41] HelenwoodsJNCC commented on #52
@andyb-esdm thanks! Any idea how I can change the default base map to Bing maps? The base layers and map instance base layer api table options don't seem to reflect what is shown on the mapper.

[2019-04-09 10:37] andyb-esdm commented on #52
@HelenwoodsJNCC open street maps is hard-coded at the moment - we could maybe add a config setting this week. Will speak to @SimonAnnetts about that. I'm going to be revisiting base layers this week anyway.

[2019-04-09 11:18] HelenwoodsJNCC opened #74 "MPA mapper polygon load issue"
We are having a bit of an issue with some of the MPA polygons, whereby they only partially displaying when zooming in close, specifically those with complex inshore boundaries, e.g. Strangford Lough SAC. @JamesPe any ideas why this is? Thinking it might be something that could be solved by caching the layer potentially?

![image](https://user-images.githubusercontent.com/30657820/55796121-1dffc480

[2019-04-09 12:15] JamesPe commented on #74
Hmm - are they all polygons - or are some lines etc ?  I assume they are all one layer in geoserver?
Is it a timeout issue - that geoserver is failing to keep up?
@HelenwoodsJNCC  can you send me a permalink highlighting the issue ?
Also just possible its a network connectivity issue at your end - but again if I could see that would help identify

[2019-04-09 12:52] HelenwoodsJNCC commented on #74
@JamesPe they are all polygons and in a single layer on Geoserver.

Here is an example:
https://mapper.mpa.jncc.gov.uk/?zoom=10&center=-5.544,54.430&layerIds=43&baseLayerId=1&activeFilters=

[2019-04-09 14:20] andyb-esdm commented on #52
okay

[2019-04-09 17:40] JamesPe commented on #38
Hi @HelenwoodsJNCC  this isn't really a mapper issue as the image is served from geoserver.  It is on your current system possible to create a link that will generate an image (see below - quick attempt to roughly replicate your example).
It does take a little bit of editing a URL to get the desired result - but perfectly possible.
If this is something you need a lot - we could in the next version

[2019-04-09 18:13] JamesPe commented on #74
Hmm - very odd - but definitley geoserver.

If you ask for the full none tiled image - you get it it e.g
https://staging.ows.emodnet-seabedhabitats.eu/mpa_mapper/wms?mapInstance=MPSMap_&LAYERS=sac_mc_full&FORMAT=image%2Fpng&TRANSPARENT=true&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPSG%3A900913&BBOX=-712952.72422874,7214697.2527581,-538332.33313556,7301262.1872789&WIDTH=2284&HEIGHT=113

[2019-04-09 18:18] JamesPe commented on #74
I can get the same effect here directly in geoserver- https://staging.ows.emodnet-seabedhabitats.eu/mpa_mapper/wms?service=WMS&version=1.1.0&request=GetMap&layers=mpa_mapper:sac_mc_full&styles=&bbox=-2155423.5,6417485.5,374296.3125,8592683.0&width=768&height=660&srs=EPSG:3857&format=application/openlayers

Zooming in at steps and at one zoom level strangford disappears.
I can only imagine its a ba

[2019-04-09 18:44] JamesPe commented on #74
@HelenwoodsJNCC  been messing with your caching settings for that layer.
Changing the metatiling settings for the cache has improved (but not removed) the issue.
I'm pretty sure that this means its probably a n issue with a multipart polygon / index - i.e. the polygon isn't showing on the tile because geoserver/postgre doesn't believe the polygon exist on that tile.

I don't have access to your po

[2019-04-09 18:48] JamesPe commented on #74
https://gis.stackexchange.com/questions/170009/multipolygon-postgis-layer-exposed-via-geoserver-is-empty-at-certain-zoom-levels

https://stackoverflow.com/questions/21719941/postgis-convert-multipolygon-to-single-polygon

[2019-04-10 06:57] HelenwoodsJNCC commented on #38
@JamesPe that's great, thanks.

[2019-04-10 06:59] HelenwoodsJNCC commented on #74
@JamesPe thanks, will do some investigating in the db.

[2019-04-10 14:04] andyb-esdm commented on #38
Permalink is now in a copy-able pop-up. @SimonAnnetts has also written some js so that it will work from within a hosted iframe.

[2019-04-10 14:04] andyb-esdm commented on #38
So we'll need to deploy that somewhere in your CMS to test.

[2019-04-10 14:22] HelenwoodsJNCC commented on #38
@andyb-esdm Seems to be working in the iframe here: http://jncc.defra.gov.uk/default.aspx?page=7718

[2019-04-10 14:50] andyb-esdm commented on #38
@HelenwoodsJNCC yes - but simon has written some javascript so that it will take you to jncc.defra.gov.uk. and apply the permalink to the map. We'll get that set up for you.

[2019-04-10 14:51] HelenwoodsJNCC commented on #38
@andyb-esdm fab thanks!

[2019-04-11 11:05] GMDuncan commented on #38
Not sure if this is a new issue, let me know if so and I'll separate it off.

@andyb-esdm Just looking into cross-functionality of the permalinks with the current EMODnet "[Metadata search](https://www.emodnet-seabedhabitats.eu/access-data/search-metadata/)" page.

Currently the metadata search page itself fills in a link template with a GUI, that is passed to the old mapper's proxhandler, which u

[2019-04-11 11:19] andyb-esdm commented on #38
@GMDuncan I think I understand but I'm not positive! I didn't know about this functionality.
Can you provide a walk through with a real example starting from the Metadata Search? For example,
'type mytilus edulis beds in the metadata search', 'click the second link' etc.
Thanks

[2019-04-11 11:31] GMDuncan commented on #38
I'll try and come up with something, this afternoon, yup!

[2019-04-11 13:47] GMDuncan commented on #38
1. Go to the [Metadata Search](https://www.emodnet-seabedhabitats.eu/access-data/search-metadata/) page.
2. Type **"Greater Haig Fras"** into the search box and click search.
3. Note the URL of the "View map GB001518" hyperlink.
     This is a standard template url:
     `https://www.emodnet-seabedhabitats.eu/access-data/launch-map-viewer/?mapInstance=MESHAtlanticMap&mapZoomToId=GB001518&mapZoomTo

[2019-04-11 13:50] HelenwoodsJNCC commented on #74
@JamesPe Turns out the data had been imported with a simple polygon geometry type rather than multipart polygon geometry type. I have fixed this for the SAC layer and it seems to work ok now.

[2019-04-11 15:25] GMDuncan commented on #38
Thanks @andyb-esdm - didn't realise that it was an encoded JSON object.

Looks as though you're using LZstring with the compressToEncodedURIComponent method? It actually handily looks like someone's translated this package into Python. I'll have a go and see if they're directly comparable. If so, might be able to prebake the ICES geonetwork metadata records with correct download links and solve ev

[2019-04-11 15:53] andyb-esdm commented on #38
@GMDuncan I am 👍

There were a few gotchas reading this because the base64 encoded string was being uri encoded (e.g. = turning into %3D), which broke lzstring (a bug?) but this is all now handled by the mapper so not something you need to worry about when creating the compressed activefilter.

The code is here:
https://github.com/jncc/web-mapper-core/blob/master/web-map/src/app/permalink.service.

[2019-04-11 16:06] andyb-esdm commented on #38
The class of interest, if you're going to try this, is here:
https://github.com/jncc/web-mapper-core/blob/master/web-map/src/app/models/active-filter.model.ts
This is an object representing a filter for a single layer.

layerId and filterId are pretty self explanatory from the config database
filterLookupIds: number[] are the ids of the lookup values you want to filter by used by both cql and sql

[2019-04-12 07:44] GMDuncan commented on #38
Thanks @andyb-esdm

Looks like the python library works nicely well. Seems to encode and decode the filterstrings very nciely, so I think that we can sort this out on our end, and scrub the sub-issue!

[code]

[2019-04-12 08:54] andyb-esdm commented on #38
@GMDuncan that's great.

[2019-04-12 09:58] paul-gilbertson commented on #55
Done, retry?

[2019-04-12 10:53] JordanPinder commented on #55
Error is still coming up unfortunately!

[2019-04-12 12:03] paul-gilbertson commented on #55
Try now....

[2019-04-15 08:59] JordanPinder commented on #55
Same as before, saying the same error as usual :(

[2019-04-15 14:28] JordanPinder commented on #52
@andyb-esdm Hi Andy, couple little design things some people have raised :)

On the All Layers menu, is it possible for the sub-groups (light blue) to be slightly indented to the right so it is clear what group (dark blue) they're part of? A bit of padding should be fine I think?

When group names are more than one line, the second line does not align with the first (see picture). Is it possible t

[2019-04-15 16:16] GMDuncan commented on #37
Hi, I've just noticed that when mixing complex and non-complex filters, the filter logic for creating the WMS request seems to get confused.

With both a complex query and non-complex filter set on a layer, the CQL_FILTER parameter is set in the querystring, but the viewparams snipped is not generated. For example with the [Annex I habitat maps layer](https://prelive.mapper.emodnet-seabedhabitats.

[2019-04-15 16:22] JordanPinder commented on #55
FYI the error seems to be resolved now, error message no longer appearing and disk storage information is appearing again. Thanks for sorting it!

[2019-04-15 17:06] GMDuncan commented on #52
hi @andyb-esdm Would it be possible to add the following to  feature-info-style.css ?

[code]

[2019-04-16 07:41] andyb-esdm commented on #52
@JordanPinder Yuck! I'll fix both of those alignment issues.

[2019-04-16 07:43] andyb-esdm commented on #52
@GMDuncan Yes. I can add those. When development is completely finished, you will be able to add all the classes you like to these files (see documentation). I've ensured that these css files aren't cached so you will be able to edit them, refresh the browser and see your changes applied. But I'll add these in the meantime.

[2019-04-16 08:30] GMDuncan commented on #52
@andyb-esdm Thanks! Just to test that I've done it correctly haha.

[2019-04-16 09:33] HelenwoodsJNCC commented on #37
Hey, Im having a bit of difficultly getting the Complex filtering with lookups to work via SQL view. Im trying to set up the MPA boundary layers so they can be filtered by feature. Each site can have multiple features and rather than have duplicated polygons these are stored as comma delimited lists (annoying I know!).

I have written the following SQL view:
SELECT * FROM sac_mc_full WHERE site_co

[2019-04-16 10:27] JamesPe commented on #37
I think this works now @HelenwoodsJNCC  - you didn't need the last quotes round the %spCode% as the app provides these.

So I changed your query to :
SELECT *
FROM sac_mc_full
WHERE site_code IN (SELECT site_code
FROM sac_mc_full
CROSS JOIN regexp_split_to_table(species,',')
WHERE regexp_split_to_table IN (%spCode%))

Also changed default to 'xxx' - so nothing shows by default.

Having said all th

[2019-04-16 10:32] JamesPe commented on #37
Hmm @HelenwoodsJNCC  - the sql you have above looks correct actually - but that wasn't what was in geoserver - you had: SELECT *
FROM sac_mc_full
WHERE site_code IN (SELECT site_code
FROM sac_mc_full
CROSS JOIN regexp_split_to_table(species,',')
WHERE regexp_split_to_table IN ('%spCode%'))

[2019-04-16 10:32] HelenwoodsJNCC commented on #37
@JamesPe Graeme and I were playing around too. The change of the validation expression to ^[\w\d,']+$ seems to have done the trick. Does including the ,' increase any risk of injection issues?

Ideally I would like the layer to show everything by default, but we aren't sure of the best way to go about specifying this in the default parameter. We can do a bit of a bodge to make it work, but do you

[2019-04-16 11:04] JamesPe commented on #37
Think we are fighting each other  @HelenwoodsJNCC !
Ah - afraid I may have overwritten your workaround (which was selecting all the codes from teh lookup?) Not sure there is anything neater for an IN query.

As for ' in RegEx - well it is needed for the query to work.  You aren't allowing ; which is the dangerous one combined with a '.  So long as your geoserver account is readonly etc there shoul

[2019-04-17 11:43] JordanPinder commented on #52
@andyb-esdm just on the alignment, this is also present in the sub-grouping titles - is it possible to get the alignment fix filtered down to sub-groupings as well?

[2019-04-17 11:53] andyb-esdm commented on #52
@JordanPinder I will indent all the things.

[2019-04-17 14:15] andyb-esdm commented on #52
@JordanPinder I've fixed the word wrap and indented sub layer groups but not the layers beneath them. I can do this - and sort of think I should - but a bit concerned about space getting tight for the layer names. Before I edit the teetering pile of crockery that is the CSS, let me know what you think. I can always increase the default width of the whole layer selector if necessary too. Haven't de

[2019-04-17 14:18] andyb-esdm commented on #52
Deployed here now - if you want to look at it live.
https://jnccdev-map.esdm.co.uk/

[2019-04-17 14:50] GMDuncan commented on #52
hi @andyb-esdm I agree with you that indenting the layers more may well restrict the space too much. the dev site looks absolutely grand to me personally in terms of various levels of indentation. Awaiting views from the others, however!

[2019-04-18 13:47] JordanPinder commented on #52
@GMDuncan just checking, when you say dev site do you mean the link above or the prelive site?

Personally I prefer the indentation - if you were to increase the whole layer selector width by the level of indentation I'd assume that'd prevent any squashing?

[2019-04-18 13:57] andyb-esdm commented on #52
@JordanPinder Yep. I can increase the width of the whole div and indent the layers to align with . The width was pretty arbitrary when I created the layer selector.
However, I didn't want to mess with this before getting both of your opinions because when I did the first bit of indentation 'everything' went out of alignment temporarily (hence the crockery reference)

[2019-04-18 13:58] HelenwoodsJNCC commented on #52
@andyb-esdm The indentation looks good to me!

[2019-04-23 08:08] #74 closed

[2019-04-23 08:15] #30 closed

[2019-04-23 08:48] #73 closed

[2019-04-23 08:48] #72 closed

[2019-04-23 08:50] #57 closed

[2019-04-23 10:22] #50 closed

[2019-04-23 10:22] #45 closed

[2019-04-23 10:23] #44 closed

[2019-04-23 10:23] #38 closed

[2019-04-23 10:24] #32 closed

[2019-04-23 10:25] #17 closed

[2019-04-23 10:29] #15 closed

[2019-04-23 10:30] #14 closed

[2019-04-23 10:30] #12 closed

[2019-04-23 10:30] #11 closed

[2019-04-23 10:30] #10 closed

[2019-04-23 10:31] #9 closed

[2019-04-23 10:31] #8 closed

[2019-04-23 10:31] #7 closed

[2019-04-23 10:31] #6 closed

[2019-04-23 10:31] #5 closed

[2019-04-23 10:31] #3 closed

[2019-04-23 10:32] #4 closed

[2019-04-23 14:12] andyb-esdm commented on #18
@HelenwoodsJNCC
@JordanPinder
@GMDuncan
Just working on the default base layers
1. I don't think OpenTopoMap adds much and it doesn't look very good. Shall I drop it?
2. Currently we're using BingAerial - would you prefer the labelled version so you can see place names (like openstreetmap)
3. I will put the default baselayer in the config file ("Bing", "OSM" ...) but this will be overwritten if yo

[2019-04-26 10:59] HelenwoodsJNCC commented on #18
@andyb-esdm, @JordanPinder and I are both happy to drop OpenTopoMap. As for BingAerial we aren't totally. I presume the labelled version of BingAerial is just this version: https://www.bing.com/maps/aerial? I'm happy to go with the labelled version as long as it doesn't have any MPAs labelled on it like openstreetmap.

[2019-04-26 11:02] andyb-esdm commented on #18
@HelenwoodsJNCC Thanks.
The labeled version includes roads too when using their api. So slightly different to your example.
I've popped it on https://jnccdev-map.esdm.co.uk/ as a test for you to look at. It's easy to revert back to Aerial only if this is too busy.

[2019-04-26 12:39] HelenwoodsJNCC commented on #18
@andyb-esdm I think i prefer without the labels as it looks a bit busy, so if we can revert that would be great.

[2019-04-26 12:43] HelenwoodsJNCC commented on #52
@andyb-esdm have been thinking about all the elements in the bottom right corner of the mapper. I think if we rearranged so the base map attribute statement was at the bottom, i.e. where the lat/long box is at the moment and moved the lat/long up next to the scale bar it might look better. I think we could also remove the background box from the base map statement and just change the text colour -

[2019-04-26 12:52] andyb-esdm commented on #52
@HelenwoodsJNCC Thanks for the feedback. I'll give it a try.
I found that, without any background, some of the controls were illegible against base mapping and the overlays but I'll experiment.

[2019-04-26 13:02] andyb-esdm commented on #18
@HelenwoodsJNCC  I agree - I'll do that now

[2019-04-26 13:20] JordanPinder commented on #52
@HelenwoodsJNCC @andyb-esdm I agree - switching the positions of the attribute statement & lat/lon box would be good, as well as removing the redundant white space. Although I'd personally be keen on keeping the background box for the base map statement - removing it might make it a bit difficult to view the text even if the colour is changed? Could always test it and see what it looks like :)

[2019-04-26 13:52] HelenwoodsJNCC commented on #52
@JordanPinder @andyb-esdm im happy to keep the background on the base map attribute statement. It was just the element Hugh and I were least bothered about being really obvious!

[2019-04-29 08:22] andyb-esdm commented on #52
@JordanPinder @HelenwoodsJNCC I've rearranged the controls on the bottom right of the map and deployed to the pre-live environments.

- Attribution for JNCC and background layers combined.
- Scale bar and mouse position combined
- Map controls at the top

[2019-04-29 08:23] andyb-esdm commented on #33
@HelenwoodsJNCC GetFeatureInfo now closes when you open the legend

[2019-04-29 08:27] HelenwoodsJNCC commented on #33
@andyb-esdm thanks! I see the filter box now closes when you click off it too.

[2019-04-29 08:28] andyb-esdm opened #75 "Dropdown for pre-configured external layer sources"
@HelenwoodsJNCC @JordanPinder
Created a new issue because there was something I missed (I think Helen and James spotted it).
You can configure external WMS sources in the database and these are made available via the API. The original EMODnet provides this.
I've implemented this now. Click 'add external layer'. If there are any external WMS configured, you can select one, get the layers available

[2019-04-29 08:28] andyb-esdm commented on #33
@HelenwoodsJNCC Yes. Trying to tidy up remaining loose ends.

[2019-04-29 08:33] andyb-esdm commented on #33
@HelenwoodsJNCC I can't find any more appropriate issues for the remaining changes so here they are!

- I've fixed the sort order on the layer groups. They should now respect your configuration. External layer groups will be added to the end of the layer selector.
- The map should now also respect max zoom set on the map instance in the configuration.

[2019-04-29 08:35] HelenwoodsJNCC commented on #33
Great, thanks @andyb-esdm

[2019-04-29 11:30] JordanPinder commented on #52
@andyb-esdm thanks Andy! All looking really nice :) do you know specifically where the JNCC attribution is on the mapper? Can't seem to find it, although it's more than likely me being blind!

[2019-04-29 11:35] HelenwoodsJNCC commented on #52
@JordanPinder it will appear next to the base map attribution statement. There is one showing on the MPA mapper. I think you just need to add whatever your attribute statement is in the api Maps table.

[2019-04-29 11:35] andyb-esdm commented on #52
Hi @JordanPinder I've put it next to the baselayer attribution. But I see that you haven't got an attribution message yet on the pre-live servers. You can customise the message in the configuration database. It's the column Attribution on table MapInstance.

For now, it's simply Made by JNCC on our test site.
https://jnccdev-map.esdm.co.uk/

![image](https://user-images.githubusercontent.com/31621

[2019-04-29 11:38] JordanPinder commented on #52
@HelenwoodsJNCC @andyb-esdm thanks guys! Had a feeling I was just being a bit dense :)

[2019-04-30 09:13] SimonAnnetts opened #76 "Last minute change"
@GMDuncan @JordanPinder @HelenwoodsJNCC @paul-gilbertson

Sorry Guys,
I had to make one final change to the web-api this morning to fix a small bug I had discovered. I have deployed to your staging servers. I hope it's not too late for you to copy everything to live. Can you please also just confirm that everything still works as expected? I did try the mappers - the MPA map starts up with none of

[2019-04-30 09:30] SimonAnnetts commented on #76
I have broken something.... I think I've overwritten the config file for the MPA api with the emodnet one. I'll get this fixed asap!

[2019-04-30 09:30] HelenwoodsJNCC commented on #76
@SimonAnnetts the MPA mapper should have lots of layers showing but for some reason none are anymore. I am getting a 404 on the following request url: https://api.mpa.jncc.gov.uk/api/mapinstance/MPA. When I check the mapper CRUD page it seems to have been overwritten with EMODnet data, but the underlying API database is ok

[2019-04-30 09:41] GMDuncan commented on #76
Hi @SimonAnnetts , the live deployment is currently planned to be before lunch, if you can let us know when it's resolved (or if it wont affect EMODnet deployment), that would be great :)

[2019-04-30 09:41] SimonAnnetts commented on #76
@HelenwoodsJNCC, OK, I've re-instated the MPA web-api's config file. It was logging in to the database as the emodnet user and using the emodnet database. Does this look better now?

[2019-04-30 09:43] HelenwoodsJNCC commented on #76
@SimonAnnetts All looks ok again now, thanks.

[2019-04-30 09:44] SimonAnnetts commented on #76
@GMDuncan, can you confirm that the emodnet map still looks as it should? I was surprised that there are no layers set to visible when you first load the map.

[2019-04-30 09:45] andyb-esdm commented on #76
@SimonAnnetts that's the way the current emodnet web mapper works too

[2019-04-30 09:46] GMDuncan commented on #76
@SimonAnnetts the map seems to be loading as expected for me, @JordanPinder can you confirm?

I can also confirm that it is intentional/wai to have no layers set to visible on mapload!

[2019-04-30 09:47] JordanPinder commented on #76
@SimonAnnetts all working fine with me, and mapper is intentionally set with no layers on load :)

[2019-04-30 09:47] SimonAnnetts commented on #76
Ok, phew.... thanks and big apologies again for this mishap this morning with the config file.

[2019-04-30 09:48] GMDuncan commented on #76
No worries! Thanks for the quick fix!

[2019-04-30 09:54] andyb-esdm commented on #76
We'll discipline him internally.

[2019-04-30 12:04] GMDuncan commented on #76
Fetch....The comfy chair!

[2019-04-30 14:02] GMDuncan opened #77 "Embargo of deployment to EMODnet mapper"
@paul-gilbertson is looking to go-live with the emodnet mapper tomorrow morning, and we will be requiring a stable platform for the emodnet mapper for the short term.

As such we'd like to request that there are no deployments to the emodnet mapper (staging or live) without checking and consent from @paul-gilbertson until further notice. (likely 2ish weeks)

Let me know if there's any issues with

[2019-04-30 14:08] HelenwoodsJNCC commented on #33
@andyb-esdm so although the Layer group order has been resolved there still seems to be a bit of an issue with the Layer Order. Doesn't seem to matter what I change the numbers to in the Layer API table they always draw in the same order.

[2019-05-01 09:07] andyb-esdm commented on #33
@HelenwoodsJNCC I'm sorry, I didn't know there was a layer order too!
Sublayergroups complicate this a bit because they don't have an order against them (sublayergroup is just a property of the layers that can be in any order).
So, I've tried this:

1. Order the sublayer groups by the lowest order value of its constituent layers e.g sublayergroup1 with layer orders: 2, 202, 303 would come before s

[2019-05-01 12:51] HelenwoodsJNCC commented on #33
@andyb-esdm that all sounds good. We can do without it in our pre-live environment for the time being and just deploy it to both when the embargo is finished.

[2019-05-01 12:52] andyb-esdm commented on #33
@HelenwoodsJNCC Okay. It's ready when you are.

[2019-05-01 16:26] JordanPinder commented on #75
@andyb-esdm hi Andy, just been playing around with some Sentinel-2 data and came across an interesting bug (sorry!).

Using the following WMS (https://services.sentinel-hub.com/ogc/wms/8ed2dbed-6b26-43d6-9fae-d7f9c26b83a6?) I pulled in a layer, but when selecting it to be active it seems to activate an EMODnet layer already configured in the API (see below).

![Sentinel_WMS_error](https://user-ima

[2019-05-01 17:00] JordanPinder commented on #75
Looking a little bit more it seems some external WMS formats aren't available in png8, see example which is available in png:

https://services.sentinel-hub.com/ogc/wms/8ed2dbed-6b26-43d6-9fae-d7f9c26b83a6?SERVICE=WMS&VERSION=1.3.0&REQUEST=GetMap&FORMAT=image%2Fpng&TRANSPARENT=true&LAYERS=BATHYMETRIC&TILED=TRUE&WIDTH=256&HEIGHT=256&CRS=EPSG%3A3857&STYLES=&BBOX=-195678.7924100496%2C7269467.13803340

[2019-05-01 17:29] andyb-esdm commented on #75
@JordanPinder I'm not getting an EMODnet layer already configured in the API. But I am getting an error when selecting that geology layer. But note it still says it's the Geology layer. I'll address your second question in another reply but can you confirm you don't get a pre-configured layer when you select an external layer? If so, that's going to be some nasty bug around layerIds

![image](http

[2019-05-01 17:33] andyb-esdm commented on #75
@JordanPinder Yes. I think you're right about PNG8 support because the error response is 'invalid format' and you've shown it's fine with PNG.
I think, to be safe, we could request all external layers as PNG to avoid this (alternatively, we could query the GetCapabilities response but that's not so nice).
So would default PNG for all external layers be okay?

[2019-05-01 17:47] andyb-esdm commented on #75
@JordanPinder Setting the default format to image/png for external layers works.
I've updated our (ESDM) test website but haven't pushed to pre-live due to the embargo.

![image](https://user-images.githubusercontent.com/31621682/57032115-7e59d000-6c41-11e9-8358-c3e2e33194ae.png)

[2019-05-02 08:07] JordanPinder commented on #75
@andyb-esdm I think the layer bug might only be on the prelive site - the EMODnet LayerId for the layer in my example is 1014, does the API generate a temporary LayerId for the external layers? If so would it be the default value that is set for them?

PNG for all external layers would be fine with me - they seem to be enabled for most WMS. We'll let you know when it's OK to push the changes after

[2019-05-02 08:10] andyb-esdm commented on #75
@JordanPinder to my eternal shame ...
![image](https://user-images.githubusercontent.com/31621682/57063065-11365100-6cba-11e9-8f2e-f1300398f9fe.png)

[2019-05-02 08:13] andyb-esdm commented on #75
@JordanPinder I must have been hoping to avoid getting the max layer id from the existing layers because it's quite a 'long way' from the LayerService in code. But looks like I'll have to do this to ensure no id clashes. I'll let you know when a fix is in place.
Apologies.

[2019-05-02 08:15] JordanPinder commented on #75
@andyb-esdm understandably! It's just the way I've set up the LayerId's which is the issue :)

[2019-05-02 08:23] andyb-esdm commented on #75
@JordanPinder that's very nice of you to say so. But I'm the one who created the magic number ;) Will be in touch soon.

[2019-05-02 10:14] andyb-esdm commented on #75
@JordanPinder I've changed this to pick up the max layer id and max layer group id instead of using 999 upwards to prevent id clashes. I've deployed to https://jnccdev-map.esdm.co.uk/
Again let me know when/if to deploy to emodent/mpa pre-live.

[2019-05-02 10:17] JordanPinder commented on #75
@andyb-esdm brilliant, thanks for the quick turnaround on this Andy! I'll post in #77 when it's fine to deploy any changes.

[2019-05-02 10:52] andyb-esdm commented on #75
@JordanPinder If you'd like to do some testing in the interim on our mapping server (e.g. adding external layers etc.) Feel free.

[2019-05-08 15:07] GMDuncan opened #78 "CRUD pages HTTP-Error-500 on create new or edit"
Hi, currently getting an HTTP-Error-500 on https://api.emodnet-seabedhabitats.eu/ when trying to create new in any of the tables, or edit existing records. I can view the pages fine (when bypassing the JNCC proxy), but errors show after clicking the "Create New" or "Edit" links.

I'm not sure if this is an entirely new issue or related to #69

[2019-05-08 15:15] SimonAnnetts commented on #78
Hi @GMDuncan
I can no longer access https://api.emodnet-seabedhabitats.eu/Index1 so I can't see what is happening. Can this be allowed to 82.69.43.209 ?

[2019-05-08 15:17] SimonAnnetts commented on #78
sorry, actually I mean access to all pages  - probably only /api/* is now allowed to everyone and everything else is tied to your IP, so if our IP can be added to that apche rule also? Thanks

[2019-05-08 15:19] GMDuncan commented on #78
@paul-gilbertson are you able to allow the IP above for @SimonAnnetts to access for testing? Please note, we do have a workaround currently for adding new layers directly into the database rather than through the CRUD pages, so the urgency is not 'catastrophic' here!

[2019-05-09 09:08] helen-lillis opened #79 "Layers on mapper seem to be being sorted by LayerId instead of LayerOrder column in api table"

[2019-05-09 09:11] HelenwoodsJNCC commented on #79
@helen-lillis this is something that Andy has looked into and has prepared a potential fix for (see #33), but we can't deploy until after Paul has lift the embargo.

[2019-05-09 11:30] helen-lillis commented on #79
ah ok, great!

[2019-05-09 11:30] #79 closed

[2019-05-10 09:51] #76 closed

[2019-05-10 15:30] GMDuncan opened #80 "Tile/WMS image queue not culled on map move"
Potential high priority fix here.

When a user moves through the map as tiles are being requested, existing tile requests are not removed.

This is potentially resulting in large stacks of requests on the geoserver instance as a user moves around the map, as the tiles for the new areas (or zoom levels) are continuously added.

Is it possible to, on end of user interaction (zoom, pan) truncate the

[2019-05-13 08:58] andyb-esdm commented on #80
@GMDuncan @ulric-wilson @JamesPe @SimonAnnetts
I've looked into this and I'm sorry but not sure what I can do to help with it.
Currently the map has properties loadTilesWhileAnimating and loadTilesWhileInteracting set to false.
You can test this by:

- refreshing the map page
- opening network tab
- letting all activity in the network tab cease
- clearing the network tab
- click and hold on the ma

[2019-05-16 15:30] GMDuncan commented on #80
Hi @andyb-esdm . No worries - yes, I was wondering about #6939 in openlayers, but wondered if it had been implemented in the version that we're using, as it seemed to do exactly what's needed (aborting disposed tiles). Is that the case that our version of openlayers should include this feature?

 If so, you're right, it appears that there's not much extra that can be done, and I'll close the issue

[2019-05-16 15:31] GMDuncan commented on #63
I think this is now set up - happy to close @LynnHeeley ?

[2019-05-16 15:54] HelenwoodsJNCC opened #81 "Mixed Filters"
Can we look into the issue the occurs when combining simple and complex filters on a single layer - first raised by Graeme in issue  #37

[2019-05-16 15:56] GMDuncan commented on #80
Happy with that! :) It seemed in some way like bullet 2 was what was happening (queued tiles that were not relevant were still being requested), but likely an error on my part.

I'll keep testing on the off-chance that it's a bug with the fix, but either way, it's not something that can be solved here so i'll close the issue :)

[2019-05-16 15:56] #80 closed

[2019-05-16 15:57] HelenwoodsJNCC opened #82 "Proxy handling of external data sources"
Can we look into the use of a proxy to handle the mixed content error when trying to load http external layers.

[2019-05-16 16:01] HelenwoodsJNCC opened #83 "Measurement tools"
Is it possible to add simple measurement tools to the mapper e.g. distance/area

[2019-05-16 16:01] JamesPe commented on #81
@andyb-esdm - not sure we ever anticipated this - can you have a check in your code to see if its something simple like you skipping out after you have found the simple one thinking tehre won't be a complex one as well ?

[2019-05-16 16:10] HelenwoodsJNCC opened #84 "Zoom to coordinates"
Addition of a zoom to xy coordinates tool - is there something easily available via OpenLayers?

[2019-05-17 08:09] andyb-esdm commented on #84
@HelenwoodsJNCC There isn't a control, as such, but it's very easy to do. You would just need an input (or two if you want to enter lat and long separately) and then you can zoom the  map to those coordinates. Time estimate to implement, test and deploy would be two to three hours.

[2019-05-17 08:23] andyb-esdm commented on #81
@JamesPe No we didn't anticipate this (I don't really understand how it could work server side to be honest). I also perceived it as a mistake at the time to put type on the filter table instead of filterType on the layer table.
So, currently the mapper checks what kind of filter (simple or complex) it needs to apply by testing every filter. That is, if every filter is simple or every filter is co

[2019-05-17 08:25] andyb-esdm commented on #80
Okay. Please let me know if you find it is bullet 2 that's occurring.

[2019-05-17 08:35] andyb-esdm commented on #83
@HelenwoodsJNCC
Yes it is. Example here: https://openlayers.org/en/v4.6.5/examples/measure.html
There isn't a measurement tool as such but you can draw a vector on the map, calculate and report its length/area. Would take a few hours to create a nice user interface component for this.

[2019-05-17 08:45] HelenwoodsJNCC commented on #81
@andyb-esdm ok thanks Andy, @JordanPinder @GMDuncan do you want to focus on this issue this month and save most of the other issues for later in the support contract?

[2019-05-17 09:23] JordanPinder commented on #81
@HelenwoodsJNCC given that this would take the most time I'd agree in focusing on mixed filters this month using the 12 hours we have (8 regular & 4 carried from last month).

[2019-05-17 13:42] HelenwoodsJNCC commented on #81
@andyb-esdm can we focus on this issue for the support contract this month then please. I will close the other issues and re-open another month. Please let us know if you think it will take longer to sort out i.e if you would need to use any of next months hours. Thanks!

[2019-05-17 13:43] HelenwoodsJNCC commented on #84
Closing for now - to be investigated at a later date.

[2019-05-17 13:43] HelenwoodsJNCC commented on #83
Closing for now - to be investigated at a later date.

[2019-05-17 13:43] #83 closed

[2019-05-17 13:45] andyb-esdm commented on #81
@HelenwoodsJNCC Okay. I'll warn you if it looks like it will take longer but it really shouldn't.
I'll use this issue to double-check I understand what @GMDuncan requires.

[2019-05-20 07:07] HelenwoodsJNCC commented on #84
Can we start looking into this one once the mixed filtering issue is resolved.

[2019-05-20 07:33] HelenwoodsJNCC commented on #82
I have left this one open to start looking into once the mixed filter issue is resolved.

[2019-05-20 07:50] andyb-esdm commented on #84
@HelenwoodsJNCC Sure.
How about up in the top right, close to the gazetteer with separate lon and lat inputs. Hitting enter/pressing a button, zooms you to the coordinates. Should it always be visible or opened from a button on the controls bar?

[2019-05-20 07:51] andyb-esdm commented on #82
@SimonAnnetts and @JamesPe Let's have a chat about implementation when Simon is back in.

[2019-05-20 09:03] GMDuncan commented on #81
@andyb-esdm I think the final behaviour would be that both viewparams and cqlfilter would be passed through to the WMS request. So each would behave as they currently do, but are not mutually exclusive. I believe that Geoserver can handle both simultaneously, as I'm fairly certain that I tested this back at the beginning of the Geoserver move  but I can confirm this for you if you want.

An exampl

[2019-05-20 10:38] andyb-esdm commented on #81
@GMDuncan My fault about the code structure! I had been thinking about creating a filter service class to provide more sophisticated filter handling, instead of just concatenating a string and setting a single parameter on the request. So now is the chance to do this.

[2019-05-20 13:00] GMDuncan commented on #81
**Warning: thought below, not to be taken as a request, just for comments!**
@andyb-esdm That sounds interesting! It might actually tie up with something that was a potential for "future support", which was to get advice on handling "Like andy" type statements in filters, which again is something that would be incredibly useful for especially EUNIS habitats and checkboxes where you're looking for

[2019-05-20 13:17] andyb-esdm commented on #81
@GMDuncan Something like this is entirely possible. Right now the filter vaues are reformatted to escape special characters etc. and that reformatting could be extended for different filter types. The detail here would be how these are configured server-side I guess?
Anyway, will refactor existing code with this potentially in mind.

[2019-05-20 13:39] GMDuncan commented on #81
Sounds good - we can discuss this internally on a requirement level then and add on in future if necessary.

I was thinking that client side, the Filter table could have an "InputWrapper" column which stores the pattern for value replacement in some easyish to understand way with a placeholder for the value. One question concerns behaviour for multiselect vs single value, whether to enable the beh

[2019-05-21 14:02] #68 closed

[2019-05-21 14:03] LynnHeeley commented on #68
MPA mapper will use Emodenet geoserver instance. ticket irrelevant. closed

[2019-05-21 14:03] LynnHeeley commented on #66
Emodnet complete. MPA not ready

[2019-05-21 14:08] #63 closed

[2019-05-21 14:08] #62 closed

[2019-06-05 10:07] HelenwoodsJNCC commented on #82
@andyb-esdm did you have a chance to look into this at all - it is something we would definitely like to pursue as part of this months support contract time.

[2019-06-05 16:05] andyb-esdm commented on #82
@HelenwoodsJNCC I'm sorry. Not yet. @SimonAnnetts is on leave this week but we should have time to review and implement it this month. We'll provide an estimate first, of course.

[2019-06-10 12:48] GMDuncan commented on #70
(Quick update from @andyb-esdm to this captured below for referencing elsewhere (thanks andy!)

The relevant code is here:
https://github.com/jncc/web-mapper-core/blob/master/web-map/src/app/map/map.component.ts
beginning on line 144

The offending function is on line 150 map.forEachLayerAtPixel
The documentation is here:
https://openlayers.org/en/v4.6.5/apidoc/ol.Map.html#forEachLayerAtPixel
and

[2019-06-11 13:10] SimonAnnetts commented on #82
@HelenwoodsJNCC

We can add an api proxy endpoint that would proxy getCapabilities, GetMap and getFeatureInfo requests - and this proxy endpoint would return content-types of text/xml (getcapabilities) image/* (getmap) and text/htm, text/xml and text/plain for getfeatureinfo. We have a basic implementation of this in testing -
*However currently* ...
this is an open Internet proxy which is a bad t

[2019-06-11 15:57] andyb-esdm commented on #81
@GMDuncan @HelenwoodsJNCC
I've implemented the mixed filters for a layer so you can now have viewParams and cql_filter in the same request.
I'm afraid my testing has been limited to changing the filter configuration and examining the request to the WMS. The wms services we have don't support mixed filters 'for real'!
I've deployed to our test server. Can we discuss how to test this against a real

[2019-06-12 08:17] andyb-esdm commented on #81
One other thing to note here is that the CQL_FILTER doesn't currently support free text. It's lookups only. I spoke to SA about this and neither of us can remember why that decision was made. Can either of you remember? If not, should I add it?

[2019-06-12 08:21] GMDuncan commented on #81
Can't remember that decision reasoning myself, and freetext in CQL seems sensible, so I don't see why it couldn't be added if it's relatively painless? Thoughts @helen-lillis ?

[2019-06-12 10:45] andyb-esdm commented on #81
I've looked again at the CQL_FILTER. It creates a literal IN clause for look-ups i.e. it returns hab_type IN ('A1', 'A2')
So now it's become a bit clearer why I didn't implement anything for free text  - it's difficult to anticipate what the CQL where clause should be (with viewParams it's just a straight substitution).

For example, we could wrap the search term with a LIKE and wildcards: 'mud' w

[2019-06-12 15:35] #77 closed

[2019-06-12 15:38] GMDuncan commented on #66
https://staging.api.emodnet-seabedhabitats.eu is (i think) currently accessing the "emodnet_web_api" database rather than "emodnet_web_api_edit"

(This is cascaded through to https://staging.mapper.emodnet-seabedhabitats.eu as this uses the api above to access layers)

Is this intended or does someone (not sure who) need to change the "staging" api to run off the "edit" database? (actually not sur

[2019-06-12 15:39] GMDuncan commented on #78
Appears fixed now (i.e. when I click "Create New" I get brought through to the correct page)

Has this been fixed @SimonAnnetts ? Will close the issue if so!

[2019-06-13 09:18] SimonAnnetts commented on #78
I haven't done anything as I still don't have access to see what was broken - but if it's working again now? Possibly was an IP restriction or misconfiguration on the webserver proxy at your end or something? Maybe Paul fixed it.

[2019-06-13 09:39] GMDuncan commented on #78
Yes appears to be working now, I'll close this issue currently and double check with paul et al to see if anything was done on our end. Thanks Simon.

[2019-06-13 09:39] #78 closed

[2019-06-13 09:41] GMDuncan commented on #66
The emodnet_web_api_edit database is also blank, but this can be rectified with a database dump and restore I would think

[2019-06-13 10:45] SimonAnnetts commented on #66
This may be something that we did by accident, not knowing which db the staging sites should running off.

When we deploy from our dev environment to your staging, we also deploy the config file which sets up the database connection details for the web-api. Currently we send these for Emodnet and MPA (I have removed the password strings)

Emodnet:
[code]

MPA

[code]

Please let me know if some of

[2019-06-14 10:19] JordanPinder commented on #84
Apologies for not clocking this! @HelenwoodsJNCC @andyb-esdm I like the position next to the gazetteer, also agree with Helen that opening from a button would be preferable.

[2019-06-14 10:21] andyb-esdm commented on #84
Okay. Will get on to it next. By the way mixed filters are done (bar jncc testing) and Simon has done the server-side proxy so I'll build on that soon. So there will be a few new features for your next version.

[2019-06-14 10:51] HelenwoodsJNCC commented on #82
Thanks @SimonAnnetts. I have asked @jonparsonsjncc to take a look at your options.

[2019-06-14 14:49] HelenwoodsJNCC commented on #37
Interesting issue flagged with me today - filters don't work in Internet Explorer version 11. The window opens and the explanatory text is there, but the windows containing the checknboxes aren't expanded.
![image](https://user-images.githubusercontent.com/30657820/59517683-fad80380-8ebb-11e9-8da8-2940e41e0878.png)

[2019-06-14 15:00] GMDuncan commented on #37
COuld be related to this?
https://github.com/angular/angular-cli/issues/4128

[2019-06-14 15:37] andyb-esdm commented on #37
Thanks for the heads up @GMDuncan . That was it. I've swapped includes for indexOf, which is supported by IE11.

![image](https://user-images.githubusercontent.com/31621682/59520802-aab06f80-8ec2-11e9-87d6-099659dfba84.png)

[2019-06-14 15:37] andyb-esdm commented on #37
This is on the esdm test server at the moment.
Probably worth deploying this after we've finished this month's new features?

[2019-06-17 09:59] jonparsonsjncc commented on #66
Check with team if this has now been resolved

[2019-06-17 14:40] GMDuncan commented on #66
hi @jonparsonsjncc , staging.api still seems to be pulling its  data from the emodnet_web_api database.

The emodnet_web_api_edit database is currently empty (pending a dump/restore of the live db), so heading to https://staging.api.emodnet-seabedhabitats.eu/Layers should result in no layers being listed.

[2019-06-17 15:03] HelenwoodsJNCC commented on #66
@jonparsonsjncc As far as I am aware a staging version of the MPA mapper hasn't yet been set up. We have only the live version here:https://mapper.mpa.jncc.gov.uk/. I know Paul had the SSL certifcates set up (see #47) but im not sure how far things got after that.

[2019-06-17 16:39] paul-gilbertson commented on #66
I will pick this up tomorrow

[2019-06-19 13:48] HelenwoodsJNCC commented on #37
@andyb-esdm any chance we could do a re-deploy in the early part of next week? The MPA mapper is due to go live around 3rd July so would be useful to check everything new is working as expected.

[2019-06-21 09:56] andyb-esdm commented on #37
@HelenwoodsJNCC In that case I need to finish those new features! I'll do them next week and let you know how I get on.
You can add anything you want to the feature-info-styles.css but I guess you want me to add these so that they are used for all mappers?

[2019-06-21 10:05] HelenwoodsJNCC commented on #37
@andyb-esdm thanks. The css is likely useful for all mappers - mainly for making any links clear.

[2019-06-24 15:20] HelenwoodsJNCC commented on #37
@andyb-esdm in IE 11 permalinks don't seem to work properly, as in no active layers load - is your IE fix likely to sort this issue also?

[2019-06-24 15:39] andyb-esdm commented on #37
@HelenwoodsJNCC I've just tested the permalinks (including a filtered layer) in IE11 on the ESDM test site.
Try this:
http://jnccdev-map.esdm.co.uk/?zoom=6&center=-3.508,52.305&layerIds=206,208,205,207&baseLayerId=-3&activeFilters=NobwRANghgngpgJwJIBMwC4BMAGArAGjADMBLCAF0VQwEZcBmQ0ixAGQHt2BrAVwAdUAZwzAAbLgAco-OIkB2GZImKJATkWrsAXSZlKCACpwAHuQxgwAXy1A

[2019-06-24 15:42] HelenwoodsJNCC commented on #37
@andyb-esdm looks like it's working fine. Thanks

[2019-06-24 15:43] andyb-esdm commented on #37
@HelenwoodsJNCC No problem. It's likely the code change did make a difference because it's the bit that loads the filter lookup tables from the API, which it will do whether filters are set in the permalink or not.

[2019-06-25 09:05] HelenwoodsJNCC commented on #37
@andyb-esdm any idea when you will be able to do the deployment?

[2019-06-25 10:22] andyb-esdm commented on #37
@HelenwoodsJNCC  I can deploy at any time. However, I'm sorry, but I haven't got the mapper to use the proxy service that Simon wrote yet. I'm working on the goto lat/lon component now. Do you want me to deploy today when I've done the goto lat/lon or wait until the mapper is using the proxy for external layers?

[2019-06-25 10:27] HelenwoodsJNCC commented on #37
@andyb-esdm I wasn't expecting the proxy service as part of this deployment, so i'm happy for you to deploy after you have finished working on the lat/long component. Thanks.

[2019-06-26 08:54] andyb-esdm commented on #84
@HelenwoodsJNCC @JordanPinder @GMDuncan
I've implemented this feature and deployed to https://jnccdev-map.esdm.co.uk/
There's a crosshair icon on the right of the bottom toolbar. Clicking it opens the 'goto lon/lat' window.
Can you give it a test and let me know if this meets the requirement. Then I'll deploy to the MPA staging. Do you also want me to deploy to the EMODnet staging.
Changes in this

[2019-06-26 09:02] HelenwoodsJNCC commented on #84
@andyb-esdm I have tested and it works ok. The only thing I would change the name in the box to 'Go to Longitude/Latitude' and the abbreviation from 'Lon' to 'Long'

[2019-06-26 09:05] andyb-esdm commented on #84
@HelenwoodsJNCC okay - do you want any help text on there e.g. enter coordinates in decimal degrees?

[2019-06-26 09:07] HelenwoodsJNCC commented on #84
@andyb-esdm yes if you could add the help text to specify decimal degrees that would be great.

[2019-06-26 09:14] andyb-esdm commented on #84
@HelenwoodsJNCC Okay those changes are made. Shall I deploy to MPA staging now?

[2019-06-26 09:25] HelenwoodsJNCC commented on #84
@andyb-esdm yes happy for you to deploy now. Thanks

[2019-06-26 09:34] andyb-esdm commented on #84
@HelenwoodsJNCC
Okay. Done. Will hold off deploying to EMODnet until I hear back.
Closing issue.

[2019-06-26 09:34] #84 closed

[2019-06-27 08:51] GMDuncan commented on #84
Not sure of any implications on the emodnet-side of things - are there any custom configurations there @JordanPinder ? Also not sure if it has any implications to the staging and live using the same config?

[2019-06-27 13:26] HelenwoodsJNCC opened #85 "Internet Explorer issue"
Hi @andyb-esdm a number of our users are still having problems when using Internet explorer:
![image](https://user-images.githubusercontent.com/30657820/60269942-51473800-98e7-11e9-8389-bc028d8001e0.png)
I think the issue is mostly with the drag indicator icon. It only seems to affect IE users with version 11.0.126 it's not a problem in version 11.0.130.

[2019-06-27 16:22] andyb-esdm commented on #85
@HelenwoodsJNCC It looks to be worse than that. Notice that none of the icons are displaying in the toolbars either.
It may be a version problem:
11.0.126 was released on May 18th
11,0.130 was release on June 11th
Both are cumulative security updates.

But it may not be this at all. There are two different versions here but it may be because they are running on different machines and hence environ

[2019-06-28 08:44] HelenwoodsJNCC commented on #85
Thanks @andyb-esdm I will get them to test it.

[2019-06-28 08:56] HelenwoodsJNCC commented on #85
@andyb-esdm they don't see any icons when they go to the above link. Does that mean that their browser probably doesn't allow web fonts?

[2019-06-28 08:57] andyb-esdm commented on #85
@HelenwoodsJNCC Thanks. Not sure it will tell us what we need to know but it's worth a try.
1. Are they at JNCC or somewhere else?
2. Do they have access to a different browser to see if it's working on that?
3. It would be great if we could get a higher resolution screenshot too so I can see if the main font is right (this is also a web font from google).
4. And, if possible, it would be great if

[2019-06-28 08:57] andyb-esdm commented on #85
@HelenwoodsJNCC sorry - we've posted across eachother.
It isn't their browser, it's probably a security policy set up by their organisation to prevent web fonts.

[2019-06-28 08:59] hughlewiswright commented on #85
@andyb-esdm it's working fine for them in Chrome, just not in IE, which unfortunately is their default browser that they all use.

[2019-06-28 09:00] andyb-esdm commented on #85
from: https://makandracards.com/makandra/42281-when-internet-explorer-does-not-render-webfonts-on-customer-machines

[2019-06-28 09:06] hughlewiswright commented on #85
Thanks Andy. We'll advise Defra to play with their settings (hopefully these are open to users) and we'll add an FAQ to the mapper help page.

[2019-06-28 09:09] andyb-esdm commented on #85
Thanks, Hugh. Would be good to confirm that this is the reason, though. A lot of IT departments won't change things like this.
There is an alternative, which would be to change all the icons to an image format. A bit painful, but do-able if necessary.

[2019-06-28 09:13] andyb-esdm commented on #85
@HelenwoodsJNCC @hughlewiswright Let me know what you decide. Would like to fix this for you if I can. I could put something up on our test site for people to rule this in/out.

[2019-06-28 09:16] hughlewiswright commented on #85
Thanks @andyb-esdm. We'll see if Defra can tweak settings and then decide. Is this work that can be done and deployed by next Wednesday am (launch day) or is that unrealistic?

[2019-06-28 09:24] andyb-esdm commented on #85
I can reproduce this.
![image](https://user-images.githubusercontent.com/31621682/60332486-d6d1f300-998e-11e9-804a-f1f1a9180592.png)

![image](https://user-images.githubusercontent.com/31621682/60332505-dfc2c480-998e-11e9-8000-8c13e2cc4a09.png)

[2019-06-28 09:32] hughlewiswright commented on #85
Defra bods can't access their Security tab (they can't even see it). I believe the Trusted Site options are also within this tab so that's ruled out too?

@andyb-esdm can you please proceed with mock-ups for image icons?

[2019-06-28 12:09] andyb-esdm commented on #85
@hughlewiswright @HelenwoodsJNCC
I've created a test component that displays icons in a variety of formats.
Please can you get your Defra colleagus to visit https://jnccdev-map.esdm.co.uk/
There's a temporary panel I've put up on the map.
It has a web font icon, inline svg icon, external svg icon and a bitmap (png) icon - this is the fallback.
Could you get them  to say which icons they can see? !

[2019-06-28 12:49] HelenwoodsJNCC commented on #85
@andyb-esdm two response so far indicating they can see all the symbols except the web font.

[2019-06-28 12:52] andyb-esdm commented on #85
@HelenwoodsJNCC okay - that will do I think - thank you - looks like we can go for svg - the  icons won't be exactly the same but should be smart and similar enough

[2019-06-28 13:12] hughlewiswright commented on #85
That's great to hear Andy thank you. Helen is now on leave for the next two weeks but myself and Jordan will be your main contacts in the meantime. I'm planning our remaining tasks before launch day on Weds - do you think the icons can be sorted by then?

[2019-06-28 13:14] andyb-esdm commented on #85
They will be done, Hugh

[2019-06-28 13:15] hughlewiswright commented on #85
Top man, thank you very much

[2019-06-28 13:27] GMDuncan commented on #85
Just adding confirmation from Natural England that SVG gets through their end too.

[2019-06-28 15:53] andyb-esdm commented on #85
@HelenwoodsJNCC  @GMDuncan @hughlewiswright
I've replaced all the web font references with custom svg icons from https://materialdesignicons.com/
I know it's a bit late, but if anyone who was having problems before could confirm everything is displaying properly now, that would be great.
Unfortunately, I haven't got quite the same control over these images as I did with the font, so I don't think

[2019-06-28 15:58] hughlewiswright commented on #85
I can see those changes at our end and they're looking good. I've contacted our testers at Defra but they may have already gone home. We'll try others on Monday. Thanks for dropping everything to sort this one.

[2019-06-28 16:07] andyb-esdm commented on #85
You're welcome.
I tested as I went along but it was a large number of edits including changing buttons that make function calls. It would be good if someone from JNCC could do a quick test before launch too.
The main things to test are:
- the tooltips are all correct
- clicking on any of the icons does the same thing they used to!
- the icons change to reflect state (e.g. expanded trees or panels,

[2019-06-28 16:10] hughlewiswright commented on #85
Sure. I'll get onto that on Monday. No response from Defra yet so I'm presuming they've gone home. Have a good weekend - it's well deserved!

[2019-07-01 08:32] hughlewiswright commented on #85
Morning @andyb-esdm . There's good news and bad news. The good news is that the tool functions are all working for me. The bad news is there's now an issue with the toolbar in the bottom-right of the mapper not displaying properly for Defra, NE and Welsh Gov. It appears stretched and only shows 5 of the 9 tools. I can't replicate this issue by disabling "download web fonts". See the image attached

[2019-07-01 08:46] andyb-esdm commented on #85
Oh dear, we're not out of the woods yet it seems ...
I found another issue in ie11 only too. The opacity slider popup is positioned incorrectly. It looks to be because of the layer sidebar. It's positioning as if this is always closed.
These are ie11 bugs with the positioning strategy we're using. The opacity slider may not be something I can fix directly with styling. I may have to put it on the

[2019-07-01 08:48] andyb-esdm commented on #85
@hughlewiswright are you able to replicate the toolbar stretching locally on ie11?

[2019-07-01 08:49] hughlewiswright commented on #85
No not yet.

[2019-07-01 09:07] andyb-esdm commented on #85
@hughlewiswright Do you mean that you're not getting the stretching effect or you haven't tested on ie11?

[2019-07-01 09:10] hughlewiswright commented on #85
Sorry, I have tested it on my version of IE11 but I'm not getting the stretching effect. Can you recommend any Internet Options I should play with to try and replicate it?

If it helps, I am using IE11 version 11.829.17134.0. Defra have version 11.0.9600.19374CO and Welsh Gov have version 11.3024.14393.0.

[2019-07-01 09:12] andyb-esdm commented on #85
Thanks.
Unfortunately, the internet option, if it existed, would be "align icons in a broken manner" ;)

[2019-07-01 09:25] andyb-esdm commented on #85
@hughlewiswright can you get a Defra/Welsh Gov colleague to test again at https://mapper.mpa.jncc.gov.uk/ ?

[2019-07-01 09:37] hughlewiswright commented on #85
@andyb-esdm Welsh Gov reporting no change. Waiting to hear from Defra.

[2019-07-01 09:38] GMDuncan commented on #85
Checking with NE also.

[2019-07-01 09:45] andyb-esdm commented on #85
If it hasn't changed for Welsh Gov then it's no good. Hmm. This was a reported scaling issue with svg icons in some versions of ie11. I was sure it was going to work. I'll try something else.

[2019-07-01 09:46] hughlewiswright commented on #85
It's working for Defra!

[2019-07-01 09:55] hughlewiswright commented on #85
Welsh Gov now say it's ok. Think they just needed a proper refresh

[2019-07-01 09:55] andyb-esdm commented on #85
Great - I was doing terrible, sinful things to the html here!

[2019-07-01 10:08] andyb-esdm commented on #85
@hughlewiswright @GMDuncan
Okay the remaining issue is the opacity pop-up positioning in ie11. I'm sorry but I won't have time to address this today and I don't think I will be able to fix it directly (but I'll try). In the likely event I can't fix it, we could change it from a pop-up to a div that becomes visible in the layer control itself. A bit like this?

![image](https://user-images.githubus

[2019-07-01 10:15] GMDuncan commented on #85
I actually quite like that personally as a default behaviour - Hugh's call though! Just commenting here to see if @helen-lillis thinks it could be a worthwhile change for the EMODnet mapper too?

[2019-07-01 10:17] andyb-esdm commented on #85
@GMDuncan It will need to be 'both' mappers of course (it's the same code). So, yes, will need EMODnet to be happy too. The opacity button would toggle visibility of the slider. Hopefully, this won't have an collateral on positioning of the active layers - something I would need to test.

[2019-07-01 10:24] GMDuncan commented on #85
Confirming that the toolbar looks fine on Natural England machines.

[2019-07-01 10:25] andyb-esdm commented on #85
@GMDuncan Thanks for the update. Nearly there ...

[2019-07-01 10:27] helen-lillis commented on #85
Yes I'd be happy with that alternative for the EMODnet mapper.

[2019-07-01 10:34] hughlewiswright commented on #85
@andyb-esdm wrt. opacity, that solution looks very neat. Would the bar only be visible once the opacity tool is clicked, or would it be permanent?

[2019-07-01 10:41] hughlewiswright commented on #85
@andyb-esdm Thank you very much for your additional fixes this morning, they look great.
I have one more minor fix please - can you change the default text that displays in gazetteer search box from "Search for marine regions..." to "Search for a Marine Protected Area..."?

[2019-07-01 10:45] helen-lillis commented on #85
would that affect the EMODnet mapper's search bar too?

[2019-07-01 10:46] andyb-esdm commented on #85
@hughlewiswright
The idea with the opacity tool is that it toggles on and off. However, this might break positioning so I'll need to test it. We really don't want to have it on all the time because it will take up a lot of extra space for each layer and it's already getting a bit tight.

For the text, "Search for Marine Protected Area" would apply only to the MPA mapper presumably (not EMODnet)? I

[2019-07-01 10:46] andyb-esdm commented on #85
@helen-lillis (hello by the way). Yes it would.

[2019-07-01 10:47] helen-lillis commented on #85
@andyb-esdm (hello :)) yes we wouldn't want it to say that for EMODnet

[2019-07-01 10:50] hughlewiswright commented on #85
Agreed and in that case can we make it a configuration option please?

Also agree about plans for opacity tool and not have the bar on all the time.

[2019-07-01 10:51] andyb-esdm commented on #85
rightio - should find time to do this by tomorrow

[2019-07-01 10:54] hughlewiswright commented on #85
Many thanks

[2019-07-01 14:57] JordanPinder opened #86 "Staging GeoServer issues"
@paul-gilbertson part of the staging geoserver seem to be having problems, specifically the ["Layers" menu](https://staging.ows.emodnet-seabedhabitats.eu/web/wicket/bookmarkable/org.geoserver.web.data.layer.LayerPage) - end up getting a service unavailable response (see below).

![image](https://user-images.githubusercontent.com/30415162/60446168-b4530a80-9c18-11e9-9a08-033cdef7cfba.png)

Are you

[2019-07-02 11:05] andyb-esdm commented on #85
@hughlewiswright @helen-lillis @GMDuncan
Could you and your IE11 users please take a look at: https://jnccdev-map.esdm.co.uk/
I've changed the behaviour of the opacity slider as described above.
Let me know what you think before I (literally) commit to this.
Thanks.
I'll work on the search text config in the meantime.

[2019-07-02 11:12] hughlewiswright commented on #85
@andyb-esdm will do!

[2019-07-02 11:23] hughlewiswright commented on #85
@andyb-esdm it's working fine here at JNCC and at Defra. I won't be able to confirm Welsh Gov until later this afternoon, so you may wish to proceed. It looks really neat by the way.

[2019-07-02 11:40] andyb-esdm commented on #85
@hughlewiswright Glad it's okay.

I've implemented a new configurable option: gazetteerPlaceholder . This displays "Search for marine regions ..." for EMODnet and "Search for Marine Protected Area ..." for MPA. You can set it to whatever you like in future in the application config file. If the options isn't present in the config file, it defaults to "Search for marine regions ..."

I've deployed

[2019-07-02 12:36] hughlewiswright commented on #85
@andyb-esdm Thanks for making that edit and deploying it.

I don't suppose you could edit the text on the MPA gazetteerPlaceholder to add an "a" between the "for" and the "Marine" in "Search for a Marine Protected Area..." please? I can't change the config file myself and I don't have anyone else to ask at the moment. Sorry.

[2019-07-02 12:47] andyb-esdm commented on #85
@hughlewiswright that's done

[2019-07-02 12:49] hughlewiswright commented on #85
Thank you @andyb-esdm. Let's close this issue quick before anyone finds anything else!

[2019-07-02 12:50] andyb-esdm commented on #85
:) good plan

[2019-07-04 11:32] JordanPinder opened #87 "Support contract"
@andyb-esdm @JamesPe @SimonAnnetts, hope you're all well!

Is it possible to an updated figure for this month's support contract time please? Just so we can prioritise on our end what work we'd like focusing on this month :)

[2019-07-04 11:59] JamesPe commented on #87
Hi,
Total of 23.83 hrs done to date – details below.
The IE11 issue took up a bit I’m afraid

35784: Call off support - Provide up to 8 hrs / month for 12 months
Add comment / log work done
Andrew Brewer
Tuesday, 02 Jul 2019
02hr15min
opacity control moved to active layers,  configurable gazetteer placeholder
Edit
Andrew Brewer
Monday, 01 Jul 2019
02hr00min
further ie11 positioning issues (stretch

[2019-07-04 14:51] JordanPinder commented on #87
@JamesPe thanks for that. Do you have figures of how much (if any) was carried over from last month, and what the balance is for July?

[2019-07-04 15:31] JamesPe commented on #87
That’s the total for the year – so you can work it out
We aren’t that fussed about month to month and carry over.  So long as we aren’t over at the end of the year and there isn’t a massive amount asked for in the last month we are happy to be flexible

From: Jordan Pinder <notifications@github.com>
Sent: 04 July 2019 15:51
To: jncc/web-mapper-core <web-mapper-core@noreply.github.com>
Cc: James Pe

[2019-07-05 14:14] hughlewiswright commented on #85
I'm very sorry to have reopened this issue Andy. It's probably best to ignore this until next week...
We've got some (delayed) feedback from Welsh Gov about an icon size issue in the Active Layers window when a new layer is added to the mapper (in IE).  I am not seeing this in my version of IE. It looks like the icons are the right ones, just squashed.

![MiniIcons](https://user-images.githubuserc

[2019-07-05 14:25] andyb-esdm commented on #85
@hughlewiswright could you get them to test again at https://mapper.mpa.jncc.gov.uk/ ?
Tell them to make sure they've refreshed their browser first.

There was some scaling on these icons and that's what gave the issue in the controls toolbar. So I've removed the scaling. It means the icons are a bit bigger though.

Anyway, let's see if it works.

Fallback would be to change all the icons again to

[2019-07-05 14:39] hughlewiswright commented on #85
@andyb-esdm Thanks for picking this up straight away. I've asked them to test it again.

[2019-07-05 15:05] hughlewiswright commented on #85
@andyb-esdm Welsh Gov have confirmed that this is fixed. Thanks and feel free to close the issue again.

[2019-07-05 15:07] andyb-esdm commented on #85
@hughlewiswright That's good. I assume you don't mind that the icons are a bit bigger.

[2019-07-05 15:09] hughlewiswright commented on #85
Certainly not for the time being thanks @andyb-esdm.

[2019-07-05 15:09] #85 closed

[2019-07-12 12:05] JordanPinder commented on #86
@paul-gilbertson have you had chance to look into this? Maybe a quick reboot might help?

[2019-07-12 13:35] JordanPinder opened #88 "PostgreSQL dblink extension"
Been looking at how to simply transfer data between databases (staging to live etc.) as the pg_dump approach could be a bit tricky at times. Came across the [extension dblink](https://www.postgresql.org/docs/current/contrib-dblink-function.html) - could be a straightforward way to move data so I'd like to try it out.

@paul-gilbertson @LynnHeeley would it be possible to get a dev to install dblink

[2019-07-12 14:12] JordanPinder commented on #87
@JamesPe @andyb-esdm @SimonAnnetts sorry for the delay. Below is a list of things for this month. If you can give rough time estimates for each that'd be great and then we'll decide which one to go with.

- ‘Remove layer' hover text briefly appears in the top-left of the mapper when a layer is removed from the Active Layers window

- Highlighting features when clicked on in the mapper (i.e. those

[2019-07-12 14:13] JordanPinder commented on #82
@jonparsonsjncc @HelenwoodsJNCC just following up, Jon have you had chance to look into this?

[2019-07-15 14:11] JordanPinder commented on #88
Closing following chat with Paul

[2019-07-15 14:11] #88 closed

[2019-07-15 16:17] JordanPinder commented on #82
Closing - discussed with Jon, this is not possible as it poses a security risk.

[2019-07-15 16:17] #82 closed

[2019-07-16 08:27] andyb-esdm commented on #82
@JordanPinder I think @SimonAnnetts has implemented this on the server side so that only the mapper can make these requests so it's not an open proxy. @SimonAnnetts is that right?

[2019-07-16 09:02] SimonAnnetts commented on #82
It implements referrer checking (configurable in the appsetting.Production.json) so it's not completely open.
It also doesn't allow every type of Content-type through, only those required for geoserver - so XML (getcaps etc), image formats ( getmap), text and html files (getfeatureinfo).
 It should be configured only to allow the domain that the mapper runs from.
 It should be said though that the

[2019-07-17 11:43] JordanPinder opened #89 "Mapper & GDPR"
@JamesPe @SimonAnnetts @andyb-esdm  hi guys,  we've had some questions from the EMODnet Secretariat and Commission regarding GDPR compliance of the website. One specific thing we have been asked is:

"_Is the website setting consent requiring cookies when the browser’s “Do Not Track” (DNT) option is activated?_"

The cookies are already in use when the user arrives at the homepage. Just checking w

[2019-07-17 13:00] andyb-esdm commented on #89
Hi Jordan,
I hope I understand you correctly.

The short answer to the question:
"Is the website setting consent requiring cookies when the browser’s “Do Not Track” (DNT) option is activated?"
Is no.

But there are no cookies or tracking from the mapper. It has no concept of a user's identity and stores nothing on the user's machine as a cookie or in local storage etc. By definition it doesn't tra

[2019-07-17 13:04] andyb-esdm commented on #89
Hmm. On re-reading this I think 'no' is the right answer!

[2019-07-17 13:13] JordanPinder commented on #89
@andyb-esdm thanks Andy! I had a feeling that was the case but just wanted to double check :) hosting site has cookies although that's something we're handling on our end.

[2019-07-17 13:13] #89 closed

[2019-07-22 12:07] JordanPinder commented on #87
@JamesPe @andyb-esdm @SimonAnnetts in addition to the points above, we also have another addition:

- Hierarchical filtering: allow filter selections to include all habitats are finer detail (i.e. child habitats). For example, filtering by A4.1 should return A4.11, A4.12, A4.13 etc.

If you're able to give rough time estimates for this addition and the previous 4 points that'd be great.

[2019-07-24 10:25] JordanPinder opened #90 "Live GeoServer R sync"
@paul-gilbertson - been trying to use the sync-live.bat file to work to move some rasters to the GeoServer directory but it seems to be failing.

I think it's because data for the Chile Mapper has different permissions set to it, probably because they were copied to the data dir separately to the .bat file that was created? The WinSCP.log file has the full information.

[2019-08-05 09:59] andyb-esdm commented on #87
@JordanPinder @HelenwoodsJNCC
Sorry for the delay in my reply.
I've edited your comments to number the requirements, so we can reference them more easily.

1. I know. It's terrible and it bothers me. But it's quite a hard one to solve. Tooltips work by detecting when the mouse cursor is over an element and disappearing when the cursor exits the element. When you remove a layer, the element is no l

[2019-08-05 13:58] HelenwoodsJNCC commented on #87
@andyb-esdm thanks for looking into the potential support items. We will have an internal chat about 1,2 and 5 to try and prioritise our requirements. But we are happy for you to go ahead with points 3 and 4 - filter menu scrolling and search box clearing.

[2019-08-05 14:09] andyb-esdm commented on #87
@HelenwoodsJNCC okay - @JamesPe will review these too when he's back. He may have some alternative solutions.

[2019-08-05 14:20] JamesPe commented on #87
2. I have done both of these in the past.  WFS I think is definitely nicer.  Not sure how easy that is to do Andy when everything else has been set to use WMS, and also whether this would mean all the
mapping services have to be setup to allow WFS ?

[2019-08-05 14:24] JamesPe commented on #87
5.  There is an approach to this where because the codes themselves are all hierarchical you can use a wildcard on the end of the code and select child codes that way.

And if the table needs to appear as a popup hierarchically (which is a different issue and strictly not what was asked for here) - you can use a flat table to represent - where there is simply a field in the table that identifies t

[2019-08-05 14:51] andyb-esdm commented on #87
@JamesPe thanks. So the requirement for 5 wouldn't allow you to click several nodes and want to include all children of these? e.g. A1* OR A2*?

@HelenwoodsJNCC @JordanPinder
1. Is now complete. I discussed it with a colleague (Stewart Bellamy - thanks) and he said 'why don't you dismiss the tooltip when you click?' So I tried it and it worked! I don't think this has any bad side-effects. It means

[2019-08-05 14:54] JamesPe commented on #87
Well if you had a hierarchical picker it could be Like A1* or  like A2* could it not ?

[2019-08-06 08:34] HelenwoodsJNCC commented on #87
@andyb-esdm @JamesPe thanks for sorting point 1, glad it turned out easier than expected.

We have another potential support contract item we would like to get your thoughts on:
6. The addition of Google Tag Manager script to the mappers so that their usage can be monitored in detail via Google Analytics. We would ideally like to track things like which layers are being used, but it would be good

[2019-08-06 08:39] JamesPe commented on #87
Easy I think to add basic google analytics - but that wouldn't necessarily get the level of detail you appear to be after.
I'll leave Andy to comment on ease or otherwise of integrating google tags for layers etc.

However couldn't you achieve similar by logging tiles served from geoserver ?

[2019-08-06 08:53] GMDuncan commented on #87
Just checking - would that also pick up non-mapper interaction with geoserver (e.g. people using the webservices with desktop GIS) and provide differing metrics dependent on screensize (because the layer request would be result in more tile downloads per layer)? Could maybe do some data munging to get around those, however.

[2019-08-06 09:05] JamesPe commented on #87
Hmm - Graham - yes it would pick up all use - whether you could separate it would I guess depend on how it was being called from desktop - if its using the same tiled service as the mapper it might be tricky.

However simply recording the adding of a layer doesn't tell you much about use really I would have thought - it could have been added and almost instantly discarded - or had 10,000 tile draw

[2019-08-06 09:15] GMDuncan commented on #87
QGIS, I think, defaults to requesting the entire canvas as a single image rather than tiles, unless the user specifies a tilesize, so potentially could slightly mitigate the desktop issue by filtering out desktop requests but looking for requests not containing "&TILED=TRUE" or something.

Agree on accidental layer activation and meaningful stats though. Not sure if google tracking could filter ou

[2019-08-06 12:03] andyb-esdm commented on #87
I'm not familiar with Google Tag Manager and it's relationship with google analytics - sorry. But it sounds like you might go for geoserver logging now?

I do know that setting up google analytics with the mapper should be straightforward. And, from a quick scan of the docs, it looks like we could use analytics' custom event tracking to monitor anything you wanted really from within the applicatio

[2019-08-06 13:59] GMDuncan commented on #87
Quick follow up question, assuming the code will be part of the core shared between the mappers, is it feasible that this could be configurable to enable or disable?

(EU are not keen on Google Analytics in general, so there is the possibility that the Emodnet mapper would need Google analytics completely disabled, is that right @JordanPinder ?)

[2019-08-06 15:08] andyb-esdm commented on #87
@GMDuncan Yes. That would be easy to do as a configuration option if we went that way.

[2019-08-07 14:52] jonparsonsjncc opened #91 "Install google tag manager code into https://mapper.mpa.jncc.gov.uk"
To allow injection of our google analytics code and tags specific to individual events, to allow us to report on individual click actions - please initially add the attached code

[mpa-tagmanager-code.txt](https://github.com/jncc/web-mapper-core/files/3477571/mpa-tagmanager-code.txt)

[2019-08-07 15:07] jonparsonsjncc commented on #91
Once this code is added I will be able to push in the analytics code to the page and also set up and inject the specific tags - which will be rendered in the code in the browser on opening.

We will see if we can lock our tags on to elements of the code so they will fire an event in analytics but we think it would be a lot easier if each input had a unique ID eg:

For a checkbox - then this existi

[2019-08-07 15:12] jonparsonsjncc commented on #87
Hi @andyb-esdm
We would like to implement google analytics, added by google tag manager, to enable us to report on in map activity
I have created a new ticket for the task of adding the google tag manager code
please refer to
https://github.com/jncc/web-mapper-core/issues/91
happy to discuss if any further information needed
thanks

[2019-08-08 09:57] andyb-esdm commented on #91
@jonparsonsjncc
There shouldn't be a problem adding the google tag manager code. I haven't tested yet but online articles suggest it lives happily with Angular.
But in #87 @GMDuncan was concerned tracking code might not be appropriate for EU websites. I considered having a configuration option for using GA directly but now I understand what Google Tag Manager is, I think it might be an idea to bra

[2019-08-08 11:13] GMDuncan commented on #91
Hi, I'd get clarification from @helen-lillis on the EU + Google aspects as she'll have a more up to date knowledge of their views than me, I just know it was commonly discussed at the EMODnet technical working groups when I attended (and the reason why, for example, Matomo was used as the tracking platform across the initiative)

[2019-08-08 11:20] jonparsonsjncc commented on #91
Hi @GMDuncan - I can confirm that google analytics should NOT be used for emodnet, we have just been through a GDPR review with this site and it was clear that google anaytics was not accepted. So we do need to think about options to restricting it to only the https://mapper.mpa.jncc.gov.uk/ domain.

[2019-08-08 11:27] jonparsonsjncc commented on #91
@GMDuncan in google tag manager - once the code is in place, there is a test mode in tagmanager with allows browsing of the page with an overlay which shows in a nice visual way when the tags fire etc, it also highlights if there are any other issues with the code. So once you have added its very easy to for me to test if all OK.
great to see that its also easy for you to add in the IDs - it makes

[2019-08-08 11:35] jonparsonsjncc commented on #91
BTW - we are using google data studio to pull together a dashboard of the relevant events together with top level visitor numbers - we have done it on another mapping project just recently - happy to share the dashboard of that - and the new one for the MPA when set up if of interest.

[2019-08-09 13:48] andyb-esdm commented on #91
@jonparsonsjncc I've created an 'analytics' branch, added the GTM scripts and deployed a production build to mapper.mpa.jncc.gov.uk.
Getting a 404 so I guess there's something you need to configure?
![image](https://user-images.githubusercontent.com/31621682/62783655-be3c1900-bab4-11e9-94ff-07c794f2e933.png)

[2019-08-09 13:50] andyb-esdm commented on #91
I haven't changed the code yet because we need to discuss and test but wanted to see if this works.

Yes, would be very interested to see what you have done for past mapping projects.

[2019-08-09 15:10] jonparsonsjncc commented on #91
Hi @andyb-esdm thanks for doing this - I have now published the container which has the google analytics code in it - and all working fine - see below of the tag manager test overlay page highlighting the analytics tag has been added and successfully fired on the page
![image](https://user-images.githubusercontent.com/50585245/62788989-e8470880-babf-11e9-8048-dda820bcf1b1.png)
so the door is ope n

[2019-08-09 15:13] jonparsonsjncc commented on #91
hi @andyb-esdm FYI - here's a screen shot of the dashboard for a new map we working on
![image](https://user-images.githubusercontent.com/50585245/62789300-88049680-bac0-11e9-8153-8f794b0cb615.png)
will be putting something similar together for MPA

[2019-08-12 07:18] HelenwoodsJNCC commented on #87
@andyb-esdm another potential support contract item is related to the loss of the base map imaging when zooming in. This is particularly an issue on bing maps where it stops returning images for the open ocean areas after zoom level 13, and this looks particularly odd around the coastal sites:
https://jncc.gov.uk/mpa-mapper?zoom=14&center=-1.598,55.395&layerIds=43,44,45,46,71,78,67,74&baseLayerId=

[2019-08-12 10:01] #56 closed

[2019-08-12 10:03] #58 closed

[2019-08-15 12:50] jonparsonsjncc commented on #91
Hi @andyb-esdm I have deployed some tags and these are recording nicely - see below - but change date range to today
https://datastudio.google.com/open/1XY1N27MJ37mp59XZZeRBhAICkq8-VSjo
but have a couple of questions - are you free for a call
my skype id is jonparsons

[2019-08-16 13:43] andyb-esdm commented on #87
@HelenwoodsJNCC  Sorry for the delay in my reply.
You're right this is a limitation with Bing Maps. For some reason marine tiles are replaced with a placeholder at much lower zoom levels than for terrestrial areas and it looks pretty jarring on that permalink. We've looked at a few options - though none of them are ideal.

1. We could set a maxzoom on the layer to force the tiles to stretch - inst

[2019-08-16 14:58] helen-lillis commented on #87
Hi @andyb-esdm , my views on the placeholder tiles issue are:
1. it would be a shame to lose the detail, so I'd rather we didn't do this
2. we discussed this option but thought it might be annoying to users wanting to see the coastline.
3. I think it would be worth looking into.

Could an alternative option be to use the EMODnet Bathymetry tile service as an alternative default? ([https://tiles.em

[2019-08-22 07:56] HelenwoodsJNCC commented on #87
@JamesPe can we get your thoughts/time estimates on the following issues as potential support work:
7. The ability to set the default drawing order for active layers displayed when the mapper is first started up
8. Update to the scroll bar to something a bit better looking and also something that is compatible with mobiles/tablets - the scroll bars don't currently appear when viewing the mapper on

[2019-08-22 09:16] JamesPe commented on #87
These really need @andyb-esdm  input but:
7.  Should be possible - I assume this is a default order for all users not user specific?  But how does this differ from the layer order that you currently specify when setting up a map group and layer ?  I assume you are wanting the draw order to differ from the layer control order?
It would need a new field in the API tables and I guess a sort order to

[2019-08-22 09:49] HelenwoodsJNCC commented on #87
Thanks @JamesPe, I know @andyb-esdm is on leave until September so I'm happy to wait for his comments, and then we can prioritise the issues.

[2019-09-02 10:53] andyb-esdm commented on #87
@HelenwoodsJNCC @JamesPe
7. Fortunately, we have two data structures that represent the layers: the layer config and a separate array of visible layers. So, if we had a default draw order column in the layer configuration, then we can sort by this value in the visible layers array, without affecting the layer order in the layer configuration.
For the API, the schema change (and updating the code t

[2019-09-04 07:41] HelenwoodsJNCC commented on #87
Thanks @andyb-esdm. When you get a chance can you start work on the following support issues:
3. Add a scrollbar to filter window
4. Search box clearing: clearing the previous search when the box is clicked on for a new search
7. Ability to set the default drawing order of layers
9. Map info box title update - @JordanPinder are you happy enough to have a standard title i.e. Map information, or wou

[2019-09-04 08:04] andyb-esdm commented on #87
@HelenwoodsJNCC Yes.
Is this as well as, or instead of, google tag manager work with @jonparsonsjncc and handling placeholder tiles?

[2019-09-04 08:04] jonparsonsjncc commented on #87
Hi @andyb-esdm<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fandyb-esdm&data=02%7C01%7CJon.Parsons%40jncc.gov.uk%7Cfd469e9343ab41d62b4408d7310b4778%7C444ee4e8b2fd491d8c318b0508370a6b%7C0%7C0%7C637031796832167212&sdata=MGZkOtpS9eQ%2FW4KEnfdyzBd3oyHRf3Npmbf8%2FAfSqfo%3D&reserved=0>

Welcome back

Please let me know when the IDs for the layers are in the live site and

[2019-09-04 08:09] andyb-esdm commented on #87
HI @jonparsonsjncc
Okay. I will know by the end of today how my time is allocated over this week and next.

[2019-09-04 08:11] HelenwoodsJNCC commented on #87
@andyb-esdm Im happy for you to finish the google tag manager work with @jonparsonsjncc before you start on my other issues. Once these 'smaller issues' are out of the way we plan to revisit the large items like placeholder tiles and hierarchical filtering - depending on how much time we have left. I will open new issue for these as they still require a bit of discussion and things might get lost

[2019-09-13 12:47] JordanPinder opened #92 "GeoServer WFS - bad request Error 400"
Afternoon @JamesPe !

We had some queries about the GeoServer WFS returning:

An Error 400 for some layers;

_"Layer OSPAR threatened and/or declining habitats - Polygons: Download of features for layer emodnet_open:ospar2018_poly failed or partially failed: Error when parsing GetFeature response : Error: XML or text declaration not at start of entity on line 1, column 471090. You may attempt relo

[2019-09-13 13:00] JamesPe commented on #92
Hi @JordanPinder ,

I guess that's not in our mapper as we don't use WFS ?

Not seen that one before but I would guess you have an attribute for an object which is messing up the XML.  Suggestions that leading blank spaces can upset it?

When you say the layer was working before are you sure it was working for the same area - as I can imagine this error would only be hit when you were trying to ge

[2019-09-13 13:28] GMDuncan commented on #92
In regards to the XML error, I've just tried downloading the ospar_polygons layer as GML through the Geoserver layer preview page, and at the bottom of the XML (once I upped the max features) was this:

`<ServiceExceptionReport
   version="1.2.0"
   xmlns="http://www.opengis.net/ogc"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.opengis.net/ogc http://s

[2019-09-16 12:44] andyb-esdm commented on #87
@HelenwoodsJNCC
Filter overlay size and overflow issue now fixed hopefully. Internet Explorer 11 caused some problems here because it made the new scrollbar overlaps the internal ones. So I've had to work around this by padding the right of the controls by 20px.
This change is only http://jnccdev-map.esdm.co.uk/ at the moment.
@jonparsonsjncc I'll do the GTM ids next (this week).

[2019-09-16 12:51] jonparsonsjncc commented on #87
Thanks Andy

I am off tomorrow and at the FOSS4G on Thursday Friday this week so may not have too much time to action if after Wednesday lunchtime

I was also thinking it might be best to apply the new tag to one of the layers first and let me test to see if it records ok - before applying to all

Its only a quick job to add in one and test so should be able to do this between conference talks if

[2019-09-17 08:54] HelenwoodsJNCC commented on #87
Thanks @andyb-esdm scroll bar is working for me.

[2019-09-17 15:01] andyb-esdm commented on #87
I've added the WMS layer ids to the divs that toggle the layers on and off. I'll update issue #91 with details.

[2019-09-17 15:03] andyb-esdm commented on #91
@jonparsonsjncc
I've updated the mapper so that the id of the div you click to toggle the layers off and on has an id equal to the layer name in geoserver e.g. 'mcz' for marine conservation zones.
Drop me a line or skype and we can talk through it.

[2019-10-09 12:51] HelenwoodsJNCC commented on #87
Thanks @andyb-esdm the google analytics stuff is all up and running. So I think the only support contact things open at the moment are:
- Search box clearing: clearing the previous search when the box is clicked on for a new search
- Ability to set the default drawing order of layers
- Map info box title update - Update to 'Map information'

[2019-10-09 12:58] andyb-esdm commented on #87
@HelenwoodsJNCC Okay - 1 and 3 are relatively trivial. I'll have a chat with @SimonAnnetts about the API for default drawing order. I'll review when I can do this in the next few days and let you know (I'll pop it in my calendar).

[2019-10-11 13:52] HelenwoodsJNCC commented on #87
@andyb-esdm all working well at this end. Thanks.

[2019-10-15 14:49] mattdebont commented on #86
Issue should now be resolved

[2019-10-15 14:49] #86 closed

[2019-10-24 10:25] andyb-esdm commented on #87
@HelenwoodsJNCC @JordanPinder I've spoken to @SimonAnnetts about the default active layer order. The code changes required are quite simple and we think around 2h to make the change between us. We will add a new column to the Layer table called LayerDefaultOrder, which will be a number. The lowest number across all layers will be at the top.

However, we're not sure how easy this will be to deploy

[2019-10-24 10:45] JordanPinder commented on #87
@andyb-esdm yes I've been meaning to get the EMODnet versioning sorted! Are you able to deploy this yourselves or do you also need input from our DDS team? If you do not need DDS input please feel free to deploy to the staging environment and I can give it a check :)

In terms of deploying the database schema and API update for layer ordering I'm sure we can get something arranged, although might